/**
 * document states
 */
$concepthandleTextColor:				#999;
$conceptHandleBackgroundColor:	#FDFF6B;

$doneHandleTextColor:						#999;
$doneHandleBackgroundColor:			#a0d7a0;

$halfdoneHandleTextColor:				#999;
$halfdoneHandleBackgroundColor:	#BDD0F2;

$confirmedHandleTextColor:			#999;
$confirmedHandleBackgroundColor:#BDD0F2;

$editHandleTextColor:						#999;
$editHandleBackgroundColor:			#FFCB6B;

$deleteHandleTextColor:					#999;
$deleteHandleBackgroundColor:		#000;

$cancelHandleTextColor:					#999;
$cancelHandleBackgroundColor:		#ff4040;

$archiveHandleTextColor:				#999;
$archiveHandleBackgroundColor:	#DEDEDE;
