<div class='etkHeadSchoolName'>{{cfgItem.options.core.ownerFullName}}</div>
<div class='h1'>Třídní kniha pro kolektivní výuku</div>

<table class='etkHead'>
	<tr>
		<td>
			<table>
				<tr><td>Školní rok:</td><td>{{data.head.print.skolniRok}}</td></tr>
				<tr><td>Obor:</td><td>{{data.head.print.svpObor}}</td></tr>
				<tr><td>Učitel/ka:</td><td>{{data.ucitel.fullName}}</td></tr>
			</table>
		</td>
		<td>
			<table>
				<tr><td>Vyučovací předměty:</td>
					<td>
						{{data.predmet.nazev}}
						{{#data.predmet2.nazev}}<br>{{data.predmet2.nazev}}{{/data.predmet2.nazev}}
					</td>
				</tr>
				<tr><td>Ročníky:</td><td>{{data.rocnikyText}}</td></tr>
			</table>
		</td>
	</tr>
</table>

<div class='h2'>Roční studijní plán</div>
<div class='etkStudijniPlan'>
	{{{data.studijniPlan}}}
</div>

<div class='h2'>Vyučovací hodiny</div>
<table class='ethHours'>
	<thead>
	<tr>
		<th>Dat.</th>
		<th>Probíraná látka</th>
	</tr>
	</thead>
	{{#data.hodiny}}
		<tr>
			<td>{{datum}}</td>
			<td>{{probiranaLatka}}</td>
		</tr>
	{{/data.hodiny}}
</table>



{{{@renderContent;dataItem:data.dochazka}}}

