<input type='hidden' name='portal' value='1'>
<input type='hidden' name='storage' value='{{data.storageNdx}}'>
<input type='hidden' name='doFolder'>
<input type='hidden' name='doUpFolder'>
<input type='hidden' name='activeFolder' value='{{data.activeFolder}}'>

{{#data.storages.0}}
  <table class='table'>
    <tr>
      <th></th>
      <th>Název</th>
    </tr>
    {{#data.storages}}
      <tr>
        <td style='width: 2rem; text-align: center;'>{{{@icon;icon:system/iconUser}}}</td>
        <td><span class="shp-widget-action" data-action='set-param-value' data-param-name='storage' data-value='{{ndx}}'>{{fullName}}</span></td>
      </tr>
    {{/data.storages}}
  </table>
{{/data.storages.0}}

{{^data.storages.0}}
  <h3>{{data.storageName}}</h3>
  <div style='boder: 1px solid red;'>
    <span class="shp-widget-action" data-action='set-param-value' data-param-name='storage' data-value='0'>START</span> /
    <span class="shp-widget-action" data-action='set-param-value' data-param-name='doFolder' data-value='/'>HOME</span>
    {{#data.foldersMenu}}
      / <span class="shp-widget-action" data-action='set-param-value' data-param-name='doFolder' data-value='{{rpath}}'>{{name}}</span>
    {{/data.foldersMenu}}
  </div>

  <table class='table'>
    <tr>
      <th></th>
      <th>Název</th>
      <th>Velikost</th>
    </tr>

    {{#data.activeFolder}}
      <tr>
        <td style='width: 2rem; text-align: center;'>{{{@icon;icon:user/folder}}}</td>
        <td><span class="shp-widget-action" data-action='set-param-value' data-param-name='doUpFolder' data-value='UP'>Zpět</span></td>
        <td></td>
      </tr>
    {{/data.activeFolder}}

    {{#data.folders}}
      <tr>
        <td style='width: 2rem; text-align: center;'>{{{@icon;icon:user/folder}}}</td>
        <td><span class="shp-widget-action" data-action='set-param-value' data-param-name='doFolder' data-value='{{rpath}}'>{{name}}</span></td>
        <td></td>
      </tr>
    {{/data.folders}}

    {{#data.files}}
      <tr>
        <td>{{{@icon;icon:user/file}}}</td>
        <td>
          {{name}} <a class='shpd-btn shpd-btn-primary' href='{{uiRoot}}api/v2/files/download{{data.activeFolder}}/{{name}}'>Download</a>
        </td>
        <td>{{fs}}</td>
      </tr>
    {{/data.files}}
  </table>
{{/data.storages.0}}
