<!DOCTYPE html>
<html lang="cs" style="height:100%;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">
	<title>{{page.pageTitle}}</title>
	<link href="{{scRoot}}/bs/5.1/dist/css/bootstrap.min.css?v511" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{dsRoot}}/www-root/sc/icons/fa/5/css/all.min.css">
	{{#page.url_user_registration}}
	{{#cfgItem.recaptcha-v3-app-site-key}}<script src='https://www.google.com/recaptcha/api.js?render={{cfgItem.recaptcha-v3-app-site-key}}'></script>{{/cfgItem.recaptcha-v3-app-site-key}}
	{{/page.url_user_registration}}

	<style>
		form>p {text-align: center;}
		.e10-form-input-error {color: #AA0000; }
	</style>
</head>

{{#page.url_user_login}}
	{{{@thisWorkplace;searchUsers:1}}}
{{/page.url_user_login}}

<body style="height: 100vh !important;">
<div class="container-fluid" id="main-container" style="height: 100vh !important; overflow-y: auto;">
	<div id="main-row" class="row h-100">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-5" style="background-color:#E0E0E0EF; box-shadow: 4px 0px 4px rgba(0,0,0,.3); min-height: 100vh;">
			<div class="d-flex align-items-end flex-column h-100 __p-1">
				
				<div class="w-100 pt-3">
					<ul class="nav nav-pills nav-fill __nav-justified">
						<li class='nav-item'><a class="nav-link {{#page.url_user_login}} active{{/page.url_user_login}}" href="{{@urlUser;type:login}}"><span><i class="fa fa-sign-in-alt"></i> {{@tr;id:e10.base.system.DictSystem.diLoginPage_Menu_Login}}</span></a></li>
						<li class='nav-item'><a class="nav-link {{#page.url_user_lost-password}} active{{/page.url_user_lost-password}}" href="{{@urlUser;type:lostPassword}}"><i class="fa fa-lock"></i> <span style='white-space: pre;'>{{@tr;id:e10.base.system.DictSystem.diLoginPage_Menu_LostPassword}}</span></a></li>
						{{#cfgItem.enableUserRegistration}}
							<li class='nav-item'><a class="nav-link {{#page.url_user_registration}} active{{/page.url_user_registration}}" href="{{@urlUser;type:registration}}"><span><i class="fa fa-user"></i> Registrace</span></a></li>
						{{/cfgItem.enableUserRegistration}}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa fa-language"></i> {{userLanguage.f}} {{userLanguage.sc}}</a>
							<ul class="dropdown-menu">
								{{#systemLanguages}}
										<li><a class="dropdown-item {{#active}} active{{/active}}" href="{{@urlUser;type:setLanguage}}/{{id}}"><span>{{f}} {{sc}}{{#beta}}<sup style="margin-left: 6px;background-color: #333;color: #eee; border-radius: 4px; padding: 0 4px;">beta</sup>{{/beta}}</span></a></li>
								{{/systemLanguages}}
							</ul>
						</li>
					</ul>
				</div>

				<div class="w-100 text-center pt-5 pb-5">
				{{#cfgItem.flags.loginScreenLogo}}<img src="{{cfgItem.flags.loginScreenLogo}}" style="height: 5vh;" title="{{cfgItem.options.core.ownerFullName}}"></img>{{/cfgItem.flags.loginScreenLogo}}
				{{^cfgItem.flags.loginScreenLogo}}<h3>{{cfgItem.options.core.ownerFullName}}</h3>{{/cfgItem.flags.loginScreenLogo}}
				</div>

				<div class="w-100 p-3">
					<h2 class="text-center pb-2">{{page.title}}</h2>
					{{{pageText}}}
				</div>
				
				<div class="w-100">
					{{#data.thisWorkplace.loginUsers}}
						<ul class="list-group e10-sp-userslist" style="text-align: left;">
							{{#data.thisWorkplace.loginUsersList}}
								<li class="list-group-item" data-login="{{login}}"><i class="fa fa-user"></i> <b>{{firstName}}</b> {{lastName}}</li>
							{{/data.thisWorkplace.loginUsersList}}
						</ul>
					{{/data.thisWorkplace.loginUsers}}
				</div>
				
				<div class="mt-auto p-2 text-center w-100">
					<div>
						<span class='e10-sp-title2'><b>{{@tr;id:e10.base.system.DictSystem.diCore_TechnicalSupport}}:</b> <a href="{{cfgItem.dsi.supportUrl}}" target="new">{{cfgItem.dsi.supportName}}</a></span><br>
						{{#cfgItem.dsi.supportPhone}}<span class='e10-sp-title2'><i class="fa fa-phone"></i> {{cfgItem.dsi.supportPhone}}</span>{{/cfgItem.dsi.supportPhone}}
						<span class='e10-sp-title2'><i class="fa fa-envelope"></i> <a href="mailto:{{cfgItem.dsi.supportEmail}}">{{cfgItem.dsi.supportEmail}}</a></span>
					</div>
					<div>
						<small>powered by <a href="https://shipard.org" target="new">shipard.org</a>
							| {{@tr;id:e10.base.system.DictSystem.diCore_Version}} {{cfgItem.serverInfo.e10version}}.{{cfgItem.serverInfo.e10commit}}.{{#mobileMode}}m{{/mobileMode}}{{^mobileMode}}d{{/mobileMode}}.<span class='d-sm-none'>xs</span><span class='d-none d-sm-inline d-md-none'>sm</span><span class='d-none d-md-inline d-lg-none'>md</span><span class='d-none d-lg-inline d-xl-none'>lg</span><span class='d-none d-xxl-none d-xl-inline'>xl</span><span class='d-none d-xl-none d-xxl-inline'>xxl</span>{{#cfgItem.develMode}}.dev{{/cfgItem.develMode}}</small>
					</div>
				</div>
				
			</div>
		</div>

		<div class="col-sm-6 col-md-7 col-lg-6 col-xl-7" style="background-color: transparent;">
		</div>
	</div>
</div>	


<script type="text/javascript" src="{{scRoot}}/libs/js/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{scRoot}}/bs/5.1/dist/js/bootstrap.bundle.min.js?v511"></script>

<script>
	var loginScreenUrl = '{{#cfgItem.authServerUrl}}{{cfgItem.authServerUrl}}{{/cfgItem.authServerUrl}}{{^cfgItem.authServerUrl}}https://shipard.app/{{/cfgItem.authServerUrl}}/feed/loginScreen/test';
	if (window.location.hash !== '')
	{
		if (window.location.hash.lastIndexOf('#date:', 0) === 0)
		{
				loginScreenUrl += "?date="+window.location.hash.substr(6);
		}
	}

    var jqxhr = $.getJSON (loginScreenUrl, function(data) {
			var podCode = '';
				$("body").css ({
					"background-image": "url('" + data.object.backgroundPicture + "')",
					"background-size": "cover",
					"background-position": "center center",
					"background-repeat": "no-repeat",
					});

        var podInfo = "";
        if (data.object.podTitle !== undefined)
        {
            podInfo += '<a href="' + data.object.podUrl +'" target="new">' + data.object.podTitle + '</a>' + ' <sup><i class="fa fa-external-link"></i></sup>';
            if (data.object.podYears !== undefined)
                podInfo += '<br>' + data.object.podYears;

            $('#e10-sp-podInfo').html (podInfo);
        }
    });


		{{#data.thisWorkplace.loginUsers}}
		$('#login').attr('autocomplete', 'off');
		$('#password').attr('autocomplete', 'off');
		$("#e10-lf").attr('autocomplete', 'off');
		$('#login').val('');

		$("body").on ('click', "ul.e10-sp-userslist>li", function(event) {
				event.stopPropagation();
				event.preventDefault();
				$('#login').val($(this).attr ('data-login'));
				$('#password').val('').focus();
		});
		{{/data.thisWorkplace.loginUsers}}


		{{#page.url_user_login}}
				{{#cfgItem.autoLoginUser}}$('#login').val('{{cfgItem.autoLoginUser}}');{{/cfgItem.autoLoginUser}}
				{{#cfgItem.autoLoginPassword}}$('#password').val('{{cfgItem.autoLoginPassword}}');{{/cfgItem.autoLoginPassword}}
		{{/page.url_user_login}}
</script>

{{#page.url_user_registration}}
	{{#cfgItem.recaptcha-v3-app-site-key}}
		<script>
			$('form').show();
			$('form').submit(function(event) {
				event.preventDefault();
				grecaptcha.ready(function() {
					grecaptcha.execute('{{cfgItem.recaptcha-v3-app-site-key}}', {action: 'registration_form'}).then(function(token) {
						var recaptchaResponse = document.getElementById('recaptcha-response');
						recaptchaResponse.value = token;
						$('form').unbind('submit').submit();
					});
				});
			});
		</script>
	{{/cfgItem.recaptcha-v3-app-site-key}}
{{/page.url_user_registration}}

</body>
</html>
