<!-- purchases on mobile -->
<div class="d-lg-none">
  <div class="card-body pt-1 pb-1">
      <span>{{{@icon;icon:user/file}}} {{data.listRow.docNumber}}</span><br>
      <span>{{{@icon;icon:user/calendar}}} {{data.listRow.dateAccounting}}</span>
      <span class="ms-2">{{{@icon;icon:user/moneyBill}}} {{data.listRow.sumTotal}} {{data.listRow.currency}}</span><br>
      <span class="text-{{data.listRow.balanceInfo.class}}">{{{@icon;dataItem:data.listRow.balanceInfo.icon}}} {{data.listRow.balanceInfo.text}}</span>
      <div class="mt-2">
        <button class='btn btn-sm btn-outline-secondary shp-widget-action' data-action='open-modal' data-action-param-modal-type='documentCard' data-action-param-pk='{{data.listRow.pk}}' data-action-param-class-id='e10pro.purchase.libs.apps.DocumentCardPurchase' data-action-param-table='e10doc.core.heads'>{{{@icon;icon:user/archive}}} Detail</button>
        <span class="btn btn-sm btn-outline-secondary shp-widget-action" data-url='{{data.listRow.reportFileName}}' data-action='open-popup'>{{{@icon;icon:user/fileDownload}}}</span>
      </div>
  </div>
</div>

<!-- purchases on web -->
<div class="d-none d-lg-block">
  <div class="card-body pt-1 pb-1">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span>{{{@icon;icon:user/file}}} {{data.listRow.docNumber}}</span><br>
        <span>{{{@icon;icon:user/calendar}}} {{data.listRow.dateAccounting}}</span>
        <span class="ms-3">{{{@icon;icon:user/moneyBill}}} {{data.listRow.sumTotal}} {{data.listRow.currency}}</span>
        <span class="text-{{data.listRow.balanceInfo.class}} ms-3">{{{@icon;dataItem:data.listRow.balanceInfo.icon}}} {{data.listRow.balanceInfo.text}}</span>
      </div>
      <div>
        <button class='btn btn-outline-secondary shp-widget-action' data-action='open-modal' data-action-param-modal-type='documentCard' data-action-param-pk='{{data.listRow.pk}}' data-action-param-class-id='e10pro.purchase.libs.apps.DocumentCardPurchase' data-action-param-table='e10doc.core.heads'>{{{@icon;icon:user/archive}}} Detail</button>
        <span class="btn btn-outline-secondary shp-widget-action" data-url='{{data.listRow.reportFileName}}' data-action='open-popup'>{{{@icon;icon:user/fileDownload}}}</span>
      </div>
    </div>
  </div>
</div>