<div class="container-fluid mb-2">
	<!-- Main Info -->
	<div class="ms-1">
		Číslo {{data.head.docNumber}}<br>
		{{@dict;Datum vystavení}}: {{data.head.dateIssue}}<br>
		{{@dict;Variabilní symbol}}: {{data.head.symbol1}}
	</div>
	<!-- End Main Info -->

	<!-- Rows on mobile-->
	{{#data.rows}}
		<div class="d-lg-none">
			<div class="card mb-2 mt-2">
				<div class="card-body justify-content-between align-items-center">
					{{text}}{{#additionsMarks}}<sup> {{additionsMarks}}</sup>{{/additionsMarks}}<br>
					{{#itemDecription}}<small class="text-muted">{{itemDecription}}</small><br>{{/itemDecription}}

					{{#data.flags.itemCodesList}}
						<!--<ul class="itemCodesList{{#data.flags.itemCodesInline}} itemCodesListInline{{/data.flags.itemCodesInline}}">-->
							{{#rowItemCodes}}
								<!--{{#itemCodeText}}<li>{{itemCodeName}}: {{itemCodeText}}</li>{{/itemCodeText}}-->
								{{#itemCodeText}}{{itemCodeName}}: {{itemCodeText}}{{/itemCodeText}}
							{{/rowItemCodes}}
						<!--</ul>-->
					{{/data.flags.itemCodesList}}

					{{#rowDataHtmlCode}}<div>{{{rowDataHtmlCode}}}</div>{{/rowDataHtmlCode}}

					<div class="d-flex pt-2 justify-content-between">
						<span>{{quantity}}
						{{@dict;dataItem:print.unit}}</span>
						<span>{{print.priceItem}} {{data.head.print.currency}}/{{@dict;dataItem:print.unit}}</span>
						<span>{{print.priceAll}} {{data.head.print.currency}}</span>
					</div>
				</div>
			</div>
		</div>
	{{/data.rows}}
	<!-- End Rows on mobile-->

	<!-- Rows on web-->
	{{#data.rows}}
		<div class="d-none d-lg-block">
			<div class="card rowsOnWeb mb-2 mt-2">
				<div class="card-body d-flex justify-content-between align-items-center">
					<div class="flex-grow-1">
						{{text}}{{#additionsMarks}}<sup> {{additionsMarks}}</sup>{{/additionsMarks}}<br>
						{{#itemDecription}}<small class="text-muted mt-0">{{itemDecription}}</small><br>{{/itemDecription}}
						{{#data.flags.itemCodesList}}
							<!--<ul class="itemCodesList{{#data.flags.itemCodesInline}} itemCodesListInline{{/data.flags.itemCodesInline}}">-->
								{{#rowItemCodes}}
									<!--{{#itemCodeText}}<li>{{itemCodeName}}: {{itemCodeText}}</li>{{/itemCodeText}}-->
									{{#itemCodeText}}{{itemCodeName}}: {{itemCodeText}}{{/itemCodeText}}
								{{/rowItemCodes}}
							<!--</ul>-->
						{{/data.flags.itemCodesList}}
						{{#rowDataHtmlCode}}<div>{{{rowDataHtmlCode}}}</div>{{/rowDataHtmlCode}}
					</div>

					<span>{{quantity}}
					{{@dict;dataItem:print.unit}}</span>
					<span>{{print.priceItem}} {{data.head.print.currency}}/{{@dict;dataItem:print.unit}}</span>
					<span>{{print.priceAll}} {{data.head.print.currency}}</span>
				</div>
			</div>
		</div>
	{{/data.rows}}
	<!-- End Rows on web -->

	<!-- Price Summary -->
	<div class="text-end">
		{{#data.flags.enablePrice}}
			{{data.head.print.sumTotal}} {{data.head.print.currency}}<br>
			zaokrouhlení: {{data.head.print.rounding}} {{data.head.print.currency}}<br>
			<h5 class="pt-1">Celkem: {{data.head.print.toPay}} {{data.head.print.currency}}</h5>
		{{/data.flags.enablePrice}}
	</div>
	<!-- End Price Summary-->

	<!-- Addresses -->
	<div class="row row-cols-1 row-cols-md-2 g-2">
		<div class="col order-1 order-lg-1">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title mb-0">Odběratel</h5>

					{{#data.reportTexts.supplierAndContacts}}{{{data.reportTexts.supplierAndContacts}}}{{/data.reportTexts.supplierAndContacts}}
					{{^data.reportTexts.supplierAndContacts}}
						{{#data.reportTexts.supplier}}{{{data.reportTexts.supplier}}}<br></div>{{/data.reportTexts.supplier}}
						{{^data.reportTexts.supplier}}
							<span class="fw-bold">{{data.owner.fullName}}</span><br>
							{{#data.owner.address.specification}}
								{{data.owner.address.specification}}<br/>
							{{/data.owner.address.specification}}
							{{data.owner.address.street}}<br/>
							{{^data.flags.foreignCountry}}
								{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
							{{/data.flags.foreignCountry}}
							{{#data.flags.foreignCountry}}
								{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
								{{data.owner.address.countryNameEng}}
							{{/data.flags.foreignCountry}}
						{{/data.reportTexts.supplier}}
						{{#data.reportTexts.contacts}}{{{data.reportTexts.contacts}}}{{/data.reportTexts.contacts}}
						{{^data.reportTexts.contacts}}
							<div class="">{{#data.owner_identifiers}}
								{{@dict;dataItem:name}}: {{value}}
							{{/data.owner_identifiers}}</div>

							<small class="ms-0">{{cfgItem.options.core.ownerLegalRegInfo}}</small>
						{{/data.reportTexts.contacts}}
					{{/data.reportTexts.supplierAndContacts}}
				</div>
			</div>
		</div>

		<div class="col order-3 order-lg-2">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title mb-0">Dodavatel</h5>

					<span class="fw-bold">{{data.person.fullName}}</span><br>
					{{#data.person.address.specification}}
						{{data.person.address.specification}}<br/>
					{{/data.person.address.specification}}
					{{data.person.address.street}}<br/>
					{{^data.flags.foreignCountry}}
						{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
					{{/data.flags.foreignCountry}}
					{{#data.flags.foreignCountry}}
						{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
						{{data.person.address.countryNameEng}}
					{{/data.flags.foreignCountry}}

					{{#data.person_identifiers}}
						{{@dict;dataItem:name}}: {{value}}
					{{/data.person_identifiers}}
				</div>
			</div>
		</div>

		{{#data.flags.usePersonsAddress}}
			{{#data.flags.useAddressOwnerOffice}}
				<div class="col order-2 order-lg-3">
					<div class="card h-100">
						<div class="card-body">
							<h5 class='card-title mb-0'>{{@dict;Provozovna odběratele}}:</h5>
							{{#data.personsAddress.ownerOffice.specification}}
								{{data.personsAddress.ownerOffice.specification}}<br/>
							{{/data.personsAddress.ownerOffice.specification}}
							{{data.personsAddress.ownerOffice.street}}<br/>
							{{^data.flags.foreignCountry}}
								{{data.personsAddress.ownerOffice.zipcode}} {{data.personsAddress.ownerOffice.city}}<br/>
							{{/data.flags.foreignCountry}}
							{{#data.flags.foreignCountry}}
								{{data.personsAddress.ownerOffice.zipcode}} {{data.personsAddress.ownerOffice.city}}<br/>
								{{data.personsAddress.ownerOffice.countryNameEng}}
							{{/data.flags.foreignCountry}}

							{{#data.personsAddress.ownerOffice.ids}}
								{{title}}: {{value}}
							{{/data.personsAddress.ownerOffice.ids}}
						</div>
					</div>
				</div>
			{{/data.flags.useAddressOwnerOffice}}

			{{#data.flags.useAddressPersonDelivery}}
				<div class="col order-5">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title mb-0">{{@dict;Doručovací adresa}}:</h5>
							{{#data.personsAddress.deliveryAddress.specification}}
								{{data.personsAddress.deliveryAddress.specification}}<br/>
							{{/data.personsAddress.deliveryAddress.specification}}
							{{data.personsAddress.deliveryAddress.street}}<br/>
							{{^data.flags.foreignCountry}}
								{{data.personsAddress.deliveryAddress.zipcode}} {{data.personsAddress.deliveryAddress.city}}<br/>
							{{/data.flags.foreignCountry}}
							{{#data.flags.foreignCountry}}
								{{data.personsAddress.deliveryAddress.zipcode}} {{data.personsAddress.deliveryAddress.city}}<br/>
								{{data.personsAddress.deliveryAddress.countryNameEng}}
							{{/data.flags.foreignCountry}}
						</div>
					</div>
				</div>
			{{/data.flags.useAddressPersonDelivery}}


			{{#data.flags.useAddressPersonOffice}}
				<div class="col order-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title mb-0">{{@dict;Provozovna dodavatele}}:</h5>
							{{#data.personsAddress.personOffice.specification}}
								{{data.personsAddress.personOffice.specification}}<br/>
							{{/data.personsAddress.personOffice.specification}}
							{{data.personsAddress.personOffice.street}}<br/>
							{{^data.flags.foreignCountry}}
								{{data.personsAddress.personOffice.zipcode}} {{data.personsAddress.personOffice.city}}<br/>
							{{/data.flags.foreignCountry}}
							{{#data.flags.foreignCountry}}
								{{data.personsAddress.personOffice.zipcode}} {{data.personsAddress.personOffice.city}}<br/>
								{{data.personsAddress.personOffice.countryNameEng}}
							{{/data.flags.foreignCountry}}

							{{#data.personsAddress.personOffice.ids}}
								{{title}}: {{value}}
							{{/data.personsAddress.personOffice.ids}}
						</div>
					</div>
				</div>
			{{/data.flags.useAddressPersonOffice}}

			{{#data.flags.useORP}}
				<div class="col order-6">
					<div class="card h-100">
						<div class="card-body">
							<h5 class='card-title mb-0'>{{@dict;Původ odpadu}}:</h5>
							ORP: {{data.ORP.code}}<br/>
							Obec: {{data.ORP.name}}<br/>
						</div>
					</div>
				</div>
			{{/data.flags.useORP}}

		{{/data.flags.usePersonsAddress}}
	</div>
	<!-- End Addresses -->

<!--
	<table class='vkp-vykup-celkem'>
		<tr>
			<td class='vkp-vykup-celkem-info'>
				{{#data.flags.payInvoice}}
					Částka bude uhrazena na základě Vaší faktury.<br/>
					Režim přenesení daňové povinnosti - §92a-92e.<br/>
					Materiál podléhá základní sazbě DPH.<br/>
				{{/data.flags.payInvoice}}
				{{#data.flags.payBatch}}
					Částka za tento výkup bude uhrazena v hotovosti,<br/>
					v termínu na základě vzájemné dohody.<br/>
				{{/data.flags.payBatch}}
				{{#data.flags.payBankOrder}}
									Částka bude uhrazena bezhotovostně na účet {{data.head.bankAccount}},<br/>
					variabilní symbol {{data.head.symbol1}}.<br/>
				{{/data.flags.payBankOrder}}
			</td>
			<td class='vkp-vykup-celkem-cena'>
				{{#data.flags.enablePrice}}
					{{#data.flags.payCash}}
						k úhradě
					{{/data.flags.payCash}}
					{{#data.flags.payInvoice}}
						k fakturaci
					{{/data.flags.payInvoice}}
					{{#data.flags.payBatch}}
						k vyúčtování
					{{/data.flags.payBatch}}

					{{data.head.print.toPay}} {{data.head.print.currency}}
				{{/data.flags.enablePrice}}
			</td>
		</tr>
	</table>
	-->
</div>