{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
Přehled odebraných odpadů za {{data.periodNameL}} {{data.periodValue}}
{{/data.reportTexts.emailSubject}}
