{{textMode}}Dobrý den,

zasíláme vám přehled odebraných odpadů za {{data.periodNameL}} {{data.periodValue}}.


S pozdravem

--
 {{data.owner.fullName}}
{{#data.owner_contacts}}
 {{name}}: {{value}}
{{/data.owner_contacts}}
