</table>

<div style="font-size: 8pt">
    Základ daně/Daň 1 - základní sazba daně, 2 - první snížená sazba daně, 3 - druhá snížená sazba daně
    <br/>
    <sup>**</sup> Datum povinnosti přiznat daň dle § 21 ZDPH
</div>


</div>

