<div class='e10-tax-report'>
<div class="newPage"></div>
    <table class="formSection">
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td colspan="13"><b>KONTROLNÍ OPIS</b></td>
            <td colspan="15" class="r">Pořadové číslo stránky / Celkový počet stran</td>
            <td colspan="5" class="input c"><span>{{data.currentPageNumber}} / {{data.cntPagesTotal}}</span></td>
        </tr>
        <tr><td colspan="33"><b>A. ODDÍL</b> - Plnění, u kterých je plátce povinen přiznat daň a uskutečněná plnění v režimu přenesení daňové povinnosti</td></tr>
        <tr><td colspan="33"><b>A. 2.</b> - Přijatá zdanitelná plnění, u kterých je povinen přiznat daň příjemce dle § 108 odst. 1 písm. b) a c) (§ 24, § 25)</td></tr>
    </table>

    <table class="tableSection">
        <thead>
            <tr>
                <th>Číslo<br/>řádku</th>
                <th>Identifikace<br/>dodavatele<br/>(VAT ID)</th>
                <th>Ev. číslo<br>daňového dokladu</th>
                <th>DPPD<sup>**</sup></th>
                <th>Základ daně 1</th>
                <th>Daň 1</th>
                <th>Základ daně 2</th>
                <th>Daň 2</th>
                <th>Základ daně 3</th>
                <th>Daň 3</th>
            </tr>
            <tr style="background-color: #eee;">
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
        </thead>
