{
	"name": "{{data.device.recData.id}}",
	"hostname": "{{data.device.managementIp}}",
	"community": "public",
	"update_every": 30,
	"options": {
		"timeout": 20000,
		"version": 1
	},
	"charts": [
		{
			"id": "bandwidth_port",
			"title": "Bandwidth for port ",
			"titleoid":"1.3.6.1.2.1.2.2.1.2.",
			"units": "kilobits/s",
			"type": "area",
			"priority": 1,
			"family": "ports",
			"multiply_range": [1, {{data.device.cntPortsPhysical}} ],
			"dimensions": [
				{
					"name": "in",
					"oid": "1.3.6.1.2.1.2.2.1.10.",
					"algorithm": "incremental",
					"multiplier": 8,
					"divisor": 1024
				},
				{
					"name": "out",
					"oid": "1.3.6.1.2.1.2.2.1.16.",
					"algorithm": "incremental",
					"multiplier": -8,
					"divisor": 1024
				}
			]
		},
		{
			"id": "uptime",
			"title": "{{data.device.recData.id}} Uptime",
			"units": "seconds",
			"type": "gauge",
			"family": "uptime",
			"priority": 6,
			"dimensions": [
				{"name": "uptime", "divisor": 100, "oid": "1.3.6.1.2.1.1.3.0"}
			]
		}
	]
}
