<div class='e10-tax-report'>
<div class="newPage"></div>
    <table class="formSection">
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td colspan="13"><b>KONTROLNÍ OPIS</b></td>
            <td colspan="15" class="r">Pořadové číslo stránky / Celkový počet stran</td>
            <td colspan="5" class="input c"><span>{{data.currentPageNumber}} / {{data.cntPagesTotal}}</span></td>
        </tr>
        <tr><td colspan="33"><b>A. ODDÍL</b> - Plnění, u kterých je plátce povinen přiznat daň a uskutečněná plnění v režimu přenesení daňové povinnosti</td></tr>
        <tr><td colspan="33"><b>A. 1.</b> - Uskutečněná zdanitelná plnění v režimu přenesení daňové povinnosti, u kterých je povinen přiznat daň příjemce plnění podle § 92a</td></tr>
    </table>

    <table class="tableSection">
        <thead>
            <tr>
                <th>Číslo<br/>řádku</th>
                <th>DIČ<br/>odběratele</th>
                <th>Ev. číslo<br>daňového dokladu</th>
                <th>DUZP</th>
                <th>Základ daně</th>
                <th>Kód<br/>přemětu plnění</th>
            </tr>
            <tr style="background-color: #eee;">
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
            </tr>
        </thead>
