<div class='e10-tax-report'>
    <div class="newPage"></div>
    <table class="formSection">
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td colspan="13"><b>KONTROLNÍ OPIS</b></td>
            <td colspan="15" class="r">Pořadové číslo stránky / Celkový počet stran</td>
            <td colspan="5" class="input c"><span>{{data.currentPageNumber}} / {{data.cntPagesTotal}}</span></td>
        </tr>
        <tr><td colspan="33"><b>B. ODDÍL</b> - Přijatá zdanitelná plnění s místem plnění v tuzemsku</td></tr>
        <tr>
            <td colspan="33">
                <b>B. 2.</b> - Přijatá zdanitelná plnění a poskytnuté úplaty, u kterých příjemce uplatňuje nárok na odpočet daně dle § 73 odst. 1 písm. a) s hodnotou nad 10.000,- Kč včetně daně a všechny
                přijaté opravy podle § 44 bez ohledu na limit
            </td>
        </tr>
    </table>

    <table class="tableSection">
        <thead>
        <tr>
            <th>Číslo<br/>řádku</th>
            <th>DIČ<br/>dodavatele</th>
            <th>Ev. číslo<br>daňového dokladu</th>
            <th>DPPD<sup>**</sup></th>
            <th>Základ daně 1</th>
            <th>Daň 1</th>
            <th>Základ daně 2</th>
            <th>Daň 2</th>
            <th>Základ daně 3</th>
            <th>Daň 3</th>
            <th><div style="float: right; transform: rotate(270deg);display: inline-block; font-size: 65%;">Použitý<br>poměr</div></th>
            <th><div style="float: right; transform: rotate(270deg);display: inline-block;">§ 44<br>ZDPH</div></th>
        </tr>
        <tr style="background-color: #eee;">
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
        </tr>
        </thead>
