<!DOCTYPE HTML>
<html lang="cs">
<head>
		<title>test</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/style-default.css" type="text/css"/>

		<style>
			div#bankorder-top {font-size: 14pt; text-align: center; padding-top: 5pt;}

			div#simple-text {font-size: 10pt;}

			table#bankorder {margin-top: 10pt; border-collapse: collapse; width: 100%;}
			table#bankorder td {font-size: 10pt; text-align: center; margin: 0; padding: 3pt;}
			table#bankorder td.w10 {width: 10%;}
			table#bankorder td.w20 {width: 20%;}
			table#bankorder td.w30 {width: 30%;}
			table#bankorder td.w40 {width: 40%;}
			table#bankorder td.w50 {width: 50%;}
			table#bankorder td.border {border: .8pt solid #999;}
			table#bankorder td.noborder {border: 0;}
			table#bankorder td.right {text-align: right;}

			span#footer {font-size: 10pt;}
			span.with-line {float: right; margin-left: 20pt; border-top: .8pt solid #999; width: 100pt; padding-top: 2pt; text-align: center;}

			div.newPage {page-break-before: always; padding-bottom: 2pt;}
		</style>
</head>
<body>

	{{#data.pages}}
		{{#newPage}}
			<div class="newPage"></div>
		{{/newPage}}
		<div id='bankorder-top'>
			{{#oneRow}}
				{{#directDebit}}
					<span class='documentName'>PŘÍKAZ K INKASU</span>
				{{/directDebit}}
				{{^directDebit}}
					<span class='documentName'>PŘÍKAZ K ÚHRADĚ</span>
				{{/directDebit}}
			{{/oneRow}}
			{{^oneRow}}
				{{#directDebit}}
					<span class='documentName'>HROMADNÝ PŘÍKAZ K INKASU</span>
				{{/directDebit}}
				{{^directDebit}}
					<span class='documentName'>HROMADNÝ PŘÍKAZ K ÚHRADĚ</span>
				{{/directDebit}}
			{{/oneRow}}
		</div>

		<div id="simple-text">
			<br />Název banky: <b>{{myBankPerson.fullName}}</b>
		</div>

		<table id='bankorder'>
			<tr>
				{{#directDebit}}
					<td class='w20 border'>Číslo účtu příjemce</td>
				{{/directDebit}}
				{{^directDebit}}
					<td class='w20 border'>Číslo účtu plátce</td>
				{{/directDebit}}
				<td class='w10 border'>Kód banky</td>
				{{^oneRow}}
					<td class='w20 border'>Celková částka</td>
				{{/oneRow}}
				<td class='w20 border'>Splatnost dne</td>
				{{#oneRow}}
					<td class='w20 noborder'></td>
					<td class='w10 noborder'></td>
					<td class='w20 noborder'></td>
				{{/oneRow}}
				{{^oneRow}}
					<td class='w10 noborder'></td>
					<td class='w20 noborder'></td>
				{{/oneRow}}
			</tr>
			<tr>
				<td class='border'>{{myBankAccount.shortBankAccount}}</td>
				<td class='border'>{{myBankAccount.bankCode}}</td>
				{{^oneRow}}
					<td class='border right'>{{totalPrice}}</td>
				{{/oneRow}}
				<td class='border'>{{dateDue}}</td>
				{{#oneRow}}
					<td class='w20 noborder'></td>
					<td class='w10 noborder'></td>
					<td class='w20 noborder'></td>
				{{/oneRow}}
				{{^oneRow}}
					<td class='w10 noborder'></td>
					<td class='w20 noborder'></td>
				{{/oneRow}}
			</tr>

			<tr>
				<td class='noborder'>&nbsp;</td>
				<td class='noborder'>&nbsp;</td>
				<td class='noborder'>&nbsp;</td>
				<td class='noborder'>&nbsp;</td>
				<td class='noborder'>&nbsp;</td>
				<td class='noborder'>&nbsp;</td>
			</tr>

			<tr>
				{{#directDebit}}
					<td class='w20 border' rowspan='2'>Číslo účtu plátce</td>
				{{/directDebit}}
				{{^directDebit}}
					<td class='w20 border' rowspan='2'>Číslo účtu příjemce</td>
				{{/directDebit}}
				<td class='w10 border' rowspan='2'>Kód banky</td>
				<td class='w20 border' rowspan='2'>Částka</td>
				<td class='w50 border' colspan='4'>Symbol platby</td>
			</tr>
			<tr>
				<td class='w20 border'>Variabilní</td>
				<td class='w10 border'>Konstatní</td>
				<td class='w20 border'>Specifický</td>
			</tr>

			{{#rows}}
				<tr>
					<td class='border'>{{shortBankAccount}}</td>
					<td class='border'>{{bankCode}}</td>
					<td class='border right'>{{priceAll}}</td>
					<td class='border'>{{symbol1}}</td>
					<td class='border'>{{symbol3}}</td>
					<td class='border'>{{symbol2}}</td>
				</tr>
			{{/rows}}

			{{#oneRow}}
				<tr>
					<td class='noborder'>&nbsp;</td>
					<td class='noborder'>&nbsp;</td>
					<td class='noborder'>&nbsp;</td>
					<td class='noborder'>&nbsp;</td>
					<td class='noborder'>&nbsp;</td>
					<td class='noborder'>&nbsp;</td>
				</tr>
				<tr>
					<td class='border' colspan='3'>Doplňující údaj banky</td>
					<td class='border' colspan='3'>Údaj pro vnitřní potřebu příkazce</td>
				</tr>
				<tr>
					<td class='border' colspan='3'><br /><br /></td>
					<td class='border' colspan='3'><br /><br /></td>
				</tr>
			{{/oneRow}}
		</table>

		<span id='footer'><br /><br /><br /><br /><br /><br />Dne: {{data.head.dateIssue}}</span>
		<span id='footer' class='with-line'>Podpis příkazce</span>
		<span id='footer' class='with-line'>Razítko příkazce</span>
	{{/data.pages}}

</body>
</html>

