.cfg/dicts/
/nbproject/private/
.DS_Store

.idea/

config.py
*.pyc
/utils/logServer/node_modules/

extlibs/vendor
extlibs/composer.lock
extlibs/mdbpro

build/packages/*.tgz
build/packages/*.cmd

www-root/ui-dev
.sass-cache

*.css.map

www-root/sc/icons/fa/6pro/css/
www-root/sc/icons/fa/6pro/webfonts/

!modules/submodules/README.md
modules/submodules/*

