{{textMode}}Dobrý den,

v příloze Vám zasíláme výdejku: {{data.head.title}}.

Zákazník: {{{data.person.fullName}}}

S pozdravem

--
 {{data.owner.fullName}}
{{#data.owner_contacts}}
 {{name}}: {{value}}
{{/data.owner_contacts}}
