<!DOCTYPE HTML>
<html lang="cs">
<head>
		<title>test</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>

        <style>
                {{#data.owner.logo.logo-nadpis.filename}}
                #supplier-address-hdr {
                    background-image: url("file://{{appDir}}/att/{{data.owner.logo.logo-nadpis.path}}{{data.owner.logo.logo-nadpis.filename}}");
                    background-position: bottom right;
                    background-size: auto 60%;
                    background-repeat: no-repeat;
                }
                {{/data.owner.logo.logo-nadpis.filename}}
                {{#data.owner.logo.logo-vpravo.filename}}
                #supplier-address-box {
                    background-image: url("file://{{appDir}}/att/{{data.owner.logo.logo-vpravo.path}}{{data.owner.logo.logo-vpravo.filename}}");
                    background-position: top right;
                    background-size: auto 80%;
                    background-repeat: no-repeat;
                }
                {{/data.owner.logo.logo-vpravo.filename}}
                {{#data.owner.logo.logo-vlevo.filename}}
                #supplier-address-box {
                    background-image: url("file://{{appDir}}/att/{{data.owner.logo.logo-vlevo.path}}{{data.owner.logo.logo-vlevo.filename}}");
                    background-position: top left;
                    background-size: 5em;
                    background-repeat: no-repeat;

                    padding-left: 6em;
                }
                {{/data.owner.logo.logo-vlevo.filename}}
        </style>
</head>
<body>

	<div id='top'>
		<span class='documentName'>Pokladní lístek - {{data.head.print.cashBoxDir}}</span>
		<span class='documentNumber'>Ev. číslo: {{data.head.docNumber}}</span>
	</div>

	<table id='head'>
		<tr>
			<td class='supplier'>
				<span class='hdr' id="supplier-address-hdr">
					{{#data.flags.cashDirIn}}Dodavatel / přijal:{{/data.flags.cashDirIn}}
					{{#data.flags.cashDirOut}}Odběratel / vydal:{{/data.flags.cashDirOut}}
				</span>

                <span class='address' id="supplier-address-box">
					<span class='title'>{{data.owner.fullName}}</span>
                    {{#data.owner.address.specification}}
                        {{data.owner.address.specification}}<br/>
                    {{/data.owner.address.specification}}
                    {{data.owner.address.street}}<br/>
                    {{^data.flags.foreignCountry}}
                        {{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
                    {{/data.flags.foreignCountry}}
                    {{#data.flags.foreignCountry}}
                        {{data.owner.address.countryNameSC2}}-{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
                        {{data.owner.address.countryNameEng}}
                    {{/data.flags.foreignCountry}}
                    <br/>
				</span>
                {{#data.owner_identifiers}}
                    <b>{{@dict;dataItem:name}}:</b> {{value}}&nbsp;
                {{/data.owner_identifiers}}

                <br/>
                {{#data.owner_contacts}}
                    <b>{{name}}:</b> {{value}}<br/>
                {{/data.owner_contacts}}
                <small>{{cfgItem.options.core.ownerLegalRegInfo}}</small>
                </span>
			</td>

			<td class='customer'>
				<div class='hdr'>
					{{#data.flags.cashDirIn}}Odběratel / vydal:{{/data.flags.cashDirIn}}
					{{#data.flags.cashDirOut}}Dodavatel / přijal:{{/data.flags.cashDirOut}}
					<small class='pull-right'>#{{data.person.id}}</small>
				</div>
				<span class='title'>{{data.person.fullName}}</span>
				<span class='address'>
					{{data.person.address.specification}}<br/>
					{{data.person.address.street}}<br/>
					{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
				</span>

				{{#data.person_identifiers}}
					<b>{{name}}:</b> {{value}}
				{{/data.person_identifiers}}

				<span class='hdr'>Datumy a platební údaje:</span>
				<table id='documentDetails'>
					<tr>
						<td class='label'>Datum vystavení:</td><td class='value'>{{data.head.dateIssue}}</td>
					</tr>
					{{#data.flags.taxDocument}}
					<tr>
						<td class='label'>Datum u.zd.plnění:</td><td class='value'>{{data.head.dateTax}}</td>
					</tr>
					{{/data.flags.taxDocument}}
				</table>

                {{#data.flags.rosCZ}}
                    <span class='hdr'>{{@dict;EET}}:<span style="float: right">{{@dict;dataItem:data.ros.type}}</span></span>
                    <table class='rosInfo'>
                        <tr>
                            <td>{{@dict;Datum a čas}}:</td><td class='value'>{{data.ros.datePay}}</td>
                        </tr>
                        <tr>
                            <td>{{@dict;Provozovna}}: {{data.ros.placeId1}}</td><td class='value'>{{@dict;Pokladna}}: {{data.ros.placeId2}}</td>
                        </tr>
												<tr>
													{{#data.ros.fik}}
														<td colspan="2">{{@dict;FIK}}: <span style="float: right">{{data.ros.fik}}</span></td>
													{{/data.ros.fik}}
													{{^data.ros.fik}}
														<td colspan="2" style="word-break: break-all;">{{@dict;PKP}}: <small>{{data.ros.pkp}}</small></td>
													{{/data.ros.fik}}
												</tr>
												<tr>
													<td class='labell' colspan="2">{{@dict;BKP}}: <span style="font-size: 98%; float: right">{{data.ros.bkp}}</span></td>
												</tr>
                    </table>
                {{/data.flags.rosCZ}}
			</td>
		</tr>
	</table>

    {{#data.docs_properties.notes.note-ext}}
	{{{value}}}
    {{/data.docs_properties.notes.note-ext}}


	<table id='rows'>
		<thead>
		<tr>
			<th>Položka</th>
			<th class='number'>Množství</th>
			<th>Jed.</th>
			{{#data.flags.taxDocument}}
				<th class='number'>% DPH</th>
			{{/data.flags.taxDocument}}
			<th class='number'>cena/jed.</th>
			<th class='number'>cena celkem</th>
		</tr>
		</thead>
		{{#data.rows}}
			<tr>
				<td>{{text}}</td>
				<td class='number'>{{quantity}}</td>
				<td>{{print.unit}}</td>
				{{#data.flags.taxDocument}}
					<td class='number'>{{taxPercents}}</td>
				{{/data.flags.taxDocument}}
				<td class='number'>{{print.priceItem}}</td>
				<td class='number'>{{print.priceAll}}</td>
			</tr>
		{{/data.rows}}
	</table>

	{{#data.flags.taxDocument}}
		<div id='sum'>
			<span>
			<table>
				<thead>
					<tr>
						<th>Sazba</th>
						<th class='number'>% DPH</th>
						<th class='number'>Základ</th>
						<th class='number'>Daň</th>
						<th class='number'>Celkem</th>
					</tr>
				</thead>
				{{#data.taxes}}
					<tr>
						<td class='label'>{{print.taxCode}}</td>
						<td class='number'>{{taxPercents}} %</td>
						<td class='number'>{{print.sumBase}}</td>
						<td class='number'>{{print.sumTax}}</td>
						<td class='number'>{{print.sumTotal}}</td>
					</tr>
				{{/data.taxes}}
				<tr>
					<td class='label' colspan='2'>Celkem {{data.head.print.currency}}</td>
					<td class='number'>{{data.head.print.sumBase}}</td>
					<td class='number'>{{data.head.print.sumTax}}</td>
					<td class='number'>{{data.head.print.sumTotal}}</td>
				</tr>
				{{#data.head.rounding}}
					<tr>
						<td class='label' colspan='4'>Zaokrouhlení {{data.head.print.currency}}</td>
						<td class='number'>{{data.head.print.rounding}}</td>
					</tr>
				{{/data.head.rounding}}
			</table>
			</span>
		</div>
	{{/data.flags.taxDocument}}

	<div class='pay'>
		Celkem: {{data.head.print.toPay}} {{data.head.print.currency}}
	</div>


	<table class="signs">
		<tr>
			<td><span>
				{{#data.flags.cashDirIn}}Podpis{{/data.flags.cashDirIn}}
				{{#data.flags.cashDirOut}}Podpis příjemce{{/data.flags.cashDirOut}}
			</span></td>
			<td><span>Podpis pokladníka</span></td>
		</tr>
	</table>

    <div id='footer'>
        <span class='printedBy'>
            {{@dict;Vytištěno aplikací}}
            {{#info.reportFormat.pdf}}
                <img style='height: 1.18em; width: 5.2em; position: relative; bottom: -0.3em;' src='file://{{appDir}}/e10-modules/e10doc/core/reports/shipard-logo-black.svg'/>
            {{/info.reportFormat.pdf}}
            {{#info.reportFormat.widget}}
                <img style='height: 1.5em; padding-bottom: 0.2em;' src='{{dsRoot}}/e10-modules/e10doc/core/reports/shipard-logo-black.svg'/>
            {{/info.reportFormat.widget}}
        </span>
    </div>

</body>
</html>

