@charset "UTF-8";

$e10w-navbar-bg: #a2d2ff; 
$e10w-navbar-text: #000000; 
$e10w-navbar-select-bg: #ffc8dd; 
$e10w-navbar-select-text: #000000; 
$e10w-footer-bg: #a2d2ff; 
$e10w-footer-text: #000000; 
$e10w-footer-link-text: #cdb4db; 
$e10w-footer-link-hover-text: #e6f1fc; 
$e10w-footer-link-visited-text: #ffafcc; 
$e10w-content-bg: #e6f1fc; 
$e10w-content-text: #000000; 
$e10w-content-link-text: #cdb4db; 
$e10w-content-link-hover-text: #bde0fe; 
$e10w-content-link-visited-text: #ffafcc; 
$e10w-body-bg: #e6f1fc; 
$e10w-body-text: #000000; 
$e10w-sb-start-bg: #bde0fe; 
$e10w-sb-start-text: #000000; 
$e10w-sb-start-link-text: #cdb4db; 
$e10w-sb-start-link-hover-text: #e6f1fc; 
$e10w-sb-start-link-visited-text: #ffafcc; 
$e10w-sb-end-bg: #bde0fe; 
$e10w-sb-end-text: #000000; 
$e10w-sb-end-link-text: #cdb4db; 
$e10w-sb-end-link-hover-text: #e6f1fc; 
$e10w-sb-end-link-visited-text: #ffafcc; 
$e10-sc-title-bg: #a2d2ff; 
$e10-sc-title-text: #000; 
$e10-sc-item-selected-bg: #32CD32; 
$e10-sc-item-selected-text: #000000; 
$e10-sc-item-selectable-bg: #e6f1fc; 
$e10-sc-item-selectable-text: #000000; 
$e10-sc-item-disabled-bg: #D3D3D3; 
$e10-sc-item-disabled-text: #696969; 
$e10-sc-item-inactive-bg: #D3D3D3; 
$e10-sc-item-inactive-text: #696969; 
$e10-sc-item-inactive-selected-bg: #696969; 
$e10-sc-item-inactive-selected-text: #D3D3D3; 
$e10-sc-item-selectable-hover-bg: #FFA500; 
$e10-sc-item-selectable-hover-text: #000000; 
$e10-display-cm-panelTitle-bg: #a2d2ff; 
$e10-display-cm-panelTitle-text: #000000; 
$e10-display-cm-tr-separator1: #ffafcc; 
$e10-display-cm-tr-separator2: #a2d2ff; 
$e10-display-cm-rowContent-bg: #d3d6d9; 
$e10-display-cm-rowContent-text: #000000; 
$e10-display-cm-panelSubTitle-bg: #656769; 
$e10-display-cm-panelSubTitle-text: #FFFFFF; 
$e10-display-cm-panelHandle-bg: #ffafcc; 
$e10-display-cm-panelHandle-text: #242424; 
$e10-display-cm-panelHandleActive-bg: #a2d2ff; 
$e10-display-cm-panelHandleActive-text: #000000; 
$e10-display-cm-percentage-rest: #a2d2ff; 
$e10-display-cm-rest-bg: #a2d2ff; 
$e10-display-cm-rest-text: #000000; 
$div-e10-display-panel-title: #ffafcc; 

@import "../sass/display.scss";
:root {
	--e10w-navbar-bg: #a2d2ff;
	--e10w-navbar-text: #000000;
	--e10w-navbar-select-bg: #ffc8dd;
	--e10w-navbar-select-text: #000000;
	--e10w-footer-bg: #a2d2ff;
	--e10w-footer-text: #000000;
	--e10w-footer-link-text: #cdb4db;
	--e10w-footer-link-hover-text: #e6f1fc;
	--e10w-footer-link-visited-text: #ffafcc;
	--e10w-content-bg: #e6f1fc;
	--e10w-content-text: #000000;
	--e10w-content-link-text: #cdb4db;
	--e10w-content-link-hover-text: #bde0fe;
	--e10w-content-link-visited-text: #ffafcc;
	--e10w-body-bg: #e6f1fc;
	--e10w-body-text: #000000;
	--e10w-sb-start-bg: #bde0fe;
	--e10w-sb-start-text: #000000;
	--e10w-sb-start-link-text: #cdb4db;
	--e10w-sb-start-link-hover-text: #e6f1fc;
	--e10w-sb-start-link-visited-text: #ffafcc;
	--e10w-sb-end-bg: #bde0fe;
	--e10w-sb-end-text: #000000;
	--e10w-sb-end-link-text: #cdb4db;
	--e10w-sb-end-link-hover-text: #e6f1fc;
	--e10w-sb-end-link-visited-text: #ffafcc;
	--e10-sc-title-bg: #a2d2ff;
	--e10-sc-title-text: #000;
	--e10-sc-item-selected-bg: #32CD32;
	--e10-sc-item-selected-text: #000000;
	--e10-sc-item-selectable-bg: #e6f1fc;
	--e10-sc-item-selectable-text: #000000;
	--e10-sc-item-disabled-bg: #D3D3D3;
	--e10-sc-item-disabled-text: #696969;
	--e10-sc-item-inactive-bg: #D3D3D3;
	--e10-sc-item-inactive-text: #696969;
	--e10-sc-item-inactive-selected-bg: #696969;
	--e10-sc-item-inactive-selected-text: #D3D3D3;
	--e10-sc-item-selectable-hover-bg: #FFA500;
	--e10-sc-item-selectable-hover-text: #000000;
	--e10-display-cm-panelTitle-bg: #a2d2ff;
	--e10-display-cm-panelTitle-text: #000000;
	--e10-display-cm-tr-separator1: #ffafcc;
	--e10-display-cm-tr-separator2: #a2d2ff;
	--e10-display-cm-rowContent-bg: #d3d6d9;
	--e10-display-cm-rowContent-text: #000000;
	--e10-display-cm-panelSubTitle-bg: #656769;
	--e10-display-cm-panelSubTitle-text: #FFFFFF;
	--e10-display-cm-panelHandle-bg: #ffafcc;
	--e10-display-cm-panelHandle-text: #242424;
	--e10-display-cm-panelHandleActive-bg: #a2d2ff;
	--e10-display-cm-panelHandleActive-text: #000000;
	--e10-display-cm-percentage-rest: #a2d2ff;
	--e10-display-cm-rest-bg: #a2d2ff;
	--e10-display-cm-rest-text: #000000;
	--div-e10-display-panel-title: #ffafcc;
}

