@charset "UTF-8";

$e10w-navbar-bg: #39603D; 
$e10w-navbar-text: #DADED4; 
$e10w-navbar-select-bg: #A3BCB6; 
$e10w-navbar-select-text: #3C403D; 
$e10w-footer-bg: #39603D; 
$e10w-footer-text: #DADED4; 
$e10w-footer-link-text: #A3BCB6; 
$e10w-footer-link-hover-text: #A3BCB6; 
$e10w-footer-link-visited-text: #3C403D; 
$e10w-content-bg: #DADED4; 
$e10w-content-text: #3C403D; 
$e10w-content-link-text: #39603D; 
$e10w-content-link-hover-text: #548f5a; 
$e10w-content-link-visited-text: #A3BCB6; 
$e10w-body-bg: #DADED4; 
$e10w-body-text: #3C403D; 
$e10w-sb-start-bg: #548f5a; 
$e10w-sb-start-text: #3C403D; 
$e10w-sb-start-link-color: #39603D; 
$e10w-sb-start-link-hover-text: #DADED4; 
$e10w-sb-start-link-visited-text: #A3BCB6; 
$e10w-sb-end-bg: #548f5a; 
$e10w-sb-end-text: #3C403D; 
$e10w-sb-end-link-color: #39603D; 
$e10w-sb-end-link-hover-text: #DADED4; 
$e10w-sb-end-link-visited-text: #A3BCB6; 

@import "../sass/display.scss";
