@charset "UTF-8";

$e10w-navbar-bg: #640d14; 
$e10w-navbar-text: #edf2f4; 
$e10w-navbar-select-bg: #ad2831; 
$e10w-navbar-select-text: #edf2f4; 
$e10w-footer-bg: #640d14; 
$e10w-footer-text: #edf2f4; 
$e10w-footer-link-text: #ad2831; 
$e10w-footer-link-hover-text: #800e13; 
$e10w-footer-link-visited-text: #250902; 
$e10w-content-bg: #800e13; 
$e10w-content-text: #edf2f4; 
$e10w-content-link-text: #250902; 
$e10w-content-link-hover-text: #ad2831; 
$e10w-content-link-visited-text: #ad2831; 
$e10w-body-bg: #800e13; 
$e10w-body-text: #edf2f4; 
$e10w-sb-start-bg: #ad2831; 
$e10w-sb-start-text: #250902; 
$e10w-sb-start-link-color: #edf2f4; 
$e10w-sb-start-link-hover-text: #800e13; 
$e10w-sb-start-link-visited-text: #640d14; 
$e10w-sb-end-bg: #ad2831; 
$e10w-sb-end-text: #250902; 
$e10w-sb-end-link-color: #edf2f4; 
$e10w-sb-end-link-hover-text: #800e13; 
$e10w-sb-end-link-visited-text: #640d14; 

@import "../sass/display.scss";
