{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{data.calcReport.title}} za {{data.workOrder.title}}
{{/data.reportTexts.emailSubject}}