<!DOCTYPE HTML>
<html lang="cs">
<head>
    <title>AHOJ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/modern/style-modern.css?v12" type="text/css"/>

    <style>
        table.default {font-size: 9pt;}
    </style>

</head>
<body>

{{{@renderContent;dataItem:data.contents}}}


</body>

</html>
