/** univerzální css **/

.break:before {display: block; content:"";}
.clear {clear: both;}
.block {display: block;}

.label {text-align: left !important; padding-right: 1ex; white-space: pre;}
.number {text-align: right !important; padding-left: 1ex; white-space: pre;}
.nowrap {white-space: pre;}


body {font-size: 9pt; font-family: Arial, Helvetica, sans-serif;}

.pageBreakAfter {page-break-after: always;}
.pageBreakBefore {page-break-before: always;}

.pull-right {float: right; text-align: right; padding-right: 3pt;}

table {
	border-collapse: collapse; width:100%;  border: none;
}

div.reportTextHeader {font-size: 90%; padding-bottom: 2pt;}
div.reportTextFooter {font-size: 90%; padding-bottom: 2pt; margin-top: 10pt;}
div.latestNews{font-size: 40%; }

div.news {
		background-color: #CCCCCC;
		text-align: center;
		border: 1pt solid rgba(0, 0, 0, 0.4);
		border-radius: 5px;
		padding: 3pt;
		margin: 3pt 0 10pt 0;
}

div.news>p {padding: 0; margin: 2pt;}

/** NOVÉ **/
table.mainInfo td.info{
	vertical-align: top;
	width:50%;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

table.mainInfo {
	/*border-top: 2pt solid lightgray;*/
	width: 100%;
	padding-bottom: 3pt;
	border-bottom: 1pt solid lightgray;
	border-collapse: collapse;
}

table.infoSecondary td{
	vertical-align: top;
	width: 50%;
	padding-bottom: 5pt;
}

table.infoSecondary {
	width: 100%;
	margin-top: 3pt;
	padding-bottom: 3pt;
	border-bottom: 1pt solid lightgray;
	padding-left: 0pt;
	margin-left: 0pt;
	border-collapse: collapse;
}

table.dates{
	padding-left: 0pt;
	margin-left: 0pt;
	border-collapse: collapse;
}

table.dates td.label {
	padding-left: 0pt;
	margin-left: 0pt;
}

div.footerNotes {padding-top: 10pt; padding-bottom: 10pt;}


div.reportTextHeader {
	padding-top: 5pt;
}

span.hdr {display: block; padding-top: 3pt; font-size: 14pt; padding-bottom: 3pt;}
div.hdr {padding-top: 3pt; font-size: 14pt; padding-bottom: 3pt;}

span.title {display: block; font-weight: bold;}
span.address { display: block; padding-bottom: 5pt;}

div.heading {font-weight: bold; font-size: 14pt; padding-top: 8pt; padding-bottom: 5pt; text-align: center;}

div.headingAlt {font-weight: bold; font-size: 14pt; padding-top: 8pt; padding-bottom: 5pt; text-align: left;}

table.signed {width: 100%; text-align: center; margin-top: 50pt; font-size: 10pt; border-collapse: collapse;}
table.signed td.empty {width:60%;}
table.signed tr td {vertical-align: top;}
table.signed tr td span {text-align: center; border-top: .8pt solid black;  padding: 3pt;  display: block;}
table.signed tr td img { height: 40pt;}

/*eet*/
table.rosInfo, table#documentDetails {width: 100%; }
table#documentDetails td.label {vertical-align: bottom;}
table#documentDetails td.value {text-align: right; vertical-align: bottom;}

table.rosInfo {font-size: 8pt; margin-bottom: 8pt; border: 1pt solid rgba(0, 0, 0, 0.4); border-radius: 5px; border-style: hidden; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);}
table.rosInfo tr {text-align: right;}
/**/

/*řádky faktury*/


table.rows {
	width: 100%;
	border: 1pt solid lightgray; border-collapse: collapse;
	line-height: 1.4; margin-top: 10pt; text-align: left; margin-bottom: 5pt;
}

table.rows table.rows {
	margin-top: 4pt !important; font-size: 80% !important;
}

table.rows.rounded {
	border: 1pt solid lightgray; border-style: hidden; border-radius: 5px; border-style: hidden; box-shadow: 0 0 0 1px lightgray; border-collapse: collapse;
	}

table.rows th {padding-left: 6pt; border-left: 1pt solid lightgray; padding-right: 3pt; background-color: rgba(0, 0, 0, 0.1);}
table.rows.rounded th:first-child {border-radius: 5px 0px 0px 0px;}
table.rows.rounded th:last-child {border-radius: 0px 5px 0px 0px;}

table.rows tr {padding-top: 3pt; padding-bottom: 2pt; border-bottom: 1pt solid lightgray;}
table.rows tr td {padding-left: 6pt; border-left: 1pt solid lightgray; padding-right: 3pt; border-color: lightgray}
table.rows tr.subtotal td {font-weight: bold;}

table.rows tr>th:first-child, table#rows tr>td:first-child {border-left: none; border-top: 1pt solid lightgray}

table.rows tr:last-child td:first-child {
		border-bottom-left-radius: 10px;
}
table.rows tr:last-child td:last-child {border-bottom-right-radius: 10px;}

table.rows thead th.itemID {text-align: right;}
table.rows td.itemID {text-align: right;}

table.rows tr.rowInfo {border-bottom: 2pt solid #bdbdbd;}


ul.itemCodesList {margin-top: 0; padding-left: 12pt; font-size: 80%; margin-bottom: 0;}
ul.itemCodesList.itemCodesListInline {padding-left: 5pt;}
ul.itemCodesList.itemCodesListInline li {list-style: none; margin-left: 0; display: inline-block; padding-right: 8pt;}

/*shrnutí daně*/
table.paymentInfo {width: 100%; }
table.paymentInfo td.qrPayment {width:50%;}
table.paymentInfo td.taxInfo {text-align: right; width:50%; padding-left: 3pt;}
table.paymentInfo div.foreignCurrency {padding-top: 3pt;}

table.taxDescr {
	border: 1pt solid lightgray; border-collapse: collapse;
	width:100%; margin-top: 10pt;
}

table.taxDescr.rounded {
	border-radius: 5px; border-style: hidden; box-shadow: 0 0 0 1px lightgray;
}

table.taxDescr th {padding-left: 6pt; border-left: 1pt solid lightgray; padding-right: 3pt; background-color: rgba(0, 0, 0, 0.1);}
table.taxDescr tr {border-bottom: 1pt solid lightgray; }
table.taxDescr tr td {padding-left: 6pt; border-left: 1pt solid lightgray; padding-right: 3pt;}

table.taxDescr.rounded th:first-child {border-radius: 5px 0px 0px 0px;}
table.taxDescr.rounded th:last-child {border-radius: 0px 5px 0px 0px;}


div#spayd {position: relative; display: inline-block; width: 35mm; height: 35mm; float:left; text-align: center; border: .8pt solid black;}
div#spayd img {width: 100%;}

div.pay {font-size: 16pt; padding-top: 18pt; text-align: right;}

/*pro podpisy (razítko, podpis)*/
div#sign {text-align: right; width: 165mm; padding-top: 2cm; position: relative;
		background-repeat: no-repeat; background-size: contain;
}
div#sign span.signImg {display: inline-block; width: 80mm;height: 30mm; text-align: center;
}
div#sign span.signImg img {max-width: 80mm; max-height: 30mm;}
div#sign span.logoImg {position: absolute; right: 0mm; text-align: center; width: 80mm;}
div#sign span.name {display: inline-block; width: 80mm; text-align: center; border-top: 1pt solid #5B7F8C; padding-top: 2pt;}
/**/

/*konec univerzálního css*/


/*zápočet*/
table#head2 {clear: both; width: 100%; border-collapse: collapse; margin-bottom: 18pt; text-align:justify; margin-top: 5pt;}
table#head3 {clear: both; width: 100%; border-collapse: collapse; margin-bottom: 18pt; text-align:justify; margin-top: -10pt;}

table#rows2 {width: 100%; border-collapse: collapse; line-height: 1.4;}
table#rows2:not(:last-child) {margin-bottom: 10pt;}
table#rows2 th {text-align: left; font-size: 12pt; padding-bottom: 3pt;}
table#rows2 td {border: 1pt solid #5B7F8C; padding-left: 6pt; padding-right: 6pt;}

table#sign2 {text-align: center; width: 100%; margin-top: 1.5cm; background-repeat: no-repeat; background-size: contain;}
table#sign2 td.name {width: 50%; text-align: center;  vertical-align: top; padding: 10pt;}
table#sign2 td.name div {border-top: 1pt solid #5B7F8C; padding-top: 3pt;}

td.accountingDate {padding: 4pt;}
td.DUZP {padding: 4pt;}

/*kontace*/
table.signs {width: 100%; margin-top: 36pt; font-size: 10pt;}
table.signs tr td {width: 33.3333%; text-align: center; padding: 12pt; vertical-align: top;}
table.signs tr td span {border-top: .8pt solid black; display: block; padding: 3pt;}

td.partner {border-bottom: .8pt solid rgba(0, 0, 0, 0.2);}
/*h3 {margin-bottom: 3pt;}*/

/*pokladní lístek*/
#sum {margin-top: 5pt;}

/* výkup */
div.vkp-vykup-cena-a-zaok {text-align: right; font-size: 7pt; margin-top: 10pt;}
table.vkp-vykup-celkem {width: 100%;}
td.vkp-vykup-celkem-cena {text-align: right; font-size: 18pt; font-weight: bold; padding-top: 0pt;}
td.vkp-vykup-celkem-info {text-align: left; font-size: 10pt; vertical-align: bottom;}

table.authorSigned {width: 100%; border-collapse: collapse; text-align: center; margin-top: 10pt; margin-bottom: 20pt;}
table.authorSigned td.main {width: 50%;}
table.authorSigned tr td.empty {width: 0%;}
table.authorSigned tr td.author {padding-right: 5pt;}

table.purchaseSigned {border-collapse: collapse; border: 3pt solid black;}
table.purchaseSigned td {padding: 5pt;}
div.vkp-vykup-podpis-dod-prevzal {height: 95pt; font-size: 10pt;}
div.vkp-vykup-podpis-dod-podpis {border-top: 2pt dotted black; border-collapse: collapse; font-size: 9pt; text-align: center;}

table.additionalAddresses {font-size: 8pt; border-bottom: 2pt solid lightgray; padding-bottom: 3pt; margin-bottom: 3pt;}

table.additionalAddresses td {width: 33.3%; padding-bottom: 5pt; vertical-align: top;}

table.additionalAddresses td span.hdr {font-size: 10pt;}

table.additionalAddresses td.deliveryAddress div.hdr {font-size: 10pt;}

table.additionalAddresses td div.hdr {font-size: 10pt;}

/* Objednávky */
div.orderDescription {margin-top: 5pt;}

/* výdejky a dodací listy */

table.deliveryInfo td{
	vertical-align: top;
	width: 50%;
}

table.deliveryInfo {
	width: 100%;
	padding-bottom: 3pt;
	border-bottom: 1pt solid lightgray;
	border-collapse: collapse;
}

/*** universal app styles */

.suf {padding-left: .4em; font-size: 80%; font-weight: normal;}
.pre {color: #333; font-size: 85%; padding-right: 1ex;}
span.e10-prefix-left {display: block; text-align: right;}
span.e10-prefix-left>.pre {float: left;}
td.e10-suffix-block>.suf {display: block; font-weight: normal; font-size: 75%; padding-left: 0;}
.center  {text-align: center !important;}

.label {text-align: left !important; padding-right: 1ex; white-space: pre;}
.number {text-align: right !important; padding-left: 1ex; white-space: pre;}
.nowrap {white-space: pre;}
.pull-right {float: right; text-align: right; padding-right: 3pt;}

.break:before {display: block; content:"";}
.clear {clear: both;}
.block {display: block;}

.subtitle {font-size: 122%; font-weight: normal; padding: .4ex;}
.subtitle:not(:first-child) {padding-top: 1em;}

.h1 {font-size: 133%;}
.h2 {font-size: 122%; /*padding: 2px;*/}

.pageBreakAfter {page-break-after: always;}
.pageBreakBefore {page-break-before: always;}

span.documentNumber {float: right;}

.subtitle {margin-bottom: 4pt; font-size: 122%;}
.subtitle:not(:first-child) {
		padding-top: 1em;
}
.suf {padding-left: .4em; font-size: 80%; font-weight: normal;}
.pre {color: #333; font-size: 85%; padding-right: 1ex;}
span.e10-prefix-left {display: block; text-align: right;}
span.e10-prefix-left>.pre {float: left;}
td.e10-suffix-block>.suf {display: block; font-weight: normal; font-size: 75%; padding-left: 0;}
.center  {text-align: center !important;}



table.default {width: 100%; border-collapse: collapse; border: none; }
.default td {border: .85pt solid #B0B0B0; padding: .6ex;}

table.default thead tr:last-child {border-bottom: 2px solid #888 !important; }
table.default thead tr th {text-align: left; border: 1px solid #909090; padding: .6ex !important; background-color: #EEE !important;}
table.default thead tr th.number {text-align: right;}

table.default tr {}
table.default tr.hdr {background-color: #E0E0E0 !important;}
table.default tr.sum {font-weight: bold; border-top: 2px solid #888; background-color: #EEE !important; page-break-inside:avoid;}
table.default tr.subtotal {background-color: #E0E0E0 !important; font-weight: bold;}
table.default tr.sumtotal {font-weight: bold; border: 2px solid #000; page-break-inside:avoid;}
table.default tr.subheader td {font-weight: bold; font-size: 122%;}
table.default tr.separator td {border: none;}
table.default tr td.number {white-space: pre;}
table.default a {text-decoration: none; color: #000;}

table.default tr.e10-error td {background-color: #ff4040 !important; color: white !important; font-weight: bold;}
table.default tr.e10-warning1 td {background-color: #fff0f0 !important;}
table.default tr.e10-warning2 td {background-color: #ffe0e0 !important;}
table.default tr.e10-warning3 td {background-color: #ffb0b0 !important;}
table.default td.e10-row-play {background-color: #cfc !important;;}
table.default td.e10-row-stop {background-color: #fcc !important;;}
table.default td.e10-row-pause {background-color: #ffcb6b !important;;}

td.e10-icon, th.e10-icon {width: 2em; text-align: center !important;}

table.fullWidth {width: 100%;}
.width10 {width: 10%;}
.width15 {width: 15%;}
.width20 {width: 20%;}
.width25 {width: 25%;}
.width30 {width: 30%;}
.width35 {width: 35%;}
.width40 {width: 40%;}
.width45 {width: 45%;}
.width50 {width: 50%;}
.width55 {width: 55%;}
.width60 {width: 60%;}
.width65 {width: 65%;}
.width70 {width: 70%;}
.width75 {width: 75%;}
.width80 {width: 80%;}
.width85 {width: 85%;}
.width90 {width: 90%;}
.width95 {width: 95%;}

.width10em {width: 10em;}

table.e10-print-small {
		font-size: 9pt;
}
table.e10-print-small td {padding: .3ex .5ex;}

table.e10-print-12pt {
		font-size: 12pt;
}


table.properties {
		border-collapse: collapse !important;
		border: 1px solid black;
		font-size: 8.5pt;
}

table.properties td {padding: 2pt; vertical-align: top; }
table.properties td:nth-child(2n-1) {
		text-align: right;
		font-weight: bold;
		padding-right: 6px;
}
table.properties tr + tr {border-top: 1px solid black; }
table.properties tr.header > td {font-weight: bold; font-size: 110%; text-align: left; border-bottom: 1px solid black;}
table.properties * + tr.header > td {padding-top: 1ex;}

td.e10-off {
		font-style: italic;
		background-color: #F5F5F5 !important;
}


.e10-off {color: #777 !important;}
.e10-small {color: #555; font-size: 85%;}
.e10-bold {font-weight: 600;}
.e10-em {font-style: italic;}
.e10-me {color: #4078c0; font-size: 85%;}

.e10-warning0 {background-color: #fff;}
.e10-warning1 {background-color: #fff0f030 !important;}
.e10-warning2 {background-color: #ffe0e030 !important;}
.e10-warning3 {background-color: #ffb0b030 !important;}


.e10-bg-t1 {background-color: #e1f7d530;}
.e10-bg-t2 {background-color: #ffcfab30;}
.e10-bg-t3 {background-color: #ffe0e530;}
.e10-bg-t4 {background-color: #fbffb530;}
.e10-bg-t5 {background-color: #e0fffa30;}
.e10-bg-t6 {background-color: #c5e0d630;}
.e10-bg-t7 {background-color: #9fe28f30;}
.e10-bg-t8 {background-color: #ffefd530;}
.e10-bg-t9 {background-color: #f0f0f070;}

