{{textMode}}Dobrý den,

posíláme registrační formulář, který jste u nás dnes podepsal(a).

V případě jakýchkoliv nesrovnalostí nás prosím kontaktuje.


S pozdravem

--
  {{cfgItem.options.core.ownerFullName}}
  {{#cfgItem.options.core.ownerPhone}}Telefon: {{cfgItem.options.core.ownerPhone}}{{/cfgItem.options.core.ownerPhone}}
  {{#cfgItem.options.core.ownerEmail}}E-mail: {{cfgItem.options.core.ownerEmail}}{{/cfgItem.options.core.ownerEmail}}

