--- 3. Hlavička skupiny

{{{@write;text:2;width:2}}}
{{{@write;var:myBankAccount.prefixBankAccount;align:right;paddingChar:0;width:6;maxLen:6}}}
{{{@write;text:-}}}
{{{@write;var:myBankAccount.numberBankAccount;align:right;paddingChar:0;width:10;maxLen:10}}}
{{{@write;text: ;width:1}}}
{{{@write;var:totalPriceForExport;maxLen:15}}}
{{{@write;text: ;width:1}}}
{{{@write;var:shortDateDue;align:right;paddingChar:0;width:6;maxLen:6}}}
{{{@write;cmd:crlf}}}
