--- 1. Uživatelské návěští ABO souboru

{{{@write;text:UHL1}}}
{{{@write;var:data.export.shortDateIssue;align:right;paddingChar:0;width:6;maxLen:6}}}
{{{@write;var:data.owner.fullName;width:20;maxLen:20}}}
{{{@write;text:0000000000}}}
{{{@write;text:001}}}
{{{@write;text:999}}}
{{{@write;cmd:nl}}}
