{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
Rozvrh pracovní doby: {{data.whPerson.fullName}}
{{/data.reportTexts.emailSubject}}