<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/modern/style-modern.css?v25" type="text/css"/>

</head>
<body style="font-size: 10pt;">

	<h3>{{data.whPerson.fullName}}</h3>

	<table class="default" style="text-align: center !important;">
		<thead>
			<tr>
				<th style="text-align: center;">Týdenní pracovní doba</th>
				<th style="text-align: center;">Stanovená výše přímé pedagogické činnosti</th>
				<th style="text-align: center;">Přímá pedagogická činnost</th>
				<th style="text-align: center;">Práce související s přímou pedagogickou činností</th>
				<th style="text-align: center;">Počet pracovních hodin týdně celkem</th>
				<th style="text-align: center;">Výše úvazku</th>
			<tr>
		</thead>
		<tr>
			<td>{{data.head.wlWeeklyTotal}}</td>
			<td>{{data.head.wlWeeklyPedagogicalActivity}}</td>
			<td>{{data.head.wlWeekly1}}</td>
			<td>{{data.head.wlWeekly2}}</td>
			<td>{{data.head.wlWeekly}}</td>
			<td>{{data.head.wlWeeklyRatio}}</td>
		</tr>
	</table>

	{{#data.reportTexts.subHeader}}<div class='reportTextHeader'>{{{data.reportTexts.subHeader}}}</div>{{/data.reportTexts.subHeader}}

	{{{@renderContent;dataItem:data.whRows}}}

	{{#data.reportTexts.subFooter}}<div class='reportTextFooter'>{{{data.reportTexts.subFooter}}}</div>{{/data.reportTexts.subFooter}}
</body>
</html>

