<div class="row">
    {{#data.gallery.images}}
    <div class="col-sm-6 col-md-4" title="{{name}}">
        <a href="{{dsRoot}}/att/{{fileName}}" target="new" class="thumbnail {{data.gallery.id}}">
            <img src="{{dsRoot}}/imgs/-w800/att/{{fileName}}"/>
        </a>
    </div>
    {{#col3}}</div><div class="row">{{/col3}}
    {{/data.gallery.images}}
</div>


<script>
$(document).ready(function() {
    $('.{{data.gallery.id}}').magnificPopup({
            type:'image',
            image: {titleSrc: 'title'},
            gallery: {enabled: true, tCounter: '<span class="mfp-counter">%curr%&nbsp;z&nbsp;%total%</span>'}
    });
});</script>

