{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
Potvrzení přihlášky: {{data.entryTo.title}}
{{/data.reportTexts.emailSubject}}