{{textMode}}{{#data.reportTexts.emailBody}}{{{data.reportTexts.emailBody}}}{{/data.reportTexts.emailBody}}
{{^data.reportTexts.emailBody}}
Dobrý den,

v příloze Vám zasíláme potvrzení přihlášky do: {{data.entryTo.title}}.

S pozdravem

--
{{data.owner.fullName}}
{{#data.owner_contacts}}
{{name}}: {{value}}
{{/data.owner_contacts}}
{{/data.reportTexts.emailBody}}