<div class="app-container app-container-simple{{#data.uiStruct.appMenu.class}} {{data.uiStruct.appMenu.class}}{{/data.uiStruct.appMenu.class}}" id='shp-app-window'>
  <div class="app-nav">
    <!--<nav class="_navbar align-items-between">-->
      <!--<div class="container-fluid">-->

      <button class="navbar-toggler" id="navbar-toggler-left" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="shpd-nav-toggler-icon">{{{@icon;icon:user/other}}}</span>
      </button>

      <h5 class="mb-0" id="navbar-title-left">
        {{{@icon;icon:user/user}}} {{userInfo.name}}
      </h5>

      {{#userContextsEnumExist}}
      <button class="navbar-toggler" id="navbar-toggler-right" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="fw-semibold align-items-center" style='font-size: 110%;'>{{activeUserContext.shortTitle}}<span class="ps-2"> {{{@icon;icon:user/user}}}</span></span>
      </button>
      {{/userContextsEnumExist}}

      {{#data.rightMenuCode}}
      <button class="navbar-toggler" id="navbar-toggler-right" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="fw-semibold align-items-center" style='font-size: 110%;'>{{activeUserContext.shortTitle}}<span class="ps-2"> {{{@icon;dataItem:data.uiStruct.appMenu.rightMenu.icon}}}</span></span>
      </button>
      {{/data.rightMenuCode}}

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{userInfo.name}}</h5>
          <button type="button" class="shpd-close" data-bs-dismiss="offcanvas" aria-label="Close">{{{@icon;icon:user/times}}}</button>
        </div>
        <div class="offcanvas-body">
          <div class="shpd-nav">
            {{#data.uiStruct.appMenu.items}}
              <a href="{{uiRoot}}{{id}}" class='shpd-nav-item {{#active}}active{{/active}}'><span class="navListIcon">{{{@icon;dataItem:icon}}}</span> {{title}}</a>
            {{/data.uiStruct.appMenu.items}}
          </div>
        </div>
      </div>


      {{#userContextsEnumExist}}
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
          <button type="button" class="shpd-close" data-bs-dismiss="offcanvas" aria-label="Close">{{{@icon;icon:user/times}}}</button>
        </div>
        <div class="offcanvas-body">
          <div class="shpd-nav">
            {{#userContextsEnum}}
              <!-- <div class="d-grid gap-2">-->
                <button type="button" class='shpd-nav-item shp-app-action {{#active}}active{{/active}}' data-action='setUserContext' data-user-context='{{id}}'> {{{@icon;icon:user/user}}} {{title}}</button>
              <!--</div>-->
            {{/userContextsEnum}}
          </div>
        </div>
      </div>
      {{/userContextsEnumExist}}

      {{#data.rightMenuCode}}
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
          <button type="button" class="shpd-close" data-bs-dismiss="offcanvas" aria-label="Close">{{{@icon;icon:user/times}}}</button>
        </div>
        <div class="offcanvas-body">
          {{{data.rightMenuCode}}}
        </div>
      </div>
      {{/data.rightMenuCode}}

    <!--</div>-->
    <!--</nav>-->
  </div>

  <div class="app-content" id='shp-main-app-content' {{{data.appBrowserParams}}}>
    {{{data.coreMainElementCode}}}
  </div>

  <div class='app-menu'>
    <div class="shpd-nav">
      {{#data.uiStruct.appMenu.items}}
        <a href="{{uiRoot}}{{id}}" class='shpd-nav-item {{#active}}active{{/active}}'><span class="navListIcon">{{{@icon;dataItem:icon}}}</span> {{title}}</a>
      {{/data.uiStruct.appMenu.items}}
    </div>
  </div>

  <!--<div class='app-footer'>AHOJ...</div>-->
</div>
