<div class="app-container app-container-full" id='shp-app-window'>
  <div id='shp-app-menu' class="app-menu open">
    <div class="app-menu-shp-ng" id='shp-app-menu-ng'>
      <div class="menu-toolbar d-flex align-items-center">
        <img src='{{data.dsIconUrl}}' style='height: 100%;'>
        <span class="ms-2">{{cfgItem.options.core.ownerShortName}}</span>
        <span class='ms-auto me-1 shp-widget-action' data-action='toggleAppMenu'>{{{@icon;icon:system/iconAngleDoubleLeft}}}</span>
      </div>

      <div class="menu-content shp-tree-list">
        {{#data.uiStruct.appMenu}}
          <div id='shp-app-cats-menu-tabs_{{id}}' class='tab-content{{#active}} active{{/active}}'>
            {{#items.0}}
              <ul class='shp-tree-list'>
                {{#items}}
                  <li>
                    <span
                      data-action-param-object-type='{{objectType}}'
                      {{#table}}data-action-param-table='{{table}}'{{/table}}
                      {{#viewer}}data-action-param-view-id='{{viewer}}'{{/viewer}}
                      data-action='loadAppMenuItem'
                      class='li-title app-menu-item shp-widget-action'>
                        {{{@icon;dataItem:icon}}} {{title}}
                    </span>
                  </li>
                {{/items}}
              </ul>
            {{/items.0}}

            {{#groups.0}}
            <ul class='shp-tree-list'>
              {{#groups}}
                <li class='tl-group open{{#active}} active{{/active}}'>
                  <span class='shp-widget-action' data-action='treeListGroupOC'>{{title}}</span>
                  <ul class='shp-tree-list'>
                    {{#items}}
                      <li>
                        <span
                          data-action-param-object-type='{{objectType}}'
                          {{#table}}data-action-param-table='{{table}}'{{/table}}
                          {{#viewer}}data-action-param-view-id='{{viewer}}'{{/viewer}}
                          data-action='loadAppMenuItem'
                          class='li-title app-menu-item shp-widget-action'>
                            {{{@icon;dataItem:icon}}} {{title}}
                        </span>
                      </li>
                    {{/items}}
                  </ul>
                </li>
              {{/groups}}
            </ul>
            {{/groups.0}}
          </div>
        {{/data.uiStruct.appMenu}}
        <div id='shp-app-cats-menu-tabs_USER' class='tab-content{{#active}} active{{/active}}'>
          tady bude nastavení...
        </div>
      </div>

      <div class="menu-tabs shp-app-cats-menu-tabs d-flex ps-2" id='shp-app-cats-menu-tabs'>
        {{#data.uiStruct.appMenu}}
          <span class='shp-widget-action shp-tab-item{{#active}} active{{/active}}' data-action='select-simple-tab' data-tab-id='shp-app-cats-menu-tabs_{{id}}' data-tabs='shp-app-cats-menu-tabs' title='{{title}}'>{{{@icon;dataItem:icon}}}</span>
        {{/data.uiStruct.appMenu}}

        <span class="ms-auto me-1 shp-widget-action shp-tab-item{{#active}} active{{/active}}" data-action='select-simple-tab' data-tab-id='shp-app-cats-menu-tabs_USER' data-tabs='shp-app-cats-menu-tabs'>{{{@icon;icon:user/user}}}</span>
      </div>
    </div>

    <div class='menu-favorites'>
      <div class='menu-handle' id='shp-app-menu-handle'></div>
      <div class='menu-toolbar'>
        <img src='{{data.dsIconUrl}}'>
        <span class='shp-widget-action' data-action='toggleAppMenu'>{{{@icon;icon:system/iconAngleDoubleRight}}}</span>
      </div>
      <div class='menu-buttons'>
        {{#data.uiStruct.appMenuFavorites}}
          <span
            data-action-param-object-type='{{objectType}}'
            {{#table}}data-action-param-table='{{table}}'{{/table}}
            {{#viewer}}data-action-param-view-id='{{viewer}}'{{/viewer}}
            data-action='loadAppMenuItem'
            class='app-menu-item shp-widget-action'>
            {{{@icon;dataItem:icon}}}
          </span>
        {{/data.uiStruct.appMenuFavorites}}
      </div>
    </div>
  </div>

  <div class='app-content-container'>
    <div class="app-header d-flex align-items-center">
      <span id='shp-app-hdr-back' class='app-hdr-back shp-widget-action ps-2' data-action='toggleContent' >{{{@icon;icon:user/arrowLeft}}}</span>
      <span id='shp-app-hdr-title' class='shp-app-hdr-title ps-2'></span>
    </div>
    <div class="app-content" id='shp-main-app-content' {{{data.appBrowserParams}}}>
      {{{data.coreMainElementCode}}}
    </div>
  </div>
</div>
