<div class="container-fluid">
<h1>Nastavení</h1>
<h3>{{userInfo.name}}</h3>

<div class="list-group-item d-flex align-items-center">
  {{{@icon;icon:user/paintBrush}}}&nbsp;Motiv
  <div class="btn-group ms-3 flex-grow-1">
    <a class="shp-app-action btn btn-secondary" data-action='setColorMode' href="#" data-app-color-mode='auto'>Auto</a>
    <a class="shp-app-action btn btn-secondary" data-action='setColorMode' href="#" data-app-color-mode='dark'>Tmavý</a>
    <a class="shp-app-action btn btn-secondary" data-action='setColorMode' href="#" data-app-color-mode='light'>Světlý</a>
  </div>
</div>

<a class="list-group-item" href='{{data.uiRoot}}auth/logout'>{{{@icon;icon:user/signOut}}} Odhlásit</a>

</div>
