<div class='container-flui d-flex justify-content-center align-items-center' style='height: 100vh; background-color: var(--shpd-body-bg);'>
  <div class='shpd-card'>
    <div class='shpd-card-title'>
      <h3>Zapomenuté heslo</h3>
    </div>
    {{#data.login.error}}
    <div class='alert alert-danger'>
      {{data.login.errorMsg}}
    </div>
    {{/data.login.error}}
    <form method='POST' action='{{data.uiRoot}}auth/send-lost-password' novalidate>
      <div class='mb-3'>
        <label for='e10-login-user'>Zadejte svůj e-mail a my vám pošleme výzvu ke změně hesla.</label>
        <input type='email' class='shpd-form-text mt-2' name='userEmail' id='e10-login-user' novalidate>        
      </div>
      <div class='b'>
        <button type='submit' class='btn btn-primary'>Odeslat</button>
      </div>
    </form>    
  </div>
</div>

