<div id='shp-app-window' class='container-fluid d-flex justify-content-center align-items-center' style='height: 100vh; background-color: var(--shpd-body-bg)'>
  <div class='shpd-card' >
    <div class='shpd-card-title'>
      <h3>Přihlášení</h3>
    </div>
    
      {{#data.login.error}}
      <div class='alert alert-danger'>
        {{data.login.errorMsg}}
      </div>
      {{/data.login.error}}
      <form method='POST' action='{{data.uiRoot}}auth/login' novalidate>
        <div class='mb-3'>
          <label for='e10-login-user'>Přihlašovací jméno / e-mail</label>
          <input type='email' class='shpd-form-text' name='login' id='e10-login-user' novalidate>          
        </div>
        <div class='mb-3'>
          <label for='e10-login-password'>Heslo</label>
          <input type='password' name='password' class='shpd-form-text' id='e10-login-password'>          
        </div>
        <div class='mb-3'>
          <input type='checkbox' name='showPassword' class='shpd-form-checkbox' id='e10-show-password' onclick="shpLoginShowPasswords()">
          <label for='e10-show-password'>Zobrazit heslo</label>
        </div>
        <input type='hidden' name='from' value='{{{data.login.referer}}}'>
        <div class='b'>
          <button type='submit' class='btn btn-primary'>Přihlásit</button>
          <a href='{{data.uiRoot}}user/send-lost-password' class='btn btn-outline-secondary float-end'>Neznám heslo</a>
        </div>
      </form>
    
  </div>
</div>
<script>
function shpLoginShowPasswords() {
  var pwd = document.getElementById("e10-login-password");
  if (pwd.type === "password") pwd.type = "text"; else pwd.type = "password";
}
</script>
