<div class='container d-flex justify-content-center align-items-center' style='height: 100vh;'>
  <div class='card' style='min-width: 90%; max-width: 90vw;'>
    <div class='card-header'>
      <h3>Zapomenuté heslo</h3>
      Zadejte svůj e-mail a my vám pošleme výzvu ke změně hesla.
    </div>
    <div class='card-body'>
      {{#data.login.error}}
      <div class='alert alert-danger'>
        {{data.login.errorMsg}}
      </div>
      {{/data.login.error}}
      <form method='POST' action='{{data.uiRoot}}auth/send-lost-password'>
        <div class='form-floating mb-3'>
          <input type='email' class='form-control' name='userEmail' placeholder='name@example.com' id='e10-login-user'>
          <label for='e10-login-user'>E-mail</label>
        </div>
        <div class='b'>
          <button type='submit' class='btn btn-primary'>Odeslat</button>
        </div>
      </form>
    </div>
  </div>
</div>

