<div class='container-fluid d-flex justify-content-center align-items-center' style='height: 100vh; background-color: var(--shpd-body-bg)'>
  <div class='shpd-card'>
    {{#data.request.errorInvalidRequest}}
      <div class='shpd-card-title'>
        <h3>Chyba: {{data.request.errorMsg}}</h3>
      </div>      
      Odkaz, na který jste kliknuli, nefunguje...      
    {{/data.request.errorInvalidRequest}}

    {{#data.request.requestIsOk}}
      <div class='shpd-card-title'>
        <h3>Změna hesla uživatele: {{data.request.userFullName}}</h3>
      </div>    
      {{#data.login.error}}
      <div class='alert alert-danger'>
        {{data.login.errorMsg}}
      </div>
      {{/data.login.error}}
      <form method='POST' action='{{data.uiRoot}}auth/change-password'>
        <div class='mb-3'>
          <input type='password' name='password1' class='shpd-form-text' placeholder='Heslo' id='e10-activate-password-1'>
          <label for='e10-activate-password-1'>Heslo</label>
        </div>
        <div class='mb-3'>
          <input type='password' name='password2' class='shpd-form-text' placeholder='Zopakujte heslo' id='e10-activate-password-2'>
          <label for='e10-activate-password-2'>Zopakujte heslo</label>
        </div>

        <div class='mb-3'>
          <input type='checkbox' name='showPassword' class='shpd-form-checkbox' id='e10-show-passwords' onclick="showPasswords()">
          <label for='e10-show-passwords'>Zobrazit hesla</label>
        </div>
        <input type='hidden' name='requestId' value='{{{data.request.requestId}}}'>
        <div class='b'>
          <button type='submit' class='btn btn-primary'>Změnit heslo</button>
        </div>
      </form>      
      <div class='card-footer'>
        <small>Heslo musí být dlouhé alespoň 8 znaků a obsahovat alespoň jednu číslici.</small>
      </div>
    {{/data.request.requestIsOk}}
  </div>
</div>

<script>
function showPasswords() {
  var pwd = document.getElementById("e10-activate-password-1");
  if (pwd.type === "password") pwd.type = "text"; else pwd.type = "password";
  pwd = document.getElementById("e10-activate-password-2");
  if (pwd.type === "password") pwd.type = "text"; else pwd.type = "password";
}
</script>