<div class='container d-flex justify-content-center align-items-center' style='height: 100vh;'>
  <div class='card' style='min-width: 90%; max-width: 90vw;'>
    <div class='card-header'>
      <h3>Hotovo</h3>
    </div>
    <div class='card-body'>
      Za chvíli najde v e-mailu odkaz pro změnu hesla.
    </div>
  </div>
</div>

