<div class='container-fluid d-flex justify-content-center align-items-center' style='height: 100vh; background-color: var(--shpd-body-bg);'>
  <div class='shpd-card'>
    <div class='shpd-card-title'>
      <h3>Hotovo</h3>
    </div>
    Za chvíli najde v e-mailu odkaz pro změnu hesla.
  </div>
</div>

