	{{#page.enableCreateDatabases}}
	<p style='padding: 1ex;'>
		<a href='newdatasource' class='btn btn-success'><i class='fa fa-plus-circle'></i> Vytvořit novou databázi</a>
	</p>
	{{/page.enableCreateDatabases}}
	{{#page.dataSources}}
	<table class="table table-hover table-condensed">
		{{#page.userDataSources}}
		<tr>
			<td style='font-size: 144%; width: 1em; text-align: center; vertical-align: middle;' class='{{stateClass}}'>
				<i class='{{stateIcon}}'></i>
			</td>
			<td style='vertical-align: middle;'>
				<b>{{name}}</b> <small class='pull-right'>{{ownerName}}</small><br/>
				&nbsp;<small class='pull-right'>⌗{{dsid}}</small>
			</td>
			<td style='vertical-align: middle;'>
				{{#ready}}
					<a href="{{urlApp}}app" class='btn' target='_blank'><i class='fa fa-external-link'></i> Přihlásit</a>
				{{/ready}}
				{{^ready}}
					{{comment}}
				{{/ready}}
			</td>
		</tr>
		{{/page.userDataSources}}
	</table>
	{{/page.dataSources}}
