{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{@dict;Zálohová faktura}}: {{#data.head.title}}{{data.head.title}}{{/data.head.title}}{{^data.head.title}}{{data.owner.fullName}}{{/data.head.title}}
{{/data.reportTexts.emailSubject}}
