<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/modern/style-modern.css?v13" type="text/css"/>
</head>
<body>

<table class="mainInfo">
	<tr>
		<td class="info">
			<table class="dates">
				<tr>
					<td class='label'>{{@dict;Datum vystavení}}:</td><td class='value'>{{data.head.dateIssue}}</td>
				</tr>
				<tr>
					<td class='label'>{{@dict;Datum splatnosti}}:</td><td class='value'><b>{{data.head.dateDue}}</b></td>
				</tr>
				{{#data.head.datePeriodBegin}}
					<tr>
						<td class='label'>{{@dict;Účtované období}}:</td><td class='value'>{{data.head.datePeriodBegin}} {{@dict;až}} {{data.head.datePeriodEnd}}</td>
					</tr>
				{{/data.head.datePeriodBegin}}
			</table>
		<td>

		<td class="info">
			<table class="docInfo">
				<tr>
					<td class='label'>{{@dict;Způsob úhrady}}:</td><td class='value'>{{@dict;dataItem:data.head.print.paymentMethod}}</td>
				</tr>
				<tr>
					<td>{{@dict;Bankovní spojení}}:</td><td>{{data.myBankAccount.bankAccount}}</td>
				</tr>
				{{#data.myBankAccount.iban}}
					<tr>
						<td>{{@dict;IBAN}}:</td><td> {{data.myBankAccount.iban}} <br/></td>
					</tr>
					{{/data.myBankAccount.iban}}

				<tr>
					<td class='label'>{{@dict;Variabilní symbol}}:</td><td class='value'><b>{{data.head.symbol1}}</b></td>
				</tr>
				{{#data.head.symbol2}}
					<tr>
						<td class='label'>{{@dict;Specifický symbol}}:</td><td class='value'><b>{{data.head.symbol2}}</b></td>
					</tr>
				{{/data.head.symbol2}}
			</table>
		</td>
	</tr>
</table>

<table class="infoSecondary">
	<tr>
		<td class="supplier">
			<span class='hdr' id="supplier-address-hdr">{{@dict;Dodavatel}}:</span>
			{{#data.reportTexts.supplierAndContacts}}{{{data.reportTexts.supplierAndContacts}}}{{/data.reportTexts.supplierAndContacts}}
				{{^data.reportTexts.supplierAndContacts}}
				<span class='address' id="supplier-address-box">
					{{#data.reportTexts.supplier}}{{{data.reportTexts.supplier}}}<br>{{/data.reportTexts.supplier}}
					{{^data.reportTexts.supplier}}
						<span class='title'>{{data.owner.fullName}}</span>
						{{#data.owner.address.specification}}
							{{data.owner.address.specification}}<br/>
						{{/data.owner.address.specification}}
						{{data.owner.address.street}}<br/>
						{{^data.flags.foreignCountry}}
							{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
						{{/data.flags.foreignCountry}}
						{{#data.flags.foreignCountry}}
							{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
							{{data.owner.address.countryNameEng}}
						{{/data.flags.foreignCountry}}

						</span>
					{{/data.reportTexts.supplier}}
						{{#data.reportTexts.contacts}}{{{data.reportTexts.contacts}}}{{/data.reportTexts.contacts}}
						{{^data.reportTexts.contacts}}
							{{#data.owner_identifiers}}
								<b>{{@dict;dataItem:name}}:</b> {{value}}
							{{/data.owner_identifiers}}<br>

							<small>{{cfgItem.options.core.ownerLegalRegInfo}}</small>
						{{/data.reportTexts.contacts}}
					{{/data.reportTexts.supplierAndContacts}}
		</td>

		<td class="customer">
			<div class='hdr'>{{@dict;Odběratel}}:<small class='pull-right'>#{{data.person.id}}</small></div>
			<span class='title'>{{data.person.fullName}}</span>
			<span class='address'>
				{{#data.person.address.specification}}
					{{data.person.address.specification}}<br/>
				{{/data.person.address.specification}}
				{{data.person.address.street}}<br/>
				{{^data.flags.foreignCountry}}
					{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
				{{/data.flags.foreignCountry}}
				{{#data.flags.foreignCountry}}
					{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
					{{data.person.address.countryNameEng}}
				{{/data.flags.foreignCountry}}
			</span>

			{{#data.person_identifiers}}
				<b>{{@dict;dataItem:name}}:</b> {{value}}
			{{/data.person_identifiers}}
		</td>
	</tr>
</table>

<table class="additionalAddresses">
	<tr>
		{{#data.flags.usePersonsAddress}}
			{{#data.flags.useAddressOwnerOffice}}
				<td>
					<span class='hdr'>{{@dict;Provozovna dodavatele}}:</span>
					<span class='address'>
							{{#data.personsAddress.ownerOffice.specification}}
								{{data.personsAddress.ownerOffice.specification}}<br/>
							{{/data.personsAddress.ownerOffice.specification}}
							{{data.personsAddress.ownerOffice.street}}<br/>
							{{^data.flags.foreignCountry}}
								{{data.personsAddress.ownerOffice.zipcode}} {{data.personsAddress.ownerOffice.city}}<br/>
							{{/data.flags.foreignCountry}}
							{{#data.flags.foreignCountry}}
								{{data.personsAddress.ownerOffice.zipcode}} {{data.personsAddress.ownerOffice.city}}<br/>
								{{data.personsAddress.ownerOffice.countryNameEng}}
							{{/data.flags.foreignCountry}}
					</span>

					{{#data.personsAddress.ownerOffice.ids}}
						<b>{{title}}:</b> {{value}}
					{{/data.personsAddress.ownerOffice.ids}}

				</td>
			{{/data.flags.useAddressOwnerOffice}}

			{{#data.flags.useAddressPersonDelivery}}
				<td>
					<span class='hdr'>{{@dict;Doručovací adresa}}:</span>
					<span class='address'>
						{{#data.personsAddress.deliveryAddress.specification}}
							{{data.personsAddress.deliveryAddress.specification}}<br/>
						{{/data.personsAddress.deliveryAddress.specification}}
						{{data.personsAddress.deliveryAddress.street}}<br/>
						{{^data.flags.foreignCountry}}
							{{data.personsAddress.deliveryAddress.zipcode}} {{data.personsAddress.deliveryAddress.city}}<br/>
						{{/data.flags.foreignCountry}}
						{{#data.flags.foreignCountry}}
							{{data.personsAddress.deliveryAddress.zipcode}} {{data.personsAddress.deliveryAddress.city}}<br/>
							{{data.personsAddress.deliveryAddress.countryNameEng}}
						{{/data.flags.foreignCountry}}
					</span>
				</td>
			{{/data.flags.useAddressPersonDelivery}}

			{{#data.flags.useAddressPersonOffice}}
				<td>
					<span class='hdr'>{{@dict;Provozovna odběratele}}:</span>
					<span class='address'>
						{{#data.personsAddress.personOffice.specification}}
							{{data.personsAddress.personOffice.specification}}<br/>
						{{/data.personsAddress.personOffice.specification}}
						{{data.personsAddress.personOffice.street}}<br/>
						{{^data.flags.foreignCountry}}
							{{data.personsAddress.personOffice.zipcode}} {{data.personsAddress.personOffice.city}}<br/>
						{{/data.flags.foreignCountry}}
						{{#data.flags.foreignCountry}}
							{{data.personsAddress.personOffice.zipcode}} {{data.personsAddress.personOffice.city}}<br/>
							{{data.personsAddress.personOffice.countryNameEng}}
						{{/data.flags.foreignCountry}}
					</span>

					{{#data.personsAddress.personOffice.ids}}
						<b>{{title}}:</b> {{value}}
					{{/data.personsAddress.personOffice.ids}}

				</td>
			{{/data.flags.useAddressPersonOffice}}

		{{/data.flags.usePersonsAddress}}
	</tr>
</table>

{{#data.flags.rosCZ}}
	<table class='rosInfo'>
		<tr>
			<td>{{@dict;EET}}: {{@dict;dataItem:data.ros.type}}</td>
			<td>{{@dict;Datum a čas}}: {{data.ros.datePay}}</td>
			<td>{{@dict;Provozovna}}: {{data.ros.placeId1}}</td>
			<td>{{@dict;Pokladna}}: {{data.ros.placeId2}}</td>
		</tr>
		<tr>
			{{#data.ros.fik}}
				<td colspan="2">{{@dict;FIK}}:{{data.ros.fik}}</td>
			{{/data.ros.fik}}
			{{^data.ros.fik}}
				<td colspan="2">{{@dict;PKP}}: {{data.ros.pkp}}</td>
			{{/data.ros.fik}}
			<td colspan="2">{{@dict;BKP}}: {{data.ros.bkp}}</td>
		</tr>
	</table>
{{/data.flags.rosCZ}}

{{#data.reportTexts.subHeader}}<div class='reportTextHeader'>{{{data.reportTexts.subHeader}}}</div>{{/data.reportTexts.subHeader}}

{{@latestNews;print:1;cnt:1;dateVar:data.head.dateAccounting}}
{{#data.latestNews.all}}
	<div class="news">
		{{{htmlPaperDoc}}}
	</div>
{{/data.latestNews.all}}


<div class='docNote'>
	{{#data.docs_properties.notes.note-ext}}
		{{{value}}}
	{{/data.docs_properties.notes.note-ext}}
</div>


<table class="rows {{#data.options.docReportsTablesRoundedCorners}} rounded{{/data.options.docReportsTablesRoundedCorners}}">
	<thead>
		<tr>
			<th class='itemID'>{{@dict;ID}}</th>
			{{^data.flags.multiLineRows}}
				<th>{{@dict;Položka}}</th>
			{{/data.flags.multiLineRows}}
			{{#data.itemCodesHeader}}
				<th class='number'>{{sn}}</th>
			{{/data.itemCodesHeader}}
			<th class='number'>{{@dict;Množství}}</th>
			<th>{{@dict;Jed.}}</th>
			{{#data.head.taxPayer}}
				<th class='number'>% {{@dict;DPH}}</th>
			{{/data.head.taxPayer}}
			<th class='number'>{{@dict;Cena/jed.}}</th>
			<th class='number'>{{@dict;Cena celkem}}</th>
		</tr>
	</thead>

	{{^data.flags.multiLineRows}}
		{{#data.rows}}
			<tr>
				<td class='itemID'>{{itemID}}</td>
				<td>{{text}}{{#additionsMarks}}<sup> {{additionsMarks}}</sup>{{/additionsMarks}}</td>
				<td class='number'>{{quantity}}</td>
				<td>{{@dict;dataItem:print.unit}}</td>
				{{#data.head.taxPayer}}
					<td class='number'>{{taxPercents}}</td>
				{{/data.head.taxPayer}}
				<td class='number'>{{print.priceItem}}</td>
				<td class='number'>{{print.priceAll}}</td>
			</tr>
		{{/data.rows}}
	{{/data.flags.multiLineRows}}
	{{#data.flags.multiLineRows}}
		{{#data.rows}}
			<tr>
				<td class="itemRow" colspan="8" style="font-weight: semi-bold;">{{text}}{{#additionsMarks}}<sup> {{additionsMarks}}</sup>{{/additionsMarks}}</td>
			</tr>
			<tr class="rowInfo">
				<td class='itemID'>{{itemID}}</td>
				<td class='number'>{{quantity}}</td>
				<td>{{@dict;dataItem:print.unit}}</td>
				{{#data.head.taxPayer}}
					<td class='number'>{{taxPercents}}</td>
				{{/data.head.taxPayer}}
				<td class='number'>{{print.priceItem}}</td>
				<td class='number'>{{print.priceAll}}</td>
			</tr>
		{{/data.rows}}
	{{/data.flags.multiLineRows}}
</table>


<table class='paymentInfo'>
	<tr>
		<td class='qrPayment'>
			{{^data.flags.foreignCurrency}}
				{{#data.spayd}}
					<div id='spayd'>
						<img src="{{spaydQRCodeURL}}"/>
						{{@dict;QR platba}}
					</div>
				{{/data.spayd}}
			{{/data.flags.foreignCurrency}}
		</td>
		<td class='taxInfo'>
			{{#data.head.taxPayer}}
				<table class="taxDescr {{#data.options.docReportsTablesRoundedCorners}} rounded{{/data.options.docReportsTablesRoundedCorners}}">
					<thead>
						{{#data.flags.foreignCurrency}}
							<tr>
								<th rowspan="2">{{@dict;Sazba}}</th>
								<th rowspan="2" class='number'>% {{@dict;DPH}}</th>
								<th class='number' colspan="3" style="text-align: center !important;">{{data.head.print.currency}}</th>
								<th class='number' colspan="3" style="text-align: center !important;">{{data.head.print.homeCurrency}}</th>
							</tr>
							<tr>
								<th class='number'>{{@dict;Základ}}</th>
								<th class='number'>{{@dict;Daň}}</th>
								<th class='number'>{{@dict;Celkem}}</th>
								<th class='number'>{{@dict;Základ}}</th>
								<th class='number'>{{@dict;Daň}}</th>
								<th class='number'>{{@dict;Celkem}}</th>
							</tr>
						{{/data.flags.foreignCurrency}}

						{{^data.flags.foreignCurrency}}
							<tr>
								<th>{{@dict;Sazba}}</th>
								<th class='number'>% {{@dict;DPH}}</th>
								<th class='number'>{{@dict;Základ}}</th>
								<th class='number'>{{@dict;Daň}}</th>
								<th class='number'>{{@dict;Celkem}}</th>
							</tr>
						{{/data.flags.foreignCurrency}}
					</thead>

					{{#data.taxes}}
						<tr>
							{{#data.flags.foreignCurrency}}
								<td class='label'>{{@dict;dataItem:print.taxCode}}{{#noteMark}}<b><sup>{{noteMark}})</sup></b>{{/noteMark}}</td>
								<td class='number'>{{taxPercents}} %</td>
								<td class='number'>{{print.sumBase}}</td>
								<td class='number'>{{print.sumTax}}</td>
								<td class='number'>{{print.sumTotal}}</td>
								<td class='number'>{{print.sumBaseHc}}</td>
								<td class='number'>{{print.sumTaxHc}}</td>
								<td class='number'>{{print.sumTotalHc}}</td>
							{{/data.flags.foreignCurrency}}

							{{^data.flags.foreignCurrency}}
								<td class='label'>{{@dict;dataItem:print.taxCode}}{{#noteMark}}<b><sup>{{noteMark}})</sup></b>{{/noteMark}}</td>
								<td class='number'>{{taxPercents}} %</td>
								<td class='number'>{{print.sumBase}}</td>
								<td class='number'>{{print.sumTax}}</td>
								<td class='number'>{{print.sumTotal}}</td>
							{{/data.flags.foreignCurrency}}
						</tr>
					{{/data.taxes}}

					<tr>
						{{#data.flags.foreignCurrency}}
							<td class='label' colspan='2' style="font-weight: bold;">{{@dict;Celkem}}</td>
						{{/data.flags.foreignCurrency}}

						{{^data.flags.foreignCurrency}}
							<td class='label' colspan='2'>{{@dict;Celkem}} {{data.head.print.currency}}</td>
						{{/data.flags.foreignCurrency}}

						<td class='number'>{{data.head.print.sumBase}}</td>
						<td class='number'>{{data.head.print.sumTax}}</td>
						<td class='number'>{{data.head.print.sumTotal}}</td>

						{{#data.flags.foreignCurrency}}
							<td class='number'>{{data.head.print.sumBaseHc}}</td>
							<td class='number'>{{data.head.print.sumTaxHc}}</td>
							<td class='number'>{{data.head.print.sumTotalHc}}</td>
						{{/data.flags.foreignCurrency}}
					</tr>

					{{#data.head.rounding}}
						<tr>
							<td class='label' colspan='4'>{{@dict;Zaokrouhlení}} {{data.head.print.currency}}</td>
							<td class='number'>{{data.head.print.rounding}}</td>
							{{#data.flags.foreignCurrency}}
								<td class='label' colspan='3'></td>
							{{/data.flags.foreignCurrency}}
						</tr>
					{{/data.head.rounding}}
				</table>

				<div class='foreignCurrency'>
					{{#data.flags.foreignCurrency}}
						1 {{data.head.print.currency}} = {{data.head.print.exchangeRate}} {{data.head.print.homeCurrency}}
					{{/data.flags.foreignCurrency}}
				</div>
				<br>
				{{#data.taxNotes}}
					<b><sup>{{mark}})</sup></b> {{@dict;dataItem:text}}<br/>
				{{/data.taxNotes}}
			{{/data.head.taxPayer}}

			<small>
				{{{@dict;Nejedná se o daňový doklad, vyčíslení DPH je pouze informativní}}}.
			</small>

			<div class='pay'>
				{{@dict;Celkem k úhradě}}: <b>{{data.head.print.toPay}} {{data.head.print.currency}}</b>
			</div>
		</td>
	</tr>
</table>

<div class='footerNotes'>
	{{#data.additionsExists}}
		<h4>Poznámky</h4>
		{{#data.additions}}
			{{#mark}}{{mark}}: {{/mark}}{{labelPrefix}} {{identifier}}<br>
		{{/data.additions}}
		<br/>
	{{/data.additionsExists}}
</div>

<div class='reportTextFooter'>
	{{#data.reportTexts.subFooter}}{{{data.reportTexts.subFooter}}}{{/data.reportTexts.subFooter}}
</div>

{{#data.options.docReportsPersonsSigns}}
	{{#data.author.signature.rfn}}
		<table class="signed">
			<tr>
				<td class="empty">
				<td>
				<td>
					<img src='{{dsUrl}}{{data.author.signature.rfn}}'>
				</td>
			</tr>
			<tr>
				<td class="empty">
				<td>
				<td>
					<span>{{@dict;Vystavil}}</span>
				</td>
			</tr>
		</table>
	{{/data.author.signature.rfn}}
{{/data.options.docReportsPersonsSigns}}

</body>
</html>

