{{{netdataPageBegin}}}

<h2 style="text-align: center; padding-top: 1rem;">Load</h2>

<div id="chart_system_load" data-netdata="snmp_{{data.device.recData.id}}.system_load" data-width="100%" data-height="180px"
		 data-dygraph-valuerange="[null, null]" data-after="-7200" data-id="chart_system_load_457hfd"
		 data-colors="" role="application" style="width: 100%; will-change: transform;">
</div>

<h2 style="text-align: center; padding-top: 1rem;">Temperature</h2>

<div id="chart_system_temperature" data-netdata="snmp_{{data.device.recData.id}}.system_temperature"
		 data-width="100%" data-height="180px"
		 data-dygraph-valuerange="[null, null]" data-after="-7200" data-id="chart_system_temperature_2458sdde"
		 data-colors="" role="application" style="width: 100%; height: 400px; will-change: transform;">
</div>


{{{netdataPageEnd}}}

