<!DOCTYPE HTML>
<html lang="cs">
<head>
		<title>Příjemka {{data.head.docNumber}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>
</head>
<body>

	<div id='top'>
			<span class='documentName'>Výdejka</span>
		<span class='documentNumber'>číslo: {{data.head.docNumber}}</span>
	</div>

	<table id='head'>
		<tr>
			<td class='supplier'>
				<div class='hdr'>Odběratel:<small class='pull-right'>#{{data.person.id}}</small></div>
				<span class='title'>{{data.person.fullName}}</span>
				<span class='address'>
					{{data.person.address.street}}<br/>
					{{data.person.address.city}} {{data.person.address.zipcode}}<br/>
				</span>
			</td>

			<td class='customer'>
				<span class='hdr'>Datumy a platební údaje:</span>
				<table id='documentDetails'>
					<tr>
						<td class='label'>Variabilní symbol:</td><td class='value'><b>{{data.head.docNumber}}</b></td>
					</tr>
					<tr>
						<td class='label'>Datum vystavení:</td><td class='value'>{{data.head.dateIssue}}</td>
					</tr>
					<tr>
						<td class='label'>Účetní datum:</td><td class='value'>{{data.head.dateAccounting}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<table id='rows'>
		<thead>
		<tr>
			<th class='number'>ID</th>
			<th>Položka</th>
			<th class='number'>Množství</th>
			<th>Jednotka</th>
      <th class='number'>Skl. cena</th>
		</tr>
		</thead>
		{{#data.invrows}}
			<tr>
				<td class='number'>{{itemID}}</td>
				<td>{{text}}</td>
				<td class='number'>{{quantity}}</td>
				<td>{{@dict;dataItem:print.unit}}</td>
				<td class='number'>{{print.invPriceAll}}</td>
			</tr>
		{{/data.invrows}}
		<tr class="subtotal">
				<td colspan="3">CELKEM</td>
				<td class='number'>{{data.print.invPriceTotal}}</td>
		</tr>
	</table>
	
  <div id='sign'>
		<span class='logoImg'>
			<img style='max-width:80mm;max-height:30mm;' src='file://{{appDir}}/reports/logo-razitko.svg'/>
		</span>
		<span class='signImg'>
			{{#data.author.signature.filename}}
				
			{{/data.author.signature.filename}}
		</span>
		<br/>
		<span class='name'>{{@dict;Vystavil}}: {{data.author.fullName}}</span>
	</div>

    <div id='footer'>
        <span class='printedBy'>
            {{@dict;Vytištěno aplikací}}
            {{#info.reportFormat.pdf}}
                <img style='height: 1.18em; width: 5.2em; position: relative; bottom: -0.3em;' src='file://{{appDir}}/e10-modules/e10doc/core/reports/shipard-logo-black.svg'/>
            {{/info.reportFormat.pdf}}
            {{#info.reportFormat.widget}}
                <img style='height: 1.5em; padding-bottom: 0.2em;' src='{{dsRoot}}/e10-modules/e10doc/core/reports/shipard-logo-black.svg'/>
            {{/info.reportFormat.widget}}
        </span>
    </div>

</body>
</html>

