{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{data.reportTitle}} za {{data.periodNameL}} {{data.periodValue}}
{{/data.reportTexts.emailSubject}}