<style>
	table.footer{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 6pt;
		width: 100%;
		margin-left: 1cm;
		margin-right: 1cm;
		border-collapse: collapse;
	}

	td.ownerInfo {text-align: left; line-height: 1.5;}
	td.logo {text-align: left; width: 50%;}
	img.logo {height: 1.30em;  position: relative;}
	td.page {text-align: right; width: 50%;}

</style>

<table class='footer'>
	<tr>
		<td class="ownerInfo" colspan="2">
			{{#data.reportTexts.contactsFooter}}{{{data.reportTexts.contactsFooter}}}{{/data.reportTexts.contactsFooter}}
			{{^data.reportTexts.contactsFooter}}
				{{#data.owner_contacts}}
					<span style="white-space: pre;"><b>{{name}}:</b> {{value}}</span>
				{{/data.owner_contacts}}
			{{/data.reportTexts.contactsFooter}}
		</td>
	</tr>
	<tr>
		<td class='logo'>
			{{{data.footer.logoPoweredBy}}}
		</td>

		<td class='page'>
			{{@dict;Strana}} <span class="pageNumber"></span> {{@dict;z}} <span class="totalPages"></span>
		</td>
	</tr>
</table>

