<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>Souhrnné hlášení DPH {{data.head.docNumber}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/style-default.css" type="text/css"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/e10doc/taxes/tax-eu-vat-rs/cz/style.css" type="text/css"/>
</head>
<body>

{{{data.text}}}

</body>
</html>
