<div class='e10-tax-report'>
<div class="newPage"></div>
    <table class="formSection">
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td colspan="13"><b>KONTROLNÍ OPIS</b></td>
            <td colspan="15" class="r">Pořadové číslo stránky / Celkový počet stran</td>
            <td colspan="5" class="input c"><span>{{data.currentPageNumber}} / {{data.cntPagesTotal}}</span></td>
        </tr>
    </table>
    <br/>
    <table class="tableSection">
        <thead>
            <tr>
                <th>Číslo<br/>řádku</th>
                <th>Kód<br/>země</th>
                <th>DIČ<br/>pořizovatele</th>
                <th>Kód<br>plnění</th>
                <th>Počet<br>plnění</th>
                <th>Celková hodnota plnění v Kč</th>
            </tr>
        </thead>
