{{textMode}}{{textMode}}{{#data.reportTexts.emailBody}}{{{data.reportTexts.emailBody}}}{{/data.reportTexts.emailBody}}
{{^data.reportTexts.emailBody}}
{{@dict;Dobrý den}},

{{@dict;dovolujeme si Vás upozornit, že ke dni}} {{data.today}} {{@dict;stále evidujeme pohledávky}}
{{@dict;v celkové výši}}{{#data.totals}} {{print.restAmount}} {{curr}}{{/data.totals}}.

{{@dict;Prosíme Vás o kontrolu a provedení úhrady. V přílohách níže naleznete přesný rozpis dlužných částek a faktury.}}

{{@dict;Děkujeme}}.


{{@dict;S pozdravem}}

--
{{data.owner.fullName}}
{{#data.owner_contacts}}
{{name}}: {{value}}
{{/data.owner_contacts}}
{{/data.reportTexts.emailBody}}