<!DOCTYPE HTML>
<html lang="cs">
<head>
		<title>test</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/modern/style-modern.css?v4" type="text/css"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/sc/icons/fa/5/css/all.min.css">

</head>
<body>

	<table class="infoSecondary">
		<tr>
			<td class="supplier">
				<span class='hdr' id="supplier-address-hdr">{{@dict;Dodavatel}}:</span>
				{{#data.reportTexts.supplierAndContacts}}{{{data.reportTexts.supplierAndContacts}}}{{/data.reportTexts.supplierAndContacts}}
					{{^data.reportTexts.supplierAndContacts}}
					<span class='address' id="supplier-address-box">
						{{#data.reportTexts.supplier}}{{{data.reportTexts.supplier}}}<br>{{/data.reportTexts.supplier}}
						{{^data.reportTexts.supplier}}
							<span class='title'>{{data.owner.fullName}}</span>
							{{#data.owner.address.specification}}
								{{data.owner.address.specification}}<br/>
							{{/data.owner.address.specification}}
							{{data.owner.address.street}}<br/>
							{{^data.flags.foreignCountry}}
								{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
							{{/data.flags.foreignCountry}}
							{{#data.flags.foreignCountry}}
								{{data.owner.address.countryNameSC2}}-{{data.owner.address.zipcode}} {{data.owner.address.city}}<br/>
								{{data.owner.address.countryNameEng}}
							{{/data.flags.foreignCountry}}

							</span>
						{{/data.reportTexts.supplier}}
							{{#data.reportTexts.contacts}}{{{data.reportTexts.contacts}}}{{/data.reportTexts.contacts}}
							{{^data.reportTexts.contacts}}
								{{#data.owner_identifiers}}
									<b>{{@dict;dataItem:name}}:</b> {{value}}
								{{/data.owner_identifiers}}<br>

								<small>{{cfgItem.options.core.ownerLegalRegInfo}}</small>
							{{/data.reportTexts.contacts}}
						{{/data.reportTexts.supplierAndContacts}}
			</td>

			<td class="customer">
				<div class='hdr'>{{@dict;Odběratel}}:<small class='pull-right'>#{{data.person.id}}</small></div>
				<span class='title'>{{data.person.fullName}}</span>
				<span class='address'>
					{{#data.person.address.specification}}
						{{data.person.address.specification}}<br/>
					{{/data.person.address.specification}}
					{{data.person.address.street}}<br/>
					{{^data.flags.foreignCountry}}
						{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
					{{/data.flags.foreignCountry}}
					{{#data.flags.foreignCountry}}
						{{data.person.address.countryNameSC2}}-{{data.person.address.zipcode}} {{data.person.address.city}}<br/>
						{{data.person.address.countryNameEng}}
					{{/data.flags.foreignCountry}}
				</span>

				{{#data.person_identifiers}}
					<b>{{@dict;dataItem:name}}:</b> {{value}}
				{{/data.person_identifiers}}
			</td>
		</tr>
	</table>



	<p>{{@dict;Vážený zákazníku}},</p>
	<p>{{@dict;dovolujeme si Vás upozornit, že ke dni}} {{data.today}} {{@dict;stále evidujeme následující pohledávky}}:
	</p>

	<table class="rows {{#data.options.docReportsTablesRoundedCorners}} rounded{{/data.options.docReportsTablesRoundedCorners}}">
		<thead>
		<tr>
			<th>{{@dict;VS}}</th>
			<th>{{@dict;SS}}</th>
			<th>{{@dict;Splatnost}}</th>
			<th class='number'>{{@dict;Předpis}}</th>
			<th class='number'>{{@dict;Uhrazeno}}</th>
			<th class='number'>{{@dict;K úhradě}}</th>
			<th>{{@dict;Měna}}</th>
		</tr>
		</thead>
		{{#data.rows}}
			<tr>
				<td>{{s1}}</td>
				<td>{{s2}}</td>
				<td>{{dateDue}}</td>
				<td class='number'>{{print.request}}</td>
				<td class='number'>{{print.payment}}</td>
				<td class='number'><b>{{print.restAmount}}</b></td>
				<td>{{curr}}</td>
			</tr>
		{{/data.rows}}
		{{#data.totals}}
			<tfoot>
				<tr>
					<td colspan="5">{{@dict;CELKOVÁ dlužná částka}}:</td>
					<td class='number'><b>{{print.restAmount}}</b></td>
					<td>{{curr}}</td>
				</tr>
			</tfoot>
		{{/data.totals}}
	</table>

	<p>{{@dict;Prosíme Vás o co nejrychlejší kontrolu a úhradu dlužných částek}}.</p>
	<p>{{@dict;Děkujeme}}</p>

</body>
</html>

