{{textMode}}{{@dict;Dobrý den}},

{{@dict;v příloze Vám zasíláme objednávku}}: {{data.head.title}}.

{{@dict;Děkujeme}},

{{@dict;S pozdravem}}

--
{{data.owner.fullName}}
{{#data.owner_contacts}}
{{name}}: {{value}}
{{/data.owner_contacts}}
