{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
Nákupy v automatu: {{data.head.fullName}}, {{data.flags.periodValue}}
{{/data.reportTexts.emailSubject}}