{{#data.gallery.style}}
	{{#data.gallery.style-single}}
		{{#data.gallery.rows}}
			<div class="row">
				{{#images}}
					<div class="col-sm-12 col-md-12 ml-lg-auto mr-lg-auto col-lg-12" id="pswp_{{data.gallery.id}}" title="{{name}}">
						{{#original}}
							<a class="thumbnail" href="{{dsRoot}}/{{folder}}{{fileName}}" target="new">
								{{^svg}}<img src="{{dsRoot}}/imgs/-w1980/{{folder}}{{fileName}}" class="img-responsive" title="{{name}}"/>{{/svg}}
								{{#svg}}<img src="{{dsRoot}}/{{folder}}{{fileName}}" class="img-responsive" title="{{name}}"/>{{/svg}}
							</a>
						{{/original}}
						{{^original}}
							<a class="thumbnail gallery" data-fslightbox="{{data.gallery.id}}" href="{{dsRoot}}/{{folder}}{{fileName}}">
								{{^svg}}<img src="{{dsRoot}}/imgs/-w1980/{{folder}}{{fileName}}" class="img-responsive" title="{{name}}"/>{{/svg}}
								{{#svg}}<img src="{{dsRoot}}/{{folder}}{{fileName}}" class="img-responsive" title="{{name}}"/>{{/svg}}
							</a>
						{{/original}}
					</div>
				{{/images}}
			</div>
		{{/data.gallery.rows}}
	{{/data.gallery.style-single}}
	{{^data.gallery.style-single}}
		{{#data.gallery.rows}}
			{{#images}}
				<span class="thumb thumb-{{data.gallery.style}}">
        	<img src="{{dsRoot}}/imgs/-w1980/{{folder}}{{fileName}}"{{#data.gallery.imgcss}} style='{{data.gallery.imgcss}}'{{/data.gallery.imgcss}} title="{{name}}"/>
				</span>
			{{/images}}
		{{/data.gallery.rows}}
	{{/data.gallery.style-single}}
{{/data.gallery.style}}

{{^data.gallery.style}}
	{{#data.gallery.rows}}
		<div class="row {{#cnt5}}col-md-offset-1{{/cnt5}}">
		{{#images}}
			{{#cnt6}}<div class="col-sm-2 col-md-2 col-lg-2" title="{{name}}">{{/cnt6}}
			{{#cnt5}}<div class="col-sm-2 col-md-2 col-lg-2" title="{{name}}">{{/cnt5}}
			{{#cnt4}}<div class="col-sm-3 col-md-3 col-lg-3" title="{{name}}">{{/cnt4}}
			{{#cnt3}}<div class="col-sm-4 col-md-4 col-lg-4" title="{{name}}">{{/cnt3}}
			{{#cnt2}}<div class="col-sm-6 col-md-6 col-lg-6" title="{{name}}">{{/cnt2}}
			{{#cnt1}}<div class="col-sm-12 col-md-12 col-lg-12" title="{{name}}">{{/cnt1}}
			{{#original}}
					<a data-fslightbox="{{data.gallery.id}}" class="thumbnail" href="{{dsRoot}}/{{folder}}{{fileName}}" target="new">
						{{^svg}}<img src="{{dsRoot}}/imgs/-w1980/{{folder}}{{fileName}}" class="img-responsive"/>{{/svg}}
						{{#svg}}<img src="{{dsRoot}}/{{folder}}{{fileName}}" class="img-responsive"/>{{/svg}}
					</a>
			{{/original}}
			{{^original}}
					<a data-fslightbox="{{data.gallery.id}}" class="thumbnail gallery" href="{{dsRoot}}/imgs/-w1980/{{folder}}{{fileName}}">
						{{^svg}}<img src="{{dsRoot}}/imgs/-w1980/{{folder}}{{fileName}}" class="img-responsive"/>{{/svg}}
						{{#svg}}<img src="{{dsRoot}}/{{folder}}{{fileName}}" class="img-responsive"/>{{/svg}}
					</a>
			{{/original}}
			</div>
		{{/images}}
		</div>
	{{/data.gallery.rows}}
{{/data.gallery.style}}
