<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{page.pageTitle}}</title>
	{{{headMetaTags}}}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

	<link href="{{dsRoot}}{{serverInfo.templateStylePath}}/{{serverInfo.look}}-web.css?v={{serverInfo.lookVersion.web}}" rel="stylesheet">
  <link rel="stylesheet" href="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
  <link rel="stylesheet" href="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="{{scRoot}}/icons/bsi/1.9/font/bootstrap-icons.css">
  {{#page.params.recaptcha-v3-site-key}}<script src='https://www.google.com/recaptcha/api.js?render={{page.params.recaptcha-v3-site-key}}'></script>{{/page.params.recaptcha-v3-site-key}}
</head>

<body>
	{{#page.headerFull}}{{{page.headerFull}}}{{/page.headerFull}}
	{{^page.headerFull}}
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-light navbar-absolute-top navbar-show-hide"
          data-hs-header-options='{
            "fixMoment": 0,
            "fixEffect": "slide"
          }'>
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="{{urlRoot}}/" aria-label="Home page">
					{{#serverInfo.images.template.headerLogo}}<img class="navbar-brand-logo" src="{{dsRoot}}{{serverInfo.images.template.headerLogo}}"/>{{/serverInfo.images.template.headerLogo}}
					{{#serverInfo.templateParams.headerTitle}} <span class='d-{{serverInfo.templateParams.desktopMenuFrom}}'>{{serverInfo.templateParams.headerTitle}}</span>{{/serverInfo.templateParams.headerTitle}}
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-absolute-top-scroller">
            <ul class="navbar-nav nav-pills">
							{{#menu.items}}
								<li class='nav-item'>
									<a class="nav-link{{#active}} active{{/active}}" href="{{urlRoot}}{{url}}">{{title}}</a>
								</li>
							{{/menu.items}}
            </ul>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>
	{{/page.headerFull}}

  {{#page.params.myMain}}
    {{{pageText}}}
  {{/page.params.myMain}}
  {{^page.params.myMain}}
    <main id="content" role="main">
      {{#page.params.myLayout}}
        {{{pageText}}}
      {{/page.params.myLayout}}
      {{^page.params.myLayout}}
        <div class="container content-space-t-2">
          {{#page.layoutSidebarNone}}
            {{{pageText}}}
          {{/page.layoutSidebarNone}}
          {{#page.layoutSidebarLeft}}
            <div class="row">
              <div class="e10w-top-element sidebar left e10w-sb-start col-md-3 col-lg-3 e10-text">{{{textLeftSidebar}}}</div>
              <div class="e10w-top-element col-md-9 main-text pageText e10w-content col-lg-9 {{page.mainTextClass}}">{{{pageText}}}</div>
            </div>
          {{/page.layoutSidebarLeft}}
          {{#page.layoutSidebarRight}}
            <div class="row">
              <div class="e10w-top-element col-lg-9 main-text pageText e10w-content {{page.mainTextClass}}">{{{pageText}}}</div>
              <div class="e10w-top-element sidebar right e10w-sb-end col-lg-3">{{{textRightSidebar}}}</div>
            </div>
          {{/page.layoutSidebarRight}}
          {{#page.layoutSidebarBoth}}
            <div class="row">
              <div class="e10w-top-element sidebar left e10w-sb-start col-lg-3">{{{textLeftSidebar}}}</div>
              <div class="e10w-top-element col-lg-6 main-text pageText e10w-content {{page.mainTextClass}}">{{{pageText}}}</div>
              <div class="e10w-top-element sidebar right e10w-sb-end col-lg-3">{{{textRightSidebar}}}</div>
            </div>
          {{/page.layoutSidebarBoth}}
        </div>
      {{/page.params.myLayout}}
    </main>
  {{/page.params.myMain}}

	{{#page.footerFull}}{{{page.footerFull}}}{{/page.footerFull}}
	{{^page.footerFull}}
		<footer class="bg-dark">
			<div class="container">
				<div class="row align-items-center pt-8">
					<div class="col-12">
						{{#serverInfo.images.template.footerLogo}}<img src="{{dsRoot}}{{serverInfo.images.template.footerLogo}}" style="max-width: 70%; max-height: 10rem; padding: 0; margin: 1rem;"/><br>{{/serverInfo.images.template.footerLogo}}
					</div>
					<!-- End Col -->
				</div>
				<!-- End Row -->
			</div>
		</footer>
	{{/page.footerFull}}


  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

	<script type="text/javascript" src="{{scRoot}}/bs/5.1/dist/js/bootstrap.bundle.min.js?v511"></script>
  <script src="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/vendor/fslightbox/index.js"></script>

	<script src="{{dsRoot}}{{templateUrlRoot}}/unify-v3.1/dist/assets/js/theme.min.js"></script>

  <script>
    (function() {
      new HSHeader('#header').init()
      const megaMenu = new HSMegaMenu('.js-mega-menu', {
        desktop: {position: 'left'}
      })
      new HSGoTo('.js-go-to')
    })();

(function(window, document, undefined) {
  var players = ['iframe[src*="youtube.com"]', 'iframe[src*="vimeo.com"]'];
  var fitVids = document.querySelectorAll(players.join(","));
  if (fitVids.length) {
    for (var i = 0; i < fitVids.length; i++)
    {
      // Get Video Information
      var fitVid = fitVids[i];
      var br = fitVid.getBoundingClientRect();
      var width = br.width;
      var height = br.height;
      var aspectRatio = height / width;
      fitVid.setAttribute("data-aspect-ratio", aspectRatio);
      fitVid.removeAttribute("height");
      fitVid.removeAttribute("width");

      let parentSize = fitVid.parentElement.getBoundingClientRect();
      let newWidth = parentSize.width;
      fitVid.style.width = newWidth+'px';
      fitVid.style.height = (newWidth * aspectRatio)+'px';
    }

    window.addEventListener('resize', function (){
      for (var i = 0; i < fitVids.length; i++) {
        let fitVid = fitVids[i];
        let aspectRation = parseFloat(fitVid.getAttribute("data-aspect-ratio"));
        let parentSize = fitVid.parentElement.getBoundingClientRect();
        let newWidth = parentSize.width;
        fitVid.style.width = newWidth+'px';
        fitVid.style.height = (newWidth * aspectRatio)+'px';
      }
    });
  }
})(window, document);
  </script>


{{#page.javascript}}{{{page.javascript}}}{{/page.javascript}}
{{{webAnalytics}}}
{{#page.params.recaptcha-v3-site-key}}
	<script>
    var contactFormSubmitted = false;
    var forms = document.getElementsByTagName('form');
    for (var i = 0; i < forms.length; i++)
    {
      let form = forms[i];
      form.style.display = 'block';
      form.addEventListener("submit", function (event) {
        if (!contactFormSubmitted)
        {
          contactFormSubmitted = true;
          event.preventDefault();
          grecaptcha.ready(function() {
            grecaptcha.execute('{{page.params.recaptcha-v3-site-key}}', {action: 'contact_form'}).then(function(token) {
              var recaptchaResponse = document.getElementById('recaptcha-response');
              recaptchaResponse.value = token;
              form.submit();
            });
          });
        }
      });
      break;
    }
	</script>
{{/page.params.recaptcha-v3-site-key}}

</body>
</html>
