<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		html, body {font-size: 32px; margin: 0; padding: 0; font-family: sans-serif; width: 100vw;}
		table.labels {widht: 100%; border-collapse: collapse;}
		table.labels td {padding: 1px; margin: 0; vertical-align: top; text-align: left;}
	</style>
</head>
<body>
	<div style='font-size: 110%;'>{{data.head.shortName}}</div>
	<img src="{{@barCodeImg;dataItem:data.mainBCId;codeType:C128}}" style='width: 100%; padding-right: 6px; margin: 0;'>
</body>
</html>
