{{#data.gallery.style}}
	{{#data.gallery.style-single}}
		{{#data.gallery.rows}}
			<div>
				{{#images}}
					<div class="image">
							{{^svg}}<img src="images/{{@registerImage;src:/imgs/-w1200/-x/[folder][fileName].jpg}}"/>{{/svg}}
							{{#svg}}<img src="images/{{@registerImage;src:/[folder][fileName]}}"/>{{/svg}}
							<small>{{name}}</small>
					</div>
				{{/images}}
			</div>
		{{/data.gallery.rows}}
	{{/data.gallery.style-single}}
	{{^data.gallery.style-single}}
		{{#data.gallery.rows}}
			{{#images}}
				<span class="thumb thumb-{{data.gallery.style}}">
						<img src="images/{{@registerImage;src:/imgs/-w1200/-x/[folder][fileName].jpg}}" {{#data.gallery.imgcss}}style='{{data.gallery.imgcss}}'{{/data.gallery.imgcss}}/>
						<br/><small>{{name}}</small>
				</span>
			{{/images}}
		{{/data.gallery.rows}}
	{{/data.gallery.style-single}}
{{/data.gallery.style}}

{{^data.gallery.style}}
	{{#data.gallery.rows}}
		<div class="row">
		{{#images}}
			{{#cnt6}}<div class="wc2">{{/cnt6}}
			{{#cnt5}}<div class="wc2">{{/cnt5}}
			{{#cnt4}}<div class="wc3">{{/cnt4}}
			{{#cnt3}}<div class="wc4">{{/cnt3}}
			{{#cnt2}}<div class="wc6">{{/cnt2}}
			{{#cnt1}}<div class="wc12">{{/cnt1}}
					<img src="images/{{@registerImage;src:/imgs/-w1200/-x/[folder][fileName].jpg}}"/>
					<small>{{name}}</small>
			</div>
		{{/images}}
		</div>
	{{/data.gallery.rows}}
{{/data.gallery.style}}
