<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="file://{{fsRoot}}/e10-modules/wwwlibs/Font-Awesome44/less/font-awesome.css">
	<link rel="stylesheet" href="file://{{fsRoot}}/e10-modules/e10templates/web/basic-bs4/styles/100100-default-wiki.css" type="text/css"/>
	<link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>
</head>
<body>


<div style='font-size: 300%; position: absolute; top: 10cm; left: 1cm;'>
<h1>{{data.head.title}}</h1>
</div>

<div style='position: absolute; top: 22cm; left: 1cm;'>
	{{{data.head.bookPerex}}}
</div>
<p>&nbsp;</p>


<div class='bookContent'>
	<h2>Obsah</h2>
	{{{data.head.bookContent}}}
</div>

{{{@renderData;dataItem:data.head.bookTextSource}}}

</body>
</html>

