<!DOCTYPE HTML>
<html lang="cs">
<head>
		<title>wlan sticker</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/style-default.css" type="text/css"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/sc/icons/fa/5/css/all.min.css">
</head>
<body>


<table class="fullWidth">
		<tr>
				<td style="text-align: left;">
						<i class="fa fa-wifi" style="font-size: 10em"></i><br>
				</td>
				<td style="font-size: 130%; text-align: center;">
						<b>ssid</b><br>
						{{data.head.ssid}}<br>
						<br>
						<b>heslo</b><br>
						{{data.head.wpaPassphrase}}<br>
				</td>
				<td style="text-align: right;">
						<img src="{{@qrCode;dataItem:data.qrCodeData}}" style="height: 11em;">
				</td>
		</tr>
</table>


</body>
</html>

