  <div class='vmMode active' id="vm-mode-select">
    <div class='vmSelectBoxTitle' id='vm-select-box-display'>
      Vyberte, co si checete koupit...
    </div>
    {{{data.machineSelectBoxTable}}}
  </div>

  <div class='vmMode' id="vm-mode-buy-get-card">

    <div id='vm-select-box-display-item-name'>test1</div>
    <div id='vm-select-box-display-item-price'></div>


    Přiložte kartu...
    <input type="text" maxlen="10" id="vm-card-code-input"/>
    <button class="shp-widget-action" data-action="vmBuyCancel">Zrušit!</button>

    <div class="statusInvalidCode d-none">Neznámá karta. Zkuste to prosím znovu nebo kontaktuje správce automatu...</div>
    <div class="statusInvalidCredit d-none">Nemáte dostatečný kredit k nákupu...</div>
    <div class="statusCardVerify d-none">Ověřuje se karta...</div>
  </div>

  <div class='vmMode' id="vm-mode-buy-in-progress">
    Zboží se vydává...
  </div>

