<div class='vmMode vm-mode-select active' id="vm-mode-select">
  <div class='vmSelectBoxTitle' id='vm-select-box-display'>
    <div>{{{@icon;icon:system/actionSettings}}} Nastavení automatu</div>
    <a href="{{data.machineUrl}}" class="shpd-btn shpd-btn-outline-success">{{{@icon;icon:user/checkSquare}}} Hotovo</a>
  </div>
  {{{data.machineSelectBoxTable}}}
</div>
