  <div class='vmMode vm-mode-select active' id="vm-mode-select">
    <div class='vmSelectBoxTitle' id='vm-select-box-display'>
      <div>{{{@icon;icon:user/shoppingCart}}} Vyberte zboží.</div>
      <div id='test'>
        <span id='vm-temp-bottom'></span>
      </div>
    </div>
    {{{data.machineSelectBoxTable}}}
  </div>

  <div class='vmMode vm-mode-buy-get-card' id="vm-mode-buy-get-card">
    <div>
      <div id='vm-select-box-display-item-name'>test1</div>
      <div id='vm-select-box-display-item-price'></div>
    </div>

    <div>{{{@icon;icon:user/idCard}}} Přiložte kartu...</div>
    <input type="text" maxlen="10" id="vm-card-code-input"/>
    <button class="shp-widget-action shpd-btn shpd-btn-secondary" data-action="vmBuyCancel">{{{@icon;icon:user/times}}} Zrušit</button>

    <div class="statusInvalidCode d-none">{{{@icon;icon:user/question}}} Neznámá karta. Zkuste to prosím znovu nebo kontaktuje správce automatu...</div>
    <div class="statusInvalidCredit d-none">{{{@icon;icon:system/iconWarning}}} Nemáte dostatečný kredit k nákupu...<div class='statusInvalidCreditAmount'></div></div>
    <div class="statusCardVerify d-none">Ověřuje se karta...</div>
  </div>

  <div class='vmMode vm-mode-buy-in-progress' id="vm-mode-buy-in-progress">
    <div>Zboží se vydává...</div>
    <div><span class='rest-credit-title'>Zbývající kredit: </span><span id='rest-credit-amount'></span></div>
  </div>

  <div class='vmMode vm-mode-info-card' id="vm-mode-info-card">
    <div id="card-holder-info"></div>
    <div id="rest-credit-info"></div>
    <div><a href="{{data.machineUrl}}" class="shpd-btn shpd-btn-outline-success">{{{@icon;icon:user/checkSquare}}} Hotovo</a></div>
  </div>
