<div class='vmMode vm-mode-select active' id="vm-mode-select">
  <div class='vmSelectBoxTitle' id='vm-select-box-display'>
    <div>{{{@icon;icon:system/actionSettings}}} Nastavení automatu</div>
    <button class="shpd-btn shpd-btn-outline-secondary">{{{@icon;icon:user/user}}}</button>
  </div>
  {{{data.machineSelectBoxTable}}}
</div>
