@import url("../../../core/reports/formreport.css");

table#head2 {clear: both; width: 100%; border-collapse: collapse; margin-bottom: 18pt; text-align:justify;}

table#rows2 {width: 100%; border-collapse: collapse; line-height: 1.4;}

table#rows2 th {text-align: left; padding-left: 6pt; padding-right: 6pt;}
table#rows2 td {border: 1pt solid #5B7F8C; padding-left: 6pt; padding-right: 6pt;}


div#sign2 {text-align: center; width: 165mm; padding-top: 3.5cm;
					background-repeat: no-repeat; background-size: contain;
}
div#sign2 span.name {display: inline-block; width: 80mm; height: 10pt; text-align: center; border-top: 1pt solid #5B7F8C; padding-top: 1pt;}

