{{textMode}}Dobrý den,

právě jsme Vám uhradili výkup {{data.head.docNumber}} ze dne {{data.head.dateAccounting}}.

Částka {{data.paymentAmount}} {{data.paymentCurrency}} byla převedena na Váš účet {{data.paymentAccount}}, variabilní symbol je {{data.head.symbol1}}.


S pozdravem

--
 {{data.owner.fullName}}
{{#data.owner_contacts}}
 {{name}}: {{value}}
{{/data.owner_contacts}}
