{{textMode}}{{@dict;Dobrý den}},

{{@dict;klikně na odkaz}}:
{{data.request.url}}

Přihlašovací jméno: {{data.request.userLogin}}
Uživatel: {{data.request.userFullName}}

{{@dict;Děkujeme}},

{{@dict;S pozdravem}}

--
  {{cfgItem.options.core.ownerFullName}}
  {{cfgItem.options.core.ownerPhone}}
  {{cfgItem.options.core.ownerEmail}}

