<!DOCTYPE HTML>
<html lang="cs">
<head>
		<title>test</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/modern/style-modern.css?v12" type="text/css"/>
		<link rel="stylesheet" href="{{dsUrl}}www-root/sc/icons/fa/5/css/all.min.css">
</head>
<body>

<h1>Ahoj</h1>

Tady něco bude.

<a href="{{data.request.url}}">Aktivovat účet</a>

</body>
</html>

