{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{@dict;Oznámení o převzatých komunálních odpadech}}
{{/data.reportTexts.emailSubject}}