<style>
	body, html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	table.header {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		margin-left: 25.4pt;
		margin-right: 25.4pt;

		{{#data.options.docReportsHeadLogoRight}}
			border-left: 6pt solid {{data.options.accentColor}};
			border-bottom: 1px solid {{data.options.accentColor}};
		{{/data.options.docReportsHeadLogoRight}}

		{{^data.options.docReportsHeadLogoRight}}
			border-right: 6pt solid {{data.options.accentColor}};
			border-bottom: 1px solid {{data.options.accentColor}};
		{{/data.options.docReportsHeadLogoRight}}
	}

	td.docInfo {
		font-size: 12pt;

		{{#data.options.docReportsHeadLogoRight}}
			text-align: left;
		{{/data.options.docReportsHeadLogoRight}}

		{{^data.options.docReportsHeadLogoRight}}
			text-align: right;
			padding-right: 2pt;
		{{/data.options.docReportsHeadLogoRight}}
	}

	span.docName {
		text-transform: uppercase;
	}

	td.supplierLogo {
		font-size: 10pt;

		{{#data.options.docReportsHeadLogoRight}}
			text-align: right;
		{{/data.options.docReportsHeadLogoRight}}

		{{^data.options.docReportsHeadLogoRight}}
			text-align: left;
		{{/data.options.docReportsHeadLogoRight}}
	}
</style>

<table class='header'>
	<tr>
		{{#data.options.docReportsHeadLogoRight}}
			<td class="docInfo">
				<span class='docName'>{{@dict;Dodací list}}</span><br>
				{{@dict;číslo}}: <b>{{data.head.docNumber}}</b>
			</td>
			<td class="supplierLogo">
				{{#data.owner.logo.logo-nadpis.filename}}
					<img style="height:24pt;" src='{{{@imgData;dataItem:data.owner.logo.logo-nadpis}}}'>
				{{/data.owner.logo.logo-nadpis.filename}}
			</td>
		{{/data.options.docReportsHeadLogoRight}}

		{{^data.options.docReportsHeadLogoRight}}
			<td class="supplierLogo">
				{{#data.owner.logo.logo-nadpis.filename}}
					<img style="height:24pt;" src='{{{@imgData;dataItem:data.owner.logo.logo-nadpis}}}'>
				{{/data.owner.logo.logo-nadpis.filename}}
			</td>
			<td class="docInfo">
				<span class='docName'>{{@dict;Výdejka}}</span><br>
				{{@dict;číslo}}: <b>{{data.head.docNumber}}</b>
			</td>
		{{/data.options.docReportsHeadLogoRight}}
	</tr>
</table>