<!DOCTYPE HTML>
<html lang="cs">
<head>
    <title>test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>
</head>
<body>

<div id='top'>
		{{#data.head.taxPayer}}
					<span class='documentName'>{{data.documentName}} - Kontace</span>
		{{/data.head.taxPayer}}
    <span class='documentNumber'>číslo: {{data.head.docNumber}}</span>
</div>

<table class='head'>
	<tr>
  	<td class='title nowrap'>Účetní jednotka</td>
		<td>
				<b>{{data.owner.fullName}}</b>,
					<span class="nowrap">{{data.owner.address.street}},</span>
					{{^data.flags.foreignCountry}}
						{{data.owner.address.zipcode}} {{data.owner.address.city}}
					{{/data.flags.foreignCountry}}
					{{#data.flags.foreignCountry}}
						{{data.owner.address.countryNameSC2}}-{{data.owner.address.zipcode}} {{data.owner.address.city}}
						{{data.owner.address.countryNameEng}}
					{{/data.flags.foreignCountry}}
        	<br/>
					{{#data.owner_identifiers}}
                    {{@dict;dataItem:name}}: {{value}}
					{{/data.owner_identifiers}}
		</td>
		{{#data.flags.partner}}
		</tr>
		<tr>
			<td class='title'>Partner</td>
			<td>
				<b>{{data.person.fullName}}</b>,
				{{#data.person.address.specification}}{{data.person.address.specification}}, {{/data.person.address.specification}}
                <span class="nowrap">{{data.person.address.street}},</span>
				{{^data.flags.foreignCountry}}
					{{data.person.address.zipcode}} {{data.person.address.city}}
				{{/data.flags.foreignCountry}}
				{{#data.flags.foreignCountry}}
					{{data.person.address.countryNameSC2}}-{{data.person.address.zipcode}} {{data.person.address.city}}
					{{data.person.address.countryNameEng}}
				{{/data.flags.foreignCountry}}
				<br/>
				{{#data.person_identifiers}}
					{{@dict;dataItem:name}}: {{value}}
				{{/data.person_identifiers}}
				<small class='pull-right'>#{{data.person.id}}</small>
			</td>
		</tr>
		{{/data.flags.partner}}
		<tr>
            <td class='title'>Účetní datum</td>
			<td>{{data.head.dateAccounting}}</td>
        </tr>
        {{#data.flags.taxDocument}}
            <tr>
                <td class='title'>DUZP</td>
                <td>{{data.head.dateTax}}</td>
            </tr>
        {{/data.flags.taxDocument}}
</table>

{{#data.docs_properties.notes.note-ext}}
	{{{value}}}
{{/data.docs_properties.notes.note-ext}}


{{#data.flags.taxDocument}}
<h3>Rekapitulace DPH</h3>
<table class="rows">
    <thead>
    <tr>
        <th>Sazba</th>
        <th class='number'>% DPH</th>
        <th class='number'>Základ</th>
        <th class='number'>Daň</th>
        <th class='number'>Celkem</th>
    </tr>
    </thead>
    {{#data.taxes}}
        <tr>
            <td class='label'>{{print.taxCode}}</td>
            <td class='number'>{{taxPercents}} %</td>
            <td class='number'>{{print.sumBase}}</td>
            <td class='number'>{{print.sumTax}}</td>
            <td class='number'>{{print.sumTotal}}</td>
        </tr>
    {{/data.taxes}}
    <tr>
        <td class='label' colspan='2'>Celkem {{data.head.print.currency}}</td>
        <td class='number'>{{data.head.print.sumBase}}</td>
        <td class='number'>{{data.head.print.sumTax}}</td>
        <td class='number'>{{data.head.print.sumTotal}}</td>
    </tr>
    {{#data.head.rounding}}
        <tr>
            <td class='label' colspan='4'>Zaokrouhlení {{data.head.print.currency}}</td>
            <td class='number'>{{data.head.print.rounding}}</td>
        </tr>
    {{/data.head.rounding}}
</table>
{{/data.flags.taxDocument}}

<h3>Zaúčtování</h3>
{{{@renderTable;dataItem:data.accounting;tableClass:rows}}}

{{^data.disableSigns}}
<table class="signs">
	<tr>
		<td><span>{{@dict;Zaúčtoval}}:<br/>{{data.author.fullName}}</span></td>
		<td><span>Schválil</span></td>
		<td><span>Zkontroloval</span></td>
	</tr>
</table>
{{/data.disableSigns}}
<div id='footer'>

<span class='printedBy'>
    {{@dict;Vytištěno aplikací}}
    {{#info.reportFormat.pdf}}
        <img style='height: 1.18em; width: 5.2em; position: relative; bottom: -0.3em;' src='file://{{appDir}}/e10-modules/e10doc/core/reports/shipard-logo-black.svg'/>
    {{/info.reportFormat.pdf}}
    {{#info.reportFormat.widget}}
        <img style='height: 1.5em; padding-bottom: 0.2em;' src='{{dsRoot}}/e10-modules/e10doc/core/reports/shipard-logo-black.svg'/>
    {{/info.reportFormat.widget}}
</span>
</div>

</body>
</html>

