<body class="me-body-system">


<nav class="navbar navbar-default navbar-fixed-top" id="header">
	<div class="container-fluid me-header">
		<div class="row">
			<div class="col-lg-12 col-xs-12 col-sm-12 me-user-info">
				<div class="me-home-image">
					<a href="/">
						{{^userName}}<img src="{{urlRoot}}/att/{{data.hostingPortal.this.logoIconPortalHome.fileName}}" style="max-width:100%;">{{/userName}}
						{{#userName}}<div class="me-user-image" title="{{userName}}" style="background-image: url({{userImage}}); background-size: cover;"></div>{{/userName}}
				</a>
				</div>
				<div style="float: left; display: inline-block; padding-left: 2rem;">
					<span style="font-size: 2.5rem;">{{page.title}}</span><br>
					<span style="font-size: 1.5rem;"><a href="/">{{^page.url_user_login}}<i class="fa fa-angle-left"></i> {{/page.url_user_login}}{{data.hostingPortal.this.portalTitle}}</a>{{#userName}} / {{userName}}{{/userName}}</span>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="container-fluid" style="margin-top: 3em;">
    <div class="row me-system-main">
        <div class="col-md-1">
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">
					<div class="panel panel-default me-system-dialog">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-check-square-o"></i> {{page.title}}</h3>
                </div>
                <div class="panel-body">
                    {{{pageText}}}
                </div>
            </div>
            <br>
            <div style="text-align: center; padding-bottom: 1rem; ">
								<img class="me-logo" style="max-width: 20em;" alt="Logo" src="{{urlRoot}}/att/{{data.hostingPortal.this.logoFooter.fileName}}">
            </div>

            <div class="me-system-footer" style="text-align: center; padding-bottom: 1rem;">
                <span class='e10-sp-title2'><b>{{@tr;id:e10.base.system.DictSystem.diCore_TechnicalSupport}}:</b></span><br>
                <span class='e10-sp-title2'><i class="fa fa-phone"></i> {{data.hostingPortal.this.supportPhone}}</span> |
                <span class='e10-sp-title2'><i class="fa fa-envelope"></i> <a href="mailto:{{data.hostingPortal.this.supportEmail}}">{{data.hostingPortal.this.supportEmail}}</a></span><br>
                <span class='e10-sp-title2'><i class="fa fa-globe"></i> <a href="{{data.hostingPortal.this.supportWeb}}" target="new" title="{{data.hostingPortal.this.supportName}}">{{data.hostingPortal.this.supportWebTitle}}</a></span><br>
            </div>

						{{#mobileMode}}
						<div style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;">
							<div style='color: white'>S aplikací je to lepší...</div>
							<a href="https://play.google.com/store/apps/details?id=com.shipard.mobile" target="_blank">
								<img src="https://shipard.cz/att/2017/02/27/e10pro.wkf.documents/googleplaybadge-1wb6p8e.svg"/>
							</a>
							<a href="https://itunes.apple.com/cz/app/shipard/id998638047" target="_blank">
								<img src="https://shipard.cz/att/2017/02/24/e10pro.wkf.documents/App_Store_Badge_CZ-13ian19.svg"/>
							</a>
						</div>
						{{/mobileMode}}
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script type="text/javascript">var httpApiRootPath = '{{dsRoot}}'; var httpServerRootPath = '{{urlServer}}';</script>
<script src="//cdn.shipard.com/jquery/jquery-2.2.4.min.js"></script>

</body>
</html>
