{{#data.taxVatReturn.intraCommunity.pages}}

	{{#pageBreak}}
		<div class="newPage"></div>
		<table style="width: 100%;">
			<tr><td colspan = "2">&nbsp;</td></tr>
			<tr><td style="text-align: right; font-size: 9pt;">Pořadové číslo stránky / Celkový počet stran</td><td style="text-align: center; border: 1pt solid #aaaaaa; padding: 1pt; font-size: 9pt; height: 9pt;">{{pageNumber}} / {{cntPages}}</td></tr>
			<tr><td colspan = "2">&nbsp;</td></tr>
		</table>
	{{/pageBreak}}

	{{^pageBreak}}
		<div class="separator"></div>
		<table style="width: 100%;">
			<tr><td style="text-align: right;" colspan="3"><h3>Vytištěno aplikací SHIPARD</h3></td></tr>
			<tr><td><h3>A. ODDÍL</h3></td><td style="text-align: right; font-size: 9pt;">Pořadové číslo stránky / Celkový počet stran</td><td style="text-align: center; border: 1pt solid #aaaaaa; padding: 1pt; font-size: 9pt; height: 9pt;">{{pageNumber}} / {{cntPages}}</td></tr>
		</table>

		<table style="width: 100%">
			<tr>
				<td style="width: 45%; vertical-align: top;">
					<table class="formSection">
						<tr class="grid">
							<td class="grid4"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
						</tr>

						<tr><td class="first" colspan="33">
							Finančnímu úřadu pro / Specializovanému finančnímu úřadu
						</td></tr>
						<tr><td class="input" colspan="33">
							{{data.taxVatReturn.e10-CZ-VR.e10-CZ-VR-FUtext}}
						</td></tr>
						<tr><td colspan="33">
							Územní pracoviště v, ve, pro
						</td></tr>
						<tr><td class="input" colspan="33">
							{{data.taxVatReturn.e10-CZ-VR.e10-CZ-VR-pracFUtext}}
						</td></tr>
						<tr><td colspan="33">Daňové identifikační číslo</td></tr>
						<tr><td class="input" colspan="28">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-DIC}}</td><td colspan="5"></td></tr>
					</table>
				</td>

				<td style="width: 10%;">
				</td>

				<td style="width: 45%; vertical-align: top;">
					<div style="width: 100%; height: 120pt; border: solid 1px #cccccc; position: relative;">
						<div style="width: 100%; font-size: 7pt; text-align: center; position: absolute; bottom: 0;">
							otisk podacího razítka finančního úřadu
						</div>
					</div>
				</td>
			</tr>
		</table>

		<div style="width: 100%; text-align: center;"><h2 style="margin: 10pt 0 0 0;">SOUHRNNÉ HLÁŠENÍ</h2></div>
		<div style="width: 100%; text-align: center;"><h3>k dani z přidané hodnoty</h3><br />podle § 102 zákona č. 235/2004 Sb., o dani z přidané hodnoty</div>

		<table class="formSection">
			<tr class="grid">
				<td class="grid4"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>

			<tr>
				<td class="r" colspan="7">za kalendářní měsíc</td>
				<td class="input c" colspan="4">
					{{#taxVatReturn.taxPeriod.month}}
						{{taxVatReturn.taxPeriod.month}}
					{{/taxVatReturn.taxPeriod.month}}
				</td>
				<td class="r" colspan="7">za kalendářní čtvrtletí</td>
				<td class="input c" colspan="4">
					{{#taxVatReturn.taxPeriod.quarter}}
						{{taxVatReturn.taxPeriod.quarter}}
					{{/taxVatReturn.taxPeriod.quarter}}
				</td>
				<td class="r" colspan="3">rok</td>
				<td class="input c" colspan="4">{{taxVatReturn.taxPeriod.year}}</td>
				<td colspan="4"></td>
			</tr>
			<tr>
				<td colspan="33">Právnická osoba:</td>
			</tr>
			<tr>
				<td colspan="33">Obchodní jméno</td>
			</tr>
			<tr>
				<td class="input" colspan="33">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-nazevOsoby}}</td>
			</tr>
			<tr>
				<td class="input" colspan="22"></td><td class="input" colspan="11"></td>
			</tr>
			<tr>
				<td colspan="33">Fyzická osoba:</td>
			</tr>
			<tr>
				<td colspan="18">Příjmení</td>
				<td colspan="10">Jméno</td>
				<td colspan="5">Titul</td>
			</tr>
			<tr>
				<td class="input" colspan="18">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-prijmeni}}</td>
				<td class="input" colspan="10">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-jmeno}}</td>
				<td class="input" colspan="5">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-titul}}</td>
			</tr>
			<tr>
				<td colspan="33">Trvalé bydliště osoby nebo sídlo právnické osoby:</td>
			</tr>
			<tr>
				<td colspan="26">Obec</td>
				<td colspan="7">PSČ</td>
			</tr>
			<tr>
				<td class="input" colspan="26">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-mesto}}</td>
				<td class="input" colspan="7">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-PSC}}</td>
			</tr>
			<tr>
				<td colspan="33">Ulice, část obce (číslo popisné / číslem orientačním)</td>
			</tr>
			<tr>
				<td class="input" colspan="33">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-ulice}} {{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-cisPopis}} {{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-cisOrient}}</td>
			</tr>
			<tr>
				<td colspan="15">Stát</td>
				<td colspan="18"></td>
			</tr>
			<tr>
				<td class="input" colspan="15">{{taxVatReturn.e10-CZ-VR-subjekt.e10-CZ-VR-stattext}}</td>
				<td colspan="18"></td>
			</tr>

		</table>

		<table class="formSection"><tr><td><div style="background-color: black; height: 2pt;"></div></td></tr></table>
		<div class="separator"></div>
		<div class="separator"></div>

		<h3>B. ODDÍL</h3>
	{{/pageBreak}}

	<table class="tableSection">
		<tr>
			<td class="c b">Číslo<br/>řádku</td>
			<td class="c b">Kód<br/>země</td>
			<td class="l b">DIČ pořizovatele zboží</td>
			<td class="c b">Kód<br/>plnění</td>
			<td class="r b">Počet<br/>plnění</td>
			<td class="r b">Celková hodnota plnění v Kč</td>
		</tr>
	{{#data}}
		<tr>
			<td class="c">{{lineNumber}}</td>
			<td class="c">{{countryCode}}</td>
			<td class="l">{{shortpvin}}</td>
			<td class="c">{{code}}</td>
			<td class="r">{{amount}}</td>
			<td class="r">{{base}}</td>
		</tr>
	{{/data}}
		<tr>
			<td class="l" colspan="5">Kontrolní součet řádků 1-20</td>
			<td class="r">{{totalBase}}</td>
		</tr>
	</table>

{{/data.taxVatReturn.intraCommunity.pages}}
