<!DOCTYPE HTML>
<html lang="cs">
<head>
    <title>Návratka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/modern/style-modern.css?v21" type="text/css"/>
    <link rel="stylesheet" href="{{dsUrl}}www-root/sc/icons/fa/5/css/all.min.css">
    <style>
        table.default {font-size: 12pt;}
    </style>
</head>
    <body>

    {{#data.reportTexts.subHeader}}<div class='reportTextHeader' style="font-size: 12pt;">{{{data.reportTexts.subHeader}}}</div>{{/data.reportTexts.subHeader}}                

    <table class="default">
        <thead>
            <tr>            
                <th>Jméno</th>
                <th style="text-align: center;">Budu pokračovat</th>
                <th style="text-align: center;">Platba za</th>
            </tr>
        </thead>
        {{#data.peoples}}
            <tr>            
                <td>{{fullName}}</td>
                <td style="text-align: center;">ano&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ne</td>
                <td style="text-align: center;">pololetí&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;celý rok</td>
            </tr>
        {{/data.peoples}}
    </table>

    {{#data.reportTexts.subFooter}}<div class='reportTextFooter'>{{{data.reportTexts.subFooter}}}</div>{{/data.reportTexts.subFooter}}

    </body>

</html>
