<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/style-default.css" type="text/css"/>
</head>
<body>
	{{{stdReportHeader}}}
	{{{@renderContent;dataItem:data.properties;tableClass:rows}}}
</body>
</html>
