@import url("../../../core/reports/formreport-default.css");

table.signs {width: 100%; margin-top: 36pt; font-size: 10pt;}
table.signs tr td {width: 33.3333%; text-align: center; padding: 12pt; vertical-align: top;}
table.signs tr td span {border-top: .8pt solid black; display: block; padding: 3pt;}

h3 {
		margin-bottom: 3pt;
}

