<div class="e10-wiki">
    <input type='hidden' name='wikiWidgetPageId' id='wikiWidgetPageId' value='{{data.pageId}}'/>
    <div class="e10-wiki-header">
	    <div class='e10-wf-tabs'>
		    {{#data.sections.0}}
			    <ul class='e10-wf-tabs left'>
				    {{#data.sections}}
					    {{#topMenu}}
						    <li class='tab e10-widget-trigger{{#active}} active{{/active}}'{{^topMenuText}} title='{{title}}'{{/topMenuText}} data-action="load-page" data-action-params="pageId={{id}}">
							    {{#icon}}<i class="{{@icon;dataItem:icon}}"></i>{{/icon}}{{#topMenuText}} {{title}}{{/topMenuText}}
						    </li>
					    {{/topMenu}}
				    {{/data.sections}}
			    </ul>
		    {{/data.sections.0}}
	    </div>
    </div>


		<div class="e10-wiki-sidebar pageText">
		</div>

    <div class="e10-wiki-page pageText">
	    <div class="e10-wiki-title">{{data.page.title}}</div>
	    <ul class="e10-breadcrumbs">
		    {{#data.page.breadcrumbs}}
			    <li>
				    <span class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{id}}">{{title}}{{^title}}<i class="fa fa-home"></i>{{/title}}</span>
			    </li>
		    {{/data.page.breadcrumbs}}
	    </ul>

			<ul>
        {{#data.page.content}}
            <li class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{id}}">{{title}}</li>
        {{/data.page.content}}
			</ul>
    </div>

	<div class="e10-wiki-sidebar pageText">
	</div>

</div>

