<div class="e10-wiki">
    <input type='hidden' name='wikiWidgetPageId' id='wikiWidgetPageId' value='{{data.pageId}}'/>
    <div class="e10-wiki-header">
	    <div class='e10-wf-tabs'>
				{{#data.sections.0}}
		    <ul class='e10-wf-tabs left'>
		    {{#data.sections}}
			    {{#topMenu}}
				    <li class='tab e10-widget-trigger{{#active}} active{{/active}}'{{^topMenuText}} title='{{title}}'{{/topMenuText}} data-action="load-page" data-action-params="pageId={{id}}">
					    {{#icon}}<i class="{{@icon;dataItem:icon}}"></i>{{/icon}}{{#topMenuText}} {{title}}{{/topMenuText}}
				    </li>
			    {{/topMenu}}
		    {{/data.sections}}
		    </ul>
				{{/data.sections.0}}
	    </div>
    </div>

    <div class="e10-wiki-sections e10-fx-wrap">
		{{#data.sections}}
			<div class="e10-wiki-section e10-pane" style="min-height: 10em">
				<div class="title">
					<div class="h2"><span class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{id}}">{{#icon}}<i class="{{@icon;dataItem:icon}}"></i> {{/icon}}{{title}}</span>
						<div class="btn-group pull-right">
							<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v"> </i> </button>
							<ul class="dropdown-menu">
							{{#buttons}}
								<li><a class="e10-document-trigger"{{#attr}} data-{{k}}="{{v}}"{{/attr}}><i class="{{@icon;dataItem:icon}}"></i> {{text}}</a></li>
							{{/buttons}}
							</ul>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="pageText">
						<ul>
					{{#content}}
							<li class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{id}}">{{title}}</li>
					{{/content}}
						</ul>
					</div>
				</div>
			</div>
		{{/data.sections}}
    </div>
</div>
