<div class="e10-wiki">
    <input type='hidden' name='wikiWidgetPageId' id='wikiWidgetPageId' value='{{data.pageId}}'/>
    <div class="e10-wiki-header">
	    <div class='e10-wf-tabs'>
		    {{#data.sections.0}}
			    <ul class='e10-wf-tabs left'>
				    {{#data.sections}}
					    {{#topMenu}}
						    <li class='tab e10-widget-trigger{{#active}} active{{/active}}'{{^topMenuText}} title='{{title}}'{{/topMenuText}} data-action="load-page" data-action-params="pageId={{id}}">
							    {{#icon}}<i class="{{@icon;dataItem:icon}}"></i>{{/icon}}{{#topMenuText}} {{title}}{{/topMenuText}}
						    </li>
					    {{/topMenu}}
				    {{/data.sections}}
			    </ul>
		    {{/data.sections.0}}
	    </div>
    </div>

	<div class="e10-wiki-sidebar">
		<div class="e10-wiki-title">{{data.page.sectionTitle}}</div>
		<ul class="e10-content-list">
			{{#data.sectionContent}}
				<li class="e10-widget-trigger{{#active}} active{{/active}}" data-action="load-page" data-action-params="pageId={{id}}">
					<span>{{title}}</span>
					{{#items.0}}
						<ol>
							{{#items}}
								<li class="e10-widget-trigger{{#active}} active{{/active}}" data-action="load-page" data-action-params="pageId={{id}}"><span href="#">{{title}}</span></li>
							{{/items}}
						</ol>
					{{/items.0}}
				</li>
			{{/data.sectionContent}}
		</ul>
	</div>

	<div class="e10-wiki-page pageText">
		<span class="pull-right" style="text-align: right;">
            <div style="padding-bottom: 4px; ">{{#data.page.tags}}<span class="label label-default" style="{{css}}">{{text}}</span> {{/data.page.tags}}</div>
			{{#data.page.buttons}}
				&nbsp;<span class="e10-document-trigger label label-default"
					{{#attr}} data-{{k}}="{{v}}" data-srcobjecttype="{{data.srcObjectType}}" data-srcobjectid="{{data.srcObjectId}}"{{/attr}}>
					<i class="{{@icon;dataItem:icon}}"></i> {{text}}
				</span>
			{{/data.page.buttons}}
		</span>
		<span class="e10-wiki-title">{{data.page.title}}</span>

		<ul class="e10-breadcrumbs">
			{{#data.page.breadcrumbs}}
				<li>
					<span class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{id}}">{{title}}{{^title}}<i class="fa fa-home"></i>{{/title}}</span>
				</li>
			{{/data.page.breadcrumbs}}
		</ul>


				<div class="e10-wiki-page-body">{{{data.page.htmlPageText}}}</div>
        <hr>
				<ul>
        {{#data.page.content}}
            <li class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{id}}">{{title}}</li>
        {{/data.page.content}}
				</ul>
    </div>

    <div class="e10-wiki-content pageText">
        {{#data.page.ownerContent.0}}
            <div class="e10-wiki-content-owner">
                <ul>
                    <li>
                        <span class="e10-widget-trigger" data-action="load-page" data-action-params="pageId={{data.page.ownerPageId}}">{{data.page.ownerPageTitle}}</span>
                        <ul>
                            {{#data.page.ownerContent}}
                                <li>
                                    <span class="e10-widget-trigger {{^active}}ddd{{/active}}{{#active}} e10-error{{/active}}"
                                          data-action="load-page" data-action-params="pageId={{id}}">{{title}}</span>
                                </li>
                            {{/data.page.ownerContent}}
                        </ul>
                    </li>
                </ul>
            </div>
        {{/data.page.ownerContent.0}}
    </div>
</div>
