{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{@dict;Písemné informace o odpadu}}: {{data.head.docNumber}}
{{/data.reportTexts.emailSubject}}
