<div class="newPage"></div>
<div class='e10-tax-report' style="font-size:80%;">
	{{{data.partsTables.part2}}}
</div>

<div class="newPage"></div>
<div class='e10-tax-report' style="font-size:80%;">
	<h4>{{data.partsDef.part2_att1_a.title}}</h4>
	{{{data.partsTables.part2_att1_a}}}

	<h4>{{data.partsDef.part2_att1_b.title}}</h4>
	{{{data.partsTables.part2_att1_b}}}
</div>

<div class="newPage"></div>
<div class='e10-tax-report' style="font-size:80%;">
	<h4>{{data.partsDef.part2_att1_c.title}}</h4>
	{{{data.partsTables.part2_att1_c}}}
	
	{{{data.partsTables.part2_att1_e}}}
	{{{data.partsTables.part2_att1_f}}}
</div>

<div class="newPage"></div>

{{{data.partsTables.part2_att1_g}}}
{{{data.partsTables.part2_att1_h}}}
{{{data.partsTables.part2_att1_i}}}
{{{data.partsTables.part2_att1_j}}}
{{{data.partsTables.part2_att1_k}}}

