<div class='e10-tax-report'>
	<table class='fullWidth'>
		<tr>
            <td style='text-align: right;'>
            Vytištěno aplikací
            {{#info.reportFormat.pdf}}
                <img style='height: 1.18em; width: 5.2em; position: relative; bottom: -0.3em;' src='{{scRoot}}/shipard/graphics/logo-black.svg'/>
            {{/info.reportFormat.pdf}}
            {{#info.reportFormat.widget}}
                <img style='height: 1.5em; padding-bottom: 0.2em;' src='{{scRoot}}/shipard/graphics/logo-black.svg'/>
            {{/info.reportFormat.widget}}
            </td>
		</tr>
	</table>
	
	<table class="formSection">
		<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
		<tr>
			<td colspan="18">Finančnímu úřadu pro / Specializovanému finančnímu úřadu</td>
			<td rowspan="9"></td>
			<td class="c" colspan="15" rowspan="9" style="vertical-align: bottom; border: 1px solid black;">
				otisk podacího razítka finančního úřadu
			</td>
		</tr>
		<tr><td class="input" colspan="18"><span>{{data.parts.part1.c_ufo_cil}}</span></td></tr>
		<tr><td colspan="18">Územní pracoviště v, ve, pro</td></tr>
		<tr><td class="input" colspan="18"><span>{{data.parts.part1.c_pracufo}}</span></td></tr>
		<tr><td colspan="18">01 Daňové identifikační číslo</td></tr>
		<tr><td class="input" colspan="13"><span>CZ{{data.parts.part1.dic}}</span></td><td colspan="5"></td></tr>
		<tr><td colspan="18">02 Identifikační číslo</td></tr>
		<tr><td class="input" colspan="18"><span>12345678</span></td></tr>

		<tr><td colspan="18">03 Daňové přiznání¹⁾</td></tr>
		<tr>
			<td class="input" colspan="5"><span>řádné<span class='flag'>&nbsp;{{data.flags.forma.B}}{{data.flags.forma.O}}</span></span></td>
			<td></td>
			<td class="input" colspan="6"><span>dodatečné⁶⁾<span class='flag'>&nbsp;{{data.flags.forma.D}}{{data.flags.forma.E}}</span></span></td>
			<td></td>
			<td class="input" colspan="5"><span>opravné<span class='flag'>&nbsp;{{data.flags.forma.O}}{{data.flags.forma.E}}</span></span></td>
			<td colspan="6"></td>
			<td colspan="7">Počet příloh II. oddílu</td>
			<td class="input" colspan="2"><span>xxx</span></td>
		</tr>
		<tr>
			<td colspan="11">Důvody pro podání dodatečného<br>daňového přiznání zjištěny dne</td>
			<td class="input c" colspan="7"><span>{{data.parts.part1.d_zjist}}</span></td>
			<td colspan="6"></td>
			<td colspan="7">Počet zvláštních příloh⁸⁾</td>
			<td class="input" colspan="2"><span>xxx</span></td>
		</tr>
		<tr>
			<td colspan="11">04 Kód rozlišení typu přiznání</td>
			<td class="input c" colspan="2"><span>{{data.parts.part1.typ_dapdpp}}</span></td>
			<td colspan="11"></td>
			<td colspan="7">Počet samostatných příloh⁹⁾</td>
			<td class="input" colspan="2"><span>xxx</span></td>
		</tr>
		<tr>
			<td colspan="1"></td>
			<td colspan="11">Základní investiční fond podle § 17b zákona¹⁾</td>
			<td colspan="1"></td>
			<td class="input" colspan="4"><span>{{data.parts.part1.zakl_if}}</span></td>
		</tr>
		<tr>
			<td colspan="1"></td>
			<td colspan="11">Zdaňovací období podle § 21a písm.</td>
			<td class="input" colspan="2"><span>{{data.parts.part1.typ_zo}})</span></td>
			<td colspan="1"></td>
			<td colspan="5">zákona</td>
		</tr>
	</table>

	<div class="separator"></div>
	<div class="title1">PŘIZNÁNÍ</div>
	<div class="title2">k dani z příjmu právnických osob</div>
	<div class="title3">podle zákona č. 586/1992 Sb., o daních z příjmů, ve znění pozdějších předpisů (dále jen „zákon“) za zdaňovací období nebo za období, za které se podává daňové přiznání</div>
	<div class="separator" style="padding-top: 1ex;"></div>

	<table class="formSection">
		<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
		<tr>
			<td class="r" colspan="11">od</td>
			<td class="input c" colspan="4"><span>{{data.parts.part1.zdobd_od}}</span></td>
			<td class="r" colspan="3">do</td>
			<td class="input c" colspan="4"><span>{{data.parts.part1.zdobd_do}}</span></td>
			<td colspan="14"></td>
		</tr>
		<tr><td colspan="33"><div class="separator"></div></td></tr>
		<tr>
			<td colspan="33"><div class="subtitle">I. ODDÍL – údaje o poplatníkovi</div></td>
		</tr>
		<tr><td colspan="33"><div class="separator"></div></td></tr>
		<tr>
			<td colspan="33">05 Název poplatníka</td>
		</tr>
		<tr>
			<td class="input" colspan="33"><span>{{data.parts.part1.zkrobchjm}}</span></td>
		</tr>
		<tr>
			<td colspan="33">06 Sídlo¹⁰⁾</td>
		</tr>
		<tr>
			<td colspan="23">a) ulice a číslo orientační, část obce a číslo popisné</td>
		</tr>
		<tr>
			<td class="input" colspan="23"><span>{{data.parts.part1.ulice}} {{data.parts.part1.c_orient}} {{data.parts.part1.c_pop}}</span></td>
		</tr>
		<tr>
			<td colspan="26">b) obec</td>
			<td></td>
			<td colspan="6">c) PSČ</td>
		</tr>
		<tr>
			<td class="input" colspan="26"><span>{{data.parts.part1.naz_obce}}</span></td>
			<td></td>
			<td class="input" colspan="6"><span>{{data.parts.part1.psc}}</span></td>
		</tr>
		<tr>
			<td colspan="15">d) stát / kód státu</td>
			<td colspan="1"></td>
			<td colspan="9">e) číslo telefonu</td>
		</tr>
		<tr>
			<td class="input" colspan="12"><span>{{data.parts.part1.k_stat}}</span></td>
			<td colspan="1"></td>
			<td class="input" colspan="2"><span>{{data.partsData.part1.k_stat}}</span></td>
			<td colspan="1"></td>
			<td class="input" colspan="9"><span>{{data.parts.part1.c_telef}}</span></td>
		</tr>

		<tr>
			<td colspan="25">07 Kategorie účetní jednotky</td>
			<td colspan="2">Kód</td>
			<td class="input" colspan="6"><span>{{data.parts.part1.kat_uj}}</span></td>
		</tr>
		<tr>
			<td colspan="27">08 Přiznání podal poradce¹⁾</td>
			<td class="input" colspan="6"><span>{{data.parts.part1.dan_por}}</span></td>
		</tr>
		<tr>
			<td colspan="27">09 Zákonná povinnost sestavení účetní závěrky dle mezinárodních účetních standardů upravených právem Evropské unie¹⁾</td>
			<td class="input" colspan="6"><span>{{data.parts.part1.uz_dle_mus}}</span></td>
		</tr>
		<tr>
			<td colspan="27">10 Zákonná povinnost ověření účetní závěrky auditorem¹⁾</td>
			<td class="input" colspan="6"><span>{{data.parts.part1.audit}}</span></td>
		</tr>
		<tr>
			<td colspan="27">11 Účetní závěrka sestavená daňovým subjektem¹¹⁾ nebo přehledy o majetku a závazcích a o příjmech a výdajích, přiloženy¹⁾,⁷⁾</td>
			<td class="input" colspan="6"><span>{{data.parts.part1.uc_zav}}</span></td>
		</tr>
		<tr>
			<td colspan="25">12 Transakce uskutečněné se spojenými osobami⁹⁾</td>
			<td colspan="2">Kód</td>
			<td class="input" colspan="6"><span>{{data.parts.part1.spoj_zahr}}</span></td>
		</tr>
		<tr>
			<td colspan="33">13 Hlavní (převažující) činnost</td>
		</tr>
		<tr>
			<td class="input" colspan="33"><span>{{data.parts.part1.c_nace}}</span></td>
		</tr>
	</table>

	<div class="separator"></div>







	









	<div class="pageNumber">1</div>
</div>
