<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>Přiznání DPPO {{data.head.docNumber}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/style-default.css?v=2" type="text/css"/>
	<link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/e10doc/taxes/tax-ci-tr/cz/style.css?v=7" type="text/css"/>
</head>
<body>

{{{data.text}}}

</body>
</html>
