<style>
	body, html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	table.header {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		margin-left: 25.4pt;
		margin-right: 25.4pt;

		{{#data.options.docReportsHeadLogoRight}}
			border-left: 6pt solid {{data.options.accentColor}};
			border-bottom: 1px solid {{data.options.accentColor}};	
		{{/data.options.docReportsHeadLogoRight}}

		{{^data.options.docReportsHeadLogoRight}}
			border-right: 6pt solid {{data.options.accentColor}};
			border-bottom: 1px solid {{data.options.accentColor}};
		{{/data.options.docReportsHeadLogoRight}}
	}

	td.docInfo {
		font-size: 12pt;

		{{#data.options.docReportsHeadLogoRight}}
			text-align: left;			
		{{/data.options.docReportsHeadLogoRight}}

		{{^data.options.docReportsHeadLogoRight}}
			text-align: right;
			padding-right: 2pt;
		{{/data.options.docReportsHeadLogoRight}}
	}

	span.docName {
		text-transform: uppercase;
	}
</style>

<table class='header'>
	<tr>
		<td class='docInfo'>			
			{{#data.head.taxPayer}}
				{{#data.head.correctiveDoc}}
					<span class="docName">{{@dict;Opravný daňový doklad}}</span><br>
				{{/data.head.correctiveDoc}}
				{{^data.head.correctiveDoc}}
					<span class="docName">{{@dict;Faktura - daňový doklad}}</span><br>
				{{/data.head.correctiveDoc}}
			{{/data.head.taxPayer}}
			{{^data.head.taxPayer}}
				{{#data.head.correctiveDoc}}
					<span class="docName">Dobropis - neplátce DPH</span><br>
				{{/data.head.correctiveDoc}}
				{{^data.head.correctiveDoc}}
					<span class="docName">{{@dict;Faktura - neplátce DPH}}</span><br>
				{{/data.head.correctiveDoc}}
			{{/data.head.taxPayer}}
							
			{{@dict;číslo}}: <b>{{data.head.docNumber}}</b>
		</td>
	</tr>
</table>
