<style>
	table.header {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		margin-left: 1cm;
		margin-right: 1cm;
	}

	td.docInfo {
		text-align: left;
		font-size: 12pt;		
	}

	span.docName {
		text-transform: uppercase;
	}
</style>

<table class='header'>
	<tr>
		<td class='docInfo'>
			<span class="docName">
				{{#data.head.taxPayer}}
					{{#data.head.correctiveDoc}}
						{{@dict;Opravný daňový doklad}}
					{{/data.head.correctiveDoc}}
					{{^data.head.correctiveDoc}}
						{{@dict;Faktura - daňový doklad}}
					{{/data.head.correctiveDoc}}
				{{/data.head.taxPayer}}
				{{^data.head.taxPayer}}
					{{#data.head.correctiveDoc}}
						Dobropis - neplátce DPH
					{{/data.head.correctiveDoc}}
					{{^data.head.correctiveDoc}}
						{{@dict;Faktura - neplátce DPH}}
					{{/data.head.correctiveDoc}}
				{{/data.head.taxPayer}}
			</span>
			<br>
			{{@dict;číslo}}: <b>{{data.head.docNumber}}</b>
		</td>
	</tr>
</table>
