
<div class="card-body">
  <h3 class="card-title text-center">
    {{data.listRow.docNumber}}
  </h3>

  {{data.listRow.dateAccounting}} / {{data.listRow.sumTotal}} {{data.listRow.currency}} /
  VS: {{data.listRow.symbol1}} / SS: {{data.listRow.symbol2}} <br>
  {{data.listRow.title}}
</div>
