{{#data.gallery.style}}
	{{#data.gallery.style-single}}
		{{#data.gallery.rows}}
            <div class="e10-gs-row">
				{{#images}}
                    <div class="e10-gs-col e10-gs-col10 e10-gs-offset1" title="{{name}}">
						{{#original}}
                            <a class="thumbnail" href="{{dsRoot}}/att/{{fileName}}" target="new">
                                <img src="{{dsRoot}}/imgs/-w1980/att/{{fileName}}" class="img-responsive" title="{{name}}"/>
                            </a>
						{{/original}}
						{{^original}}
                            <a class="thumbnail gallery" href="{{dsRoot}}/imgs/-w1980/att/{{fileName}}">
                                <img src="{{dsRoot}}/imgs/-w1980/att/{{fileName}}" class="img-responsive" title="{{name}}"/>
                            </a>
						{{/original}}
                    </div>
				{{/images}}
            </div>
		{{/data.gallery.rows}}
	{{/data.gallery.style-single}}
	{{^data.gallery.style-single}}
		{{#data.gallery.rows}}
			{{#images}}
                <span class="thumb thumb-{{data.gallery.style}}">
            <img src="{{dsRoot}}/imgs/-w1980/att/{{fileName}}"{{#data.gallery.imgcss}} style='{{data.gallery.imgcss}}'{{/data.gallery.imgcss}} title="{{name}}"/>
					</span>
			{{/images}}
		{{/data.gallery.rows}}
	{{/data.gallery.style-single}}
{{/data.gallery.style}}

{{^data.gallery.style}}
	{{#data.gallery.rows}}
        <div class="e10-gs-row {{#cnt5}}e10-gs-offset1{{/cnt5}}">
		{{#images}}
			{{#cnt6}}<div class="e10-gs-col e10-gs-col2" title="{{name}}">{{/cnt6}}
			{{#cnt5}}<div class="e10-gs-col e10-gs-col2" title="{{name}}">{{/cnt5}}
			{{#cnt4}}<div class="e10-gs-col e10-gs-col3" title="{{name}}">{{/cnt4}}
			{{#cnt3}}<div class="e10-gs-col e10-gs-col4" title="{{name}}">{{/cnt3}}
			{{#cnt2}}<div class="e10-gs-col e10-gs-col6" title="{{name}}">{{/cnt2}}
			{{#cnt1}}<div class="e10-gs-col e10-gs-col12" title="{{name}}">{{/cnt1}}
			{{#original}}
                    <a class="thumbnail" href="{{dsRoot}}/att/{{fileName}}" target="new">
                        <img src="{{dsRoot}}/imgs/-w1980/att/{{fileName}}" class="img-responsive"/>
                    </a>
			{{/original}}
			{{^original}}
                    <a class="thumbnail gallery" href="{{dsRoot}}/imgs/-w1980/att/{{fileName}}">
                        <img src="{{dsRoot}}/imgs/-w1980/att/{{fileName}}" class="img-responsive"/>
                    </a>
			{{/original}}
            </div>
		{{/images}}
        </div>
	{{/data.gallery.rows}}
{{/data.gallery.style}}
