<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>
	<link rel="stylesheet" href="file://{{fsRoot}}/e10-modules/e10/server/css/bootstrap/less/font-awesome/font-awesome.css">
</head>
<body>
	{{{stdReportHeader}}}
	{{{@renderTable;dataItem:data.property;tableClass:rows}}}
</body>
</html>

