<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="file://{{fsRoot}}/e10-modules/wwwlibs/Font-Awesome44/less/font-awesome.css">
	<link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>
</head>
<body>
	{{{stdReportHeader}}}
	{{{@renderContent;dataItem:data.properties;tableClass:rows}}}
</body>
</html>

