{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{@dict;Faktura}}: {{data.head.title}}
{{/data.reportTexts.emailSubject}}
