$app-header-height: 2.4rem;

body {
  height: 100vh;
}

/*
 * appContainer
 */
.app-container {
  background-color: var(--backgroundColor);
  height: 100vh;
}

.e10-widget-content {height: 100%;}

// ------

div.shp-app-cats-menu-tabs {
  .shp-tab-item {
    background-color: blue;
  }
  .shp-tab-item.active {
    background-color: lightblue;
  }
}


.tab-content {display: none;}
.tab-content.active {display: block;}

// -------

span.shp-widget-action, span.shp-app-action {
  cursor: pointer;

}


div.app-menu-shp-ng {
  .shp-tab-item {
    font-size: 180%;
    padding: .2rem .7rem;
  }
}

