.app-container-full {
  display: grid;

  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "app-menu app-content-container";

  overflow-x: clip;

  .app-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $app-header-height 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "app-content-header"
      "app-content";
    grid-area: app-content-container;

    min-height: 0;
    overflow-y: clip;
    overflow-x: clip;


    .app-content-header {
      grid-area: app-content-header;
    }
    .app-content {
      grid-area: app-content;

      min-height: 0;
      overflow-y: clip;
    }
  }
}


@media only screen and (max-width: 700px) {
  .app-content-container {
    width: 100vw;
  }
}


@media only screen and (min-width: 701px)
{
  .app-header {
    >.app-hdr-back {
      display: none;
    }
  }
}



@keyframes fscOpen
{
  from {margin-left: 0;}
  to{margin-left: -100vw;}
}

@keyframes fscClose
{
  from {margin-left: -100vw;}
  to{margin-left: 0;}
}

