.btn-outline-primary {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--bs-btn-color);
}

.navbar .btn {
  color: var(--bs-btn-color);
}

a.dropdown-item>i {
  width: 1.4rem;
  text-align: center;
}

button.btn {
  color: var(--shpd-body-color) !important;
}

// re-do with different variables for bg and color
.dropdown-menu{
  border: 1px solid var(--shpd-card-border);
  background-color: var(--shpd-card-bg) !important;
}

.dropdown-item {
  background-color: var(--shpd-card-bg);
  color: var(--shpd-body-color);
}

.dropdown-menu li:not(:last-of-type) {
  border-bottom: 1px solid var(--shpd-card-border) !important;
}

.dropdown-item:hover {
  background-color: var(--shpd-primary-gray);
  color: var(--shpd-body-color);
}

.dropdown-item.active {
  background-color: var(--shpd-primary-subtle);
  color: #101010 !important;
}

/* zuš - univerzální velké tlačítko */
a.dashboardButton {
    width: 4rem;
    height: 4rem;
    /*padding: .7rem 1.5rem;*/
    text-decoration: none;
    display: inline-block;
    font-size: 24pt;
    background-color: #{$shipard-secondary};
    border-radius: 15%;
	color: var(--dashboardButtonColor) !important;
}
a.dashboardButton i, b {
	text-align: center;
    vertical-align: middle;
    padding-top: .5rem;
}

/* dropdown na ovládání dark light módu*/
.dropdown-item.active {
	background-color: #{$shipard-primary};
}

ul.dropdown-menu {
	background-color: var(--cardBackground);
}

/* ostatní */
a.searchButton {
    border: none;
    --bs-btn-hover-bg: transparent;
    color: var(--bs-body-color);
}

a.sendButton {
	max-width: 30%;
}

a.backButton {
    border: none;
    --bs-btn-hover-bg: transparent;
    color: var(--bs-body-color);
}

a.closeButton {
	font-size: 20pt;
  color: var(--buttonColor);
  border: none;
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-color: var(--buttonColor);
	--bs-btn-active-bg: transparent;
}

a.editButton {
	font-size: 20pt;
  color: var(--buttonColor);
	border: none;
	--bs-btn-hover-bg: transparent;
  --bs-btn-hover-color: var(--buttonColor);
	--bs-btn-active-bg: transparent;
}

a.cancelButton {
	width: 30%;
}

a.saveButton {
	width: 30%;
}

// offcanvas close button (re-do of bootstrap close icon)
button.shpd-close {
  background-color: transparent;
  font-size: 2rem;
  color: var(--shpd-nav-color);
}