:root {
    --bodyColor: #{$body-color};
    --navBackground: #{$nav-bg-light};
    --navColor: #{$navbar-light-color};
    --navBorder: #{$nav-border-light};
    --cardBackground: #{$card-bg-light};
    --cardBorder: #{$card-border-light};
    --navPillsColor: #{$nav-pills-color-light};
    --numpadBackground: #{$numpad-bg-light};
    --numpadBorder: #{$numpad-border-light};
    --numpadClose: #{$numpad-close-light};
    --dashboardButtonColor: #{$dashboard-button-color};
    --accordionBackground: #{$accordion-bg-light};
    --accordionBorder: #{$accordion-border-light};
    --universalBorder: #{$universal-border-light};
    --listBorder: $list-border-light;
}

.btn-outline-secondary
{
    /*--bs-btn-bg: transparent;*/
    --bs-btn-color: var(--bodyColor);
    --bs-btn-hover-bg: transparent;
}

.accordion-button:not(.collapsed){
    --bs-accordion-active-bg: #F8F8F8;
}

.accordion {
    --bs-accordion-active-color: var(--bs-btn-hover-color);
	--bs-accordion-active-bg: #E8E8E8;
    --bs-accordion-bg: #FFFFFF !important;

}

.navbar .list-group {
    --bs-list-group-bg: var(--navBackground) !important;
}

[data-bs-theme="dark"] {
    --bodyColor: #{$body-color-dark};
    --navBackground: #{$nav-bg-dark};
    --navColor: #{$navbar-dark-color};
    --navBorder: #{$nav-border-dark};
    --cardBackground: #{$card-bg-dark};
    --cardBorder: #{$card-border-dark};
    --navPillsColor: #{$nav-pills-color-dark};
    --numpadBackground: #{$numpad-bg-dark};
    --numpadBorder: #{$numpad-border-dark};
    --numpadClose: #{$numpad-close-dark};
    --dashboardButtonColor: #{$dashboard-button-color};
    --accordionBackground: #{$accordion-bg-dark};
    --accordionBorder: #{$accordion-border-dark};
    --universalBorder: #{$universal-border-dark};
    --listBorder: $list-border-dark;
}

[data-bs-theme="dark"] .btn-outline-secondary {
    /*--bs-btn-bg: transparent;*/
    --bs-btn-color: whitesmoke;
    --bs-btn-hover-bg: transparent;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed){
    --bs-accordion-active-bg: #404040;
    ;
}

[data-bs-theme="dark"] .accordion {
    --bs-accordion-active-color: gainsboro;
	--bs-accordion-active-bg: #303030;
    --bs-accordion-bg: #505050 !important;
}

[data-bs-theme="dark"] .navbar .list-group {
    --bs-list-group-bg: var(--navBackground) !important;
}

/*:root {
    --backgroundColor: whitesmoke;
    --primaryBackground: whitesmoke;
	--secondaryBackground: white;
    --columnSeparator: gainsboro;
}

div.app-content, .btn-primary, .btn-outline-primary, .btn-success, .btn-outline-success, ul.nav-pills, nav.navbar, a.navbar-brand, .row
{
    --bs-btn-bg: silver;
    --bs-btn-border-color: silver;
    --bs-btn-color: black;
    --bs-btn-hover-bg: gainsboro;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: gainsboro;
    --bs-nav-pills-link-active-bg: var(--accentColor);
    --bs-nav-pills-link-active-color: black;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: var(--accentColor);
    --bs-navbar-hover-color: var(--accentColor);
    --bs-btn-active-bg: var(--accentColor);
    --bs-btn-active-border-color: var(--accentColor);
    --bs-btn-active-color: black;
}

[data-bs-theme="dark"] {
    --backgroundColor: #505050;
    --primaryBackground: #505050;
	--secondaryBackground: #404040;
    --columnSeparator: #303030;
}

[data-bs-theme="dark"] div.app-content,
[data-bs-theme="dark"] .btn-primary,
[data-bs-theme="dark"] button.btn-success,
[data-bs-theme="dark"] .btn-outline-success,
[data-bs-theme="dark"] ul.nav-pills,
[data-bs-theme="dark"] nav.navbar,
[data-bs-theme="dark"] a.navbar-brand {
    --bs-btn-bg: gray;
    --bs-btn-border-color: gray;
    --bs-btn-color: whitesmoke;
    --bs-btn-hover-bg: gainsboro;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: gainsboro;
    --bs-nav-pills-link-active-bg: var(--accentColor);
    --bs-nav-pills-link-active-color: black;
    color: whitesmoke;
    --bs-nav-link-color: whitesmoke;
    --bs-nav-link-hover-color: var(--accentColor);
    --bs-navbar-hover-color: var(--accentColor);
    --bs-btn-active-bg: var(--accentColor);
    --bs-btn-active-border-color: var(--accentColor);
    --bs-btn-active-color: black;
}*/