/*  light mode */
:root {
    --shpdPrimary: #{$shpd-primary-light};
    --shpdPrimarySubtle: #{$shpd-primary-subtle-light};
    --shpdPrimaryGray: #{$shpd-primary-gray-light};

    --bodyColor: #{$shpd-body-color-light};
    --bodyBackground: #{$shpd-gray-100};

    /*simple app menu */
    --navBackground: #{$shpd-gray-200};
    --navColor: #{$navbar-light-color};
    --navBorder: #{$shpd-gray-300}; // ?????

    /* full app menu */
    --menuBackground: #{$shpd-gray-200};
    --menuBorder: #{$shpd-gray-300};
    --menuActiveBackground: #{$shpd-gray-400}; // for every active
    --menuTabsBackground: #{$shpd-gray-300}; // bottom tabs in menu
    --menuTopBackground: #{$shpd-gray-400}; // top row with info - user name/app name
    --menuHandleBackground: #{$shpd-gray-500}; // left column after minimizing menu

    --hoverBackground: #{$shpd-primary-gray-light};
    --viewerRowActive: #{$shpd-primary-subtle-light};
    --universalBorder: #{$shpd-gray-300};
    --cardBackground: #{$shpd-white};
    --cardBorder: #{$shpd-gray-200};
    --listBackground: #{$shpd-white};
    --listBorder: #{$shpd-gray-200};
    --accordionBackground: #{$shpd-white};
    --accordionBorder: #{$shpd-gray-200};


    --navPillsColor: #{$nav-pills-color-light};
    --numpadBackground: #{$numpad-bg-light};
    --numpadBorder: #{$numpad-border-light};
    --numpadClose: #{$numpad-close-light};
    --dashboardButtonColor: #{$dashboard-button-color};
    --calendarInactive: #{$calendar-inactive-light};
    --popoverBg: #{$popover-bg-light};
}

/* dark mode */
[data-bs-theme="dark"] {
    --shpdPrimary: #{$shpd-primary-dark};
    --shpdPrimarySubtle: #{$shpd-primary-subtle-dark};
    --shpdPrimaryGray: #{$shpd-primary-gray-dark};

    --bodyColor: #{$shpd-body-color-dark};
    --bodyBackground: #{$shpd-gray-700};

    /*simple app menu */
    --navBackground: #{$shpd-gray-800};
    --navColor: #{$navbar-dark-color};
    --navBorder: #{$shpd-gray-900};

    /* full app menu */
    --menuBackground: #{$shpd-gray-800};
    --menuBorder: #{$shpd-gray-900};
    --menuActiveBackground: #{$shpd-gray-600}; // for every active
    --menuTabsBackground: #{$shpd-gray-900}; // bottom tabs in menu
    --menuTopBackground: #{$shpd-gray-900}; // top row with info - user name/app name
    --menuHandleBackground: #{$shpd-gray-600}; // left column after minimizing menu

    --hoverBackground: #{$shpd-primary-gray-dark};
    --viewerRowActive: #{$shpd-primary-subtle-dark};
    --universalBorder: #{$shpd-gray-500};
    --cardBackground: #{$shpd-gray-600};
    --cardBorder: #{$shpd-gray-500};
    --listBackground: #{$shpd-gray-600};
    --listBorder: #{$shpd-gray-500};
    --accordionBackground: #{$shpd-gray-600};
    --accordionBorder: #{$shpd-gray-500};



    --navPillsColor: #{$nav-pills-color-dark};
    --numpadBackground: #{$numpad-bg-dark};
    --numpadBorder: #{$numpad-border-dark};
    --numpadClose: #{$numpad-close-dark};
    --dashboardButtonColor: #{$dashboard-button-color};
    --calendarInactive: #{$calendar-inactive-dark};
    --popoverBg: #{$popover-bg-dark};
}

/* secondary button */
.btn-outline-secondary
{
    /*--bs-btn-bg: transparent;*/
    --bs-btn-color: var(--bodyColor);
    --bs-btn-hover-bg: transparent;
}

[data-bs-theme="dark"] .btn-outline-secondary {
    /*--bs-btn-bg: transparent;*/
    --bs-btn-color: $shpd-gray-100;
    --bs-btn-hover-bg: transparent;
}

/* accordion */
.accordion-button:not(.collapsed){
    --bs-accordion-active-bg: $shpd-gray-100;
}

.accordion {
    --bs-accordion-active-color: var(--bs-btn-hover-color);
	--bs-accordion-active-bg: $shpd-gray-200;
    --bs-accordion-bg: $shpd-white !important;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed){
    --bs-accordion-active-bg: $shpd-gray-700;
}

[data-bs-theme="dark"] .accordion {
    --bs-accordion-active-color: $shpd-gray-200;
	--bs-accordion-active-bg: $shpd-gray-800;
    --bs-accordion-bg: $shpd-gray-600 !important;
}

/* navbar (simple app) */
.navbar, .app-menu .list-group {
    --bs-list-group-bg: var(--navBackground) !important;
}

[data-bs-theme="dark"] .navbar, [data-bs-theme="dark"] .app-menu .list-group {
    --bs-list-group-bg: var(--navBackground) !important;
}