@media only screen and (max-width: 700px) {
  .shp-widget-board {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "toolbar"
      "content";

    height: 100%;

    .shp-wb-sidebar {
     /* grid-area: sidebar;*/
     display: none;
    }
    .shp-wb-toolbar {
      grid-area: toolbar;
      white-space: pre;
      overflow-x: auto;
      padding-top: .25rem;
      padding-left: .25rem;
    }
    .shp-wb-content {
      grid-area: content;
      overflow-y: auto;
      padding-top: .25rem;
      padding-bottom: .25rem;
      padding-right: .25rem;
    }
  }
}

@media only screen and (min-width: 701px) {
  .shp-widget-board {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "toolbar sidebar"
      "content sidebar";

    height: 100%;

    .shp-wb-sidebar {
      grid-area: sidebar;
      padding-left: .5rem;
    }
    .shp-wb-toolbar {
      grid-area: toolbar;
      padding-top: .5rem;
      padding-left: .5rem;
    }
    .shp-wb-content {
      grid-area: content;
      overflow-y: auto;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
}

.shp-widget-simple {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "toolbar"
    "content";

  height: 100%;

  .shp-wb-toolbar {
    grid-area: toolbar;
  }

  .shp-wb-content {
    grid-area: content;
    height: 100%;
    overflow-y: auto;
  }
}
