$concepthandleTextColor:				#999;
$conceptHandleBackgroundColor:	#FDFF6B;

$newHandleTextColor:						#999;
$newHandleBackgroundColor:			#8467D7;


$doneHandleTextColor:						#999;
$doneHandleBackgroundColor:			#f0f7f0;

$halfdoneHandleTextColor:				#999;
$halfdoneHandleBackgroundColor:	#BDD0F2;

$confirmedHandleTextColor:			#999;
$confirmedHandleBackgroundColor:#BDD0F2;

$editHandleTextColor:						#999;
$editHandleBackgroundColor:			#FFCB6B;

$deleteHandleTextColor:					#e5e5e5;
$deleteHandleBackgroundColor:		#333;

$cancelHandleTextColor:					#999;
$cancelHandleBackgroundColor:		#ff4040;

$archiveHandleTextColor:				#999;
$archiveHandleBackgroundColor:	#DEDEDE;

$nostateHandleBackgroundColor:	white;



