.app-container-full {
    .app-menu {
      grid-area: app-menu;
    }
  }

  .app-menu-shp-ng {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: $app-header-height 1fr min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "left-sidebar menu-toolbar"
      "left-sidebar menu-content"
      "left-sidebar menu-tabs"
      "left-sidebar menu-footer";

    .left-sidebar { grid-area: left-sidebar; }
    .menu-tabs { grid-area: menu-tabs;}
    .menu-toolbar { grid-area: menu-toolbar;}
    .menu-footer { grid-area: menu-footer;}
    .menu-content { grid-area: menu-content;}
  }


  @media only screen and (max-width: 700px) {
    .app-menu {
      width: calc(100vw - 3rem);
    }


    .app-menu {
      margin-left: 0;
    }

    div.app-container-full.full-screen-content-on {
      .app-menu {
        margin-left: -100vw;
        animation:fscOpen .3s;
      }
    }

    div.app-container-full.full-screen-content-off {
      .app-menu {
        margin-left: 0;
        animation:fscClose .2s;
      }
    }

  }


  @media only screen and (min-width: 701px)
  {
    .app-menu-shp-ng {
      min-width: 20rem;
    }
  }

  div.menu-favorites
  {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "tlbr tlbr"
      "menu-handle buttons";

    .menu-toolbar {
      grid-area: tlbr;
    }
    .menu-handle {
      grid-area: menu-handle;
    }
    .menu-buttons {
      grid-area: buttons;
    }
  }


  /* open/close app-menu */
  div.app-menu.open {
    div.app-menu-shp-ng {
      display: grid;
    }
    div.menu-favorites {
      display: none;
    }

  }

  div.app-menu.closed {
    div.app-menu-shp-ng {
      display: none;
    }
    div.menu-favorites {
      display: grid;
    }

  }

  div.app-menu.closed.float {

    .app-menu-shp-ng {
      position: absolute;
      display: grid;
      z-index: 5000;

      box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.6);

      border: 2px solid #D0D0D0;
      border-radius: 4px;
    }
  }
























/* visuals */
div.app-header {
  background-color: var(--shpd-menu-top-bg);
  color: var(--shpd-menu-top-color);
}

.app-menu {
    height: 100%;
    overflow-y: hidden;
}

div.app-menu-shp-ng{
    height: 100%;
    color: var(--shpd-menu-color);
    .menu-toolbar {
        background-color: var(--shpd-menu-top-bg);        
    }
    .menu-content {
        background-color: var(--shpd-menu-bg);
        overflow-y: auto;
    }

    .shp-tree-list .li-title {
        display: flex;
        align-items: center;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }

    .shp-tab-item {
        background-color: var(--shpd-menu-tabs-bg);
        color: var(--shpd-menu-tabs-color);
        opacity: .8;
        border-top: 3px solid transparent;
    }
    .shp-tab-item.active{
        background-color: var(--shpd-menu-tabs-active-bg);
        //color: var(--shpd-menu-tabs-active-color);
        border-top: 3px solid var(--shpd-menu-tabs-active-border);
        opacity: 1;
    }
    .shp-tab-item:hover {
        background-color: var(--shpd-hover-bg);
        opacity: 1;
    }
    .menu-tabs {
        background-color: var(--shpd-menu-tabs-bg);
    }
}

.shp-tree-list li>.li-title{
    border-left: 2px solid transparent;
}


.shp-tree-list li>.li-title:hover{
    background-color: var(--shpd-hover-bg);
}

.shp-tree-list li>.li-title.active{
    background-color: var(--shpd-menu-active-bg);
    border-left: 3px solid var(--shpd-menu-active-border);
    //color: var(--shpd-menu-active-color);
}



div.menu-favorites {
    width: 3.8rem;
    display: grid;
    height: 100%;
    div.menu-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--shpd-menu-buttons-bg);
        color: var(--shpd-menu-color);

        >span {
          font-size: 180%;
          text-align: center;
          width: 100%;
        }

        .app-menu-item:hover {
            background-color: var(--shpd-hover-bg);
        }

        .app-menu-item.active {
            background-color: var(--shpd-menu-active-bg);
        }
    }

    div.menu-toolbar {
        background-color: var(--shpd-menu-top-bg);
        color: var(--shpd-menu-color);
        //padding-left: .5rem;
        //padding-right: .5rem;
        height: $app-header-height;
        display: flex;
        >img {
          height: 100%;
        }
        >span {
          flex-grow: 1;

          display: flex;
          align-items: center;
          justify-content: center;
        }
    }

    div.menu-handle {
        width: .8rem;
        background-color: var(--shpd-menu-handle-bg);
    }
}
