.app-nav {
    grid-area: app-nav;
}

.app-nav nav {
    background-color: var(--navBackground);
    border-bottom: 1px solid var(--navBorder);
    a {
        color: var(--navColor);
    }
}

.navbar-nav .list-group a {
    color: var(--navColor);
}

button.navbar-toggler {
    color: var(--navColor);
}

.app-nav a.navbar-brand {
    padding-left: .5rem;
}

.app-nav .shp-badge {
    font-size: 14pt;
    color: var(--bs-body-color);
}

.navbar h4 {
	margin-bottom: 0;
	padding: .5rem;
}

.navbar-toggler {
    border: none;
}

div.offcanvas, div.app-menu {
	background-color: var(--navBackground);
    .navListIcon {
        padding-right: .5rem;
    }
    .list-group-item {
        padding-top: .7rem;
        padding-bottom: .7rem;
    }
    .list-group-item.active {
        background-color: #{$shipard-primary};
        border-color: #{$shipard-primary};
    }
}

.offcanvas-body {
    padding: 0 !important;
    font-size: 110%;
}