

data-viewer.shp-mainViewer  {
  height:100%;
  display: grid;
  gap: 0px 0px;

  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "sidebar toolbar toolbar"
    "sidebar body detail";

  .toolbar { grid-area: toolbar; background-color: lightblue;}
  .sidebar { grid-area: sidebar; background-color: yellowgreen;}
  .detail { grid-area: detail;  background-color: lightgreen;}

  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "search"
      "rows"
      "tabs";
    grid-area: body;

    overflow-y: hidden;

    .rows {
      grid-area: rows;
     }

    >.rows {
      overflow-y: auto;
    };

    .search { grid-area: search; background-color: aliceblue;}
    .tabs { grid-area: tabs; }
  }
}


data-viewer.shp-detailViewer  {
  height:100%;
  display: grid;
  gap: 0px 0px;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "toolbar"
    "body";

  .toolbar { grid-area: toolbar; padding: .5rem; }
  >.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "search"
      "rows"
      "tabs";
    grid-area: body;

    overflow-y: hidden;

    >.rows {
      overflow-y: auto;
    };
  }
  .search { grid-area: search; background-color: aliceblue;}
  .rows {
     grid-area: rows;
    }
  .tabs { grid-area: tabs; }
}

data-viewer>div.body>div.rows>div.rows-list>div.r {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-rows: min-content min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "lnr icon t1 i1"
    "lnr icon t2 i2"
    "lnr icon t3 t3";


    .lnr {
      grid-area: lnr;
      width: 1.5rem;
      font-size: 80%;
      display: flex;
      align-items: end;
    }

    .icon {
      grid-area: icon;
      width: 3rem;
      font-size: 1.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .t1 {
      grid-area: t1;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 112%;
    }

    .i1 {
      grid-area: i1;

      white-space: nowrap;
    }

    .t3 {
      grid-area: t3; font-size: 90%;
      opacity: .8;
    }

    .t2 {
      grid-area: t2;
      font-size: 90%;
      opacity: .8;
      >span {
        white-space: pre;
      }
    }

    .i2 {
      grid-area: i2;
      white-space: nowrap;
    }
}




data-viewer.viewerWithCards {
  div.rows {
    padding-left: 0.5rem; padding-right: 0.5rem;
  }
  .r.card {
    padding-top: 0.5rem; padding-bottom: 0.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

data-viewer>div.body {
  min-width: 28rem;
}

data-viewer>div.body>div.rows>div.rows-list>div.r {
  border-bottom: 1pt solid var(--universalBorder);
  padding-top: .2rem;
  padding-bottom: .2rem;

  .df2-list-item-i1 {
    text-align: right;
  }

  .i2 {
    font-size: 90%;
    text-align: right;
  }
}


data-viewer>div.body>div.rows>div.rows-list>div.r {
  &.e10-docstyle-concept {>div.lnr {background-color: $conceptHandleBackgroundColor;}}
  &.e10-docstyle-done {>div.lnr {background-color: $doneHandleBackgroundColor;}}
  &.e10-docstyle-halfdone {>div.lnr {background-color: $halfdoneHandleBackgroundColor;}}
  &.e10-docstyle-confirmed {>div.lnr {background-color: $confirmedHandleBackgroundColor;}}
  &.e10-docstyle-edit {>div.lnr {background-color: $editHandleBackgroundColor;}}
  &.e10-docstyle-delete {>div.lnr {background-color: $deleteHandleBackgroundColor;}}
  &.e10-docstyle-cancel {>div.lnr {background-color: $cancelHandleBackgroundColor;}}
  &.e10-docstyle-archive {>div.lnr {background-color: $archiveHandleBackgroundColor;}}
}
