

data-viewer.shp-mainViewer  {
  height:100%;
  display: grid;
  gap: 0px 0px;

  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "toolbar toolbar"
    "body detail";

  .toolbar { grid-area: toolbar; background-color: lightblue;}
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "search"
      "rows"
      "tabs";
    grid-area: body;

    overflow-y: hidden;
    border: 3px solid violet;

    >.rows {
      overflow-y: auto;
    };
  }
  .search { grid-area: search; background-color: aliceblue;}
  .rows {
     grid-area: rows; background-color: aqua;
     border: 5px solid red;
    }
  .tabs { grid-area: tabs; }
  .detail { grid-area: detail;  background-color: lightgreen;}

}


data-viewer.shp-detailViewer  {
  height:100%;
  display: grid;
  gap: 0px 0px;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "toolbar"
    "body";

  .toolbar { grid-area: toolbar; background-color: lightpink;}
  >.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "search"
      "rows"
      "tabs";
    grid-area: body;

    overflow-y: hidden;

    >.rows {
      overflow-y: auto;
    };
  }
  .search { grid-area: search; background-color: aliceblue;}
  .rows {
     grid-area: rows;
    }
  .tabs { grid-area: tabs; }
}


data-viewer>div.body>div.rows>div.rows-list>div.r {
  /*border-bottom: 1px solid gray;*/
  display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;

  >div.df2-list-item-recnum {
    width: 3rem;
    flex-shrink: 0;
  }

  >div.df2-list-item-icon {
    width: 3rem;
    flex-shrink: 0;
    font-size: 180%;
  }

  >div.row-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 0;

    div.df2-list-item-t1 {
      color: red;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 120%;

      flex-grow: 1;
    }

    div.df2-list-item-t2 {
      color: blue;
      flex-grow: 1;
    }

    div.df2-list-item-i1 {
      flex-shrink: 1;
    }

    div.break-break {
      flex-basis: 100%;
      width: 0;
    }
  }
}

data-viewer.viewerWithCards {
  div.rows {
    padding-left: 0.5rem; padding-right: 0.5rem;
  }
  .r.card {
    padding-top: 0.5rem; padding-bottom: 0.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}