body > div.fullScreenModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: #101010D0;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}


div.app-container {
  background-color: var(--shpd-body-bg);
  color: var(--shpd-body-color) !important;
}

.content {
  color: var(--shpd-body-color);
}

.tlbr {
  color: var(--shpd-body-color);
}

.formContainer {
  color: var(--shpd-body-color);
}

div.shp-numpad-container {
  background-color: var(--numpadBackground);
  border: 4px solid #10101010;
  border-radius: 4px;
}

table.shp-numpad-keyboard {
 width: 100%;
}

table.shp-numpad-keyboard td {
padding: .6rem;
width: 25%;
text-align: center;
border: 2px solid var(--numpadBorder);
background-color: var(--numpadBackground);
color: var(--numpadColor);
}

table.shp-numpad-keyboard td.ok.shp-widget-action {
background-color: var(--numpadOk);
}


table.shp-numpad-keyboard td.c.shp-widget-action {
background-color: var(--numpadClose);
}


table.shp-numpad-keyboard td.d.shp-widget-action {
font-size: 200%;
line-height: 200%;
}

table.shp-numpad-keyboard td.b.shp-widget-action {
font-size: 200%;
line-height: 200%;
}

table.shp-numpad-keyboard td.n.shp-widget-action {
padding: 2rem;
}


div.shp-workplace-login-users {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: .6rem;

}
div.shp-workplace-login-users > *
{
  flex: 1 1 auto;
  min-width: 10rem;
  text-align: center;
}



body {
  height: 100vh;
 }

div.e10-widget-terminal {height: 100%;}

// delete after defining numpad, its used in other stuff - simple app/ui
$shipard-primary: #93C572;
//$shipard-primary: var(--shpd-primary-subtle);
$shipard-secondary: #A9A9A9;



$label-default: #CCCCCC;
$label-success: #009933;
$label-info: #0dcaf0;
$label-warning: #FFCC00;
$label-danger: #CC0000;
$label-color-darks: #F0F0F0; /*text color for darker labels*/
$label-color-lights: #212529; /*text color for lighter labels*/

:root {
  --shpd-docstate-concept: #fff973;
  --shpd-docstate-new: #040304;
  --shpd-docstate-done: #c4e3a6;
  --sphd-docstate-halfdone: #BDD0F2;
  --shpd-docstate-confirmed: #BDD0F2;
  --shpd-docstate-edit: #ffcb6c;
  --shpd-docstate-delete: #262626;
  --shpd-docstate-cancel: #ff4040;
  --shpd-docstate-archive: #d1d1d1;
  --shpd-docstate-nostate: transparent;
}

$nav-pills-color-light: black;
$nav-pills-color-dark: whitesmoke;
/*$numpad-bg-light: whitesmoke;
$numpad-bg-dark: #585858;
$numpad-border-light: silver;
$numpad-border-dark: dimgray;
$numpad-close-light: gainsboro;
$numpad-close-dark: gray;
$numpad-ok: $shipard-primary;*/
$dashboard-button-color: black;
$calendar-inactive-light: #E8E8E8;
$calendar-inactive-dark: #282828;
$calendar-today: rgb(147,197,114,0.7);
$popover-bg-light: white;
$popover-bg-dark: #505050;


$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$theme-colors: (
  "primary":  $shipard-primary,
  "secondary": $shipard-secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$body-color-dark: #F0F0F0;
$body-color: #212529;

/*$navbar-light-color: #282828;
$navbar-dark-color: #D8D8D8;
$navbar-light-active-color: $shipard-primary;
$navbar-dark-active-color: $shipard-primary;
$navbar-light-brand-color: dimgray;
$navbar-dark-brand-color: gainsboro;
$navbar-light-hover-color: $shipard-primary;
$navbar-dark-hover-color: $shipard-primary;

$nav-pills-link-active-color: black;
$nav-pills-link-active-bg: $shipard-primary;*/

$accordion-button-active-bg: transparent;
$accordion-button-focus-border-color: transparent;
$accordion-button-focus-box-shadow: none;

//$form-check-input-checked-color: $shipard-primary;
$form-check-input-checked-border-color: var(--universalBorder);
$form-check-input-checked-border-color: orange;

$form-check-input-focus-border: transparent;
$form-check-input-focus-box-shadow: none;

$input-focus-border-color: var(--universalBorder);
$input-focus-box-shadow: none;

$input-focus-bg: var(--formBackground);

$popover-body-padding-y: .5rem;
$popover-body-padding-x: .5rem;

$card-bg: var(--shpd-universal-bg);
$card-border-color: var(--shpd-universal-border);
$card-color: var(--shpd-body-color);




@import "../../../../../www-root/sc/bs/5.3/scss/bootstrap.scss";

//@import "_colors.scss";
@import "_docStates.scss";
@import "_calendar.scss";
@import "_cashbox.scss";
@import "_dashboards.scss";
@import "_numpad.scss";
@import "_navbar.scss";
@import "_other.scss";
@import "_buttons.scss";
@import "_forms.scss";
@import "_lists.scss";
@import "_tree.scss";
@import "_app.scss";
@import "_appSimple.scss";
@import "_appFull.scss";
@import "_viewers.scss";
@import "_tables.scss";
@import "_menu.scss";
@import "_card.scss";
@import "_details.scss";
@import "_filters.scss";
@import "_utility.scss";
//@import "_colorsLight.scss";
//@import "_colorsDark.scss";