<h5 class="shpd-card-title mb-0">
  {{#data.listRow.longTerm}}{{data.listRow.dateFrom}} - {{data.listRow.dateTo}}{{/data.listRow.longTerm}}
  {{^data.listRow.longTerm}}{{data.listRow.dateFrom}}{{#data.listRow.useTimeFromTo}}, {{data.listRow.timeFrom}} - {{data.listRow.timeTo}}{{/data.listRow.useTimeFromTo}}{{/data.listRow.longTerm}}
</h5>
<span class="text-muted fs-6 pe-2">{{data.listRow.reason}}</span>