<h3 class="shpd-card-title">
  {{data.listRow.subjectName}}
</h3>
<h6 class="d-flex align-items-center mb-1">
  <span class="flex-fill pb-0">{{data.listRow.date}}</span>
  {{#data.listRow.withHomeWork}}<span class="shpd-badge shpd-bg-secondary me-2">{{{@icon;icon:user/book}}}</span>{{/data.listRow.withHomeWork}}
  {{#data.listRow.grade}}<span class="shpd-badge shpd-bg-secondary me-2">{{{@icon;icon:user/medal}}} {{data.listRow.grade}}</span>{{/data.listRow.grade}}
  <span class="{{data.listRow.presenceCfg.class}}">{{{@icon;dataItem:data.listRow.presenceCfg.icon}}}</span>
</h6>
<pre>{{data.listRow.txt}}</pre>

{{#data.listRow.withHomeWork}}
  Sdělení pro rodiče:
  <pre>{{data.listRow.homeWork}}</pre>
{{/data.listRow.withHomeWork}}