
<div class="card-body">
  <h3 class="card-title d-flex justify-content-between">
    <span>{{data.listRow.date}} {{#data.listRow.grade}}</span>
    <span>{{data.listRow.grade}}{{/data.listRow.grade}}</span>
    <!--<span>{{data.listRow.presence}}</span>-->
    <span class="text-success">{{{@icon;icon:user/check}}}</span>
  </h3>
  <pre>{{data.listRow.txt}}</pre>
</div>
