<div class="container-fluid" style="overflow-y: auto; height: 100%;">
  <h1 class="p-1 pt-3">{{{@icon;icon:user/clock}}} Rozvrh hodin</h1>

  {{#data.timeTable.days}}
    <ol class="list-group mb-2">
      <li class="list-group-item align-items-start">
        <h3 class="fw-bold">{{dayName}}</h3>

        {{#hours}}
          <div class="mt-2 me-auto">
            <h5><span class="fw-bold">{{timeBegin}} - {{timeEnd}}</span><span class="fw-normal"> - {{subjectTitle}}</span></h5>
            {{teacher}}, {{place}}
          </div>
        {{/hours}}
      </li>
    </ol>
  {{/data.timeTable.days}}
</div>