/**
 * default colors
 */
$e10w-body-bg: #F0F0F0 !default;
$e10w-body-text: #111 !default;
$e10w-content-link-text: #6666FF !default;
$e10w-content-link-hover-text: #667788 !default;
$e10w-content-link-visited-text: #667788 !default;

//$e10w-brand-primary-bg: #003D5B !default;
//$e10w-brand-primary-text: #FFFFFF !default;

//$e10w-brand-secondary-bg: #D1495B !default;
//$e10w-brand-secondary-text: #FFFFFF !default;

//$e10w-brand-accent-text: #EDAE49 !default;


/**
 * navbar
 */
$e10w-navbar-bg: #003D5B !default;
$e10w-navbar-text: #FFFFFF !default;
$e10w-navbar-select-bg: #FFFFFF !default;
$e10w-navbar-select-text: #003D5B !default;

/**
 * footer
 */
$e10w-footer-bg: $e10w-navbar-bg !default;
$e10w-footer-text: $e10w-navbar-text !default;
$e10w-footer-link-text: #007bff !default;
$e10w-footer-link-hover-text: darken($e10w-footer-link-text, 15%) !default;
$e10w-footer-link-visited-text: lighten($e10w-footer-link-text, 15%) !default;


/**
 * content
 */
$e10-sc-item-selected-bg: #007bff !default;
$e10-sc-item-selectable: $e10w-body-bg !default;
$e10-sc-item-selected-text: #FFF !default;
$e10-sc-item-selectable-text: #000000 !default;
$e10-sc-item-selectable-bg: #FFF !default;
$e10-sc-item-disabled-bg: #d3d6d9 !default;
$e10-sc-item-disabled-text: #000 !default;
$e10-sc-item-inactive-bg: #d3d6d9 !default;
$e10-sc-item-inactive-text: #000 !default;
$e10-sc-title-bg: #003D5B !default;
$e10-sc-title-text: #FFF !default;
$e10-sc-item-inactive-selected-bg: #bec0c2 !default;
$e10-sc-item-inactive-selected-text: #000 !default;
$e10-sc-item-selectable-hover-bg: #d3d6d9 !default;
$e10-sc-item-selectable-hover-text: #000 !default;



/**
 * sidebar-start (left)
 */
$e10w-sb-start-bg: #AEFEFE !default;
$e10w-sb-start-text: #111 !default;
$e10w-sb-start-link-text: #111 !default;
$e10w-sb-start-link-hover-text: darken($e10w-content-link-text, 15%) !default;
$e10w-sb-start-link-visited-text: darken($e10w-content-link-text, 10%) !default;
$e10w-sb-start-title-bg: #2C3539 !default;
$e10w-sb-start-title-text: #E5E4E2 !default;
$e10w-sb-start-subTitle-bg: #625D5D !default;
$e10w-sb-start-subTitle-text: #E5E4E2 !default;

/**
 * sidebar-end (right)
 */
$e10w-sb-end-bg: #FEAEFE !default;//#FEFEFE !default;
$e10w-sb-end-text: #111 !default;
$e10w-sb-end-link-text: #111 !default;
$e10w-sb-end-link-hover-text: darken($e10w-content-link-text, 15%) !default;
$e10w-sb-end-link-visited-text: darken($e10w-content-link-text, 10%) !default;
$e10w-sb-end-title-bg: #2C3539 !default;
$e10w-sb-end-title-text: #E5E4E2 !default;
$e10w-sb-end-subTitle-bg: #625D5D !default;
$e10w-sb-end-subTitle-text: #E5E4E2 !default;


/**
 * panes
 */
$e10w-paneA-bg: $e10w-navbar-bg !default;
$e10w-paneA-text: $e10w-navbar-text !default;
$e10w-paneA-link-color: #007bff !default;
$e10w-paneA-link-hover-color: darken($e10w-content-link-text, 15%) !default;
$e10w-paneA-link-visited-color: lighten($e10w-content-link-text, 15%) !default;
$e10w-paneA-handle-bg: #ECE5B6 !default;
$e10w-paneA-handle-text: #2C3539 !default;
$e10w-paneA-title-bg: #2C3539 !default;
$e10w-paneA-title-text: #E5E4E2 !default;
$e10w-paneA-subTitle-bg: #625D5D !default;
$e10w-paneA-subTitle-text: #E5E4E2 !default;


/**
 * document states
 */
$concepthandleTextColor:		#999;
$conceptHandleBackgroundColor:	#FDFF6B;

$doneHandleTextColor:			#999;
$doneHandleBackgroundColor:		#a0d7a0;

$halfdoneHandleTextColor:		#999;
$halfdoneHandleBackgroundColor:	#BDD0F2;

$confirmedHandleTextColor:		#999;
$confirmedHandleBackgroundColor:#BDD0F2;

$editHandleTextColor:			#999;
$editHandleBackgroundColor:		#FFCB6B;

$deleteHandleTextColor:			#999;
$deleteHandleBackgroundColor:	#000;

$cancelHandleTextColor:			#999;
$cancelHandleBackgroundColor:	#ff4040;

$archiveHandleTextColor:		#999;
$archiveHandleBackgroundColor:	#DEDEDE;


// -- color modes
$e10w-cm-done-bg: #41A317 !default;
$e10w-cm-done-text: #FFF !default;
$e10w-cm-failed-bg: #FF2400 !default;
$e10w-cm-failed-text: #FFF !default;
$e10w-cm-rowHandle-bg: #79BAEC !default;
$e10w-cm-rowHandle-text: #111 !default;


$e10-display-cm-panelTitle-bg: #003D5B !default;
$e10-display-cm-panelTitle-text: #FFF !default;
$e10-display-cm-tr-separator1: #fff2b2 !default;
$e10-display-cm-tr-separator2: #003D5B !default;
$e10-display-cm-rowContent-bg: #d3d6d9 !default;
$e10-display-cm-rowContent-text: #000 !default;
$e10-display-cm-panelSubTitle-bg: #656769 !default;
$e10-display-cm-panelSubTitle-text: #FFFFFF !default;
$e10-display-cm-panelHandle-bg: #fff2b2 !default;
$e10-display-cm-panelHandle-text: #242424 !default;
$e10-display-cm-percentage-rest: #0294db !default;
$e10-display-cm-rest-bg: #ffe669 !default;
$e10-display-cm-rest-text: #000000 !default;
$div-e10-display-panel-title: #ffd747 !default;


// sizes
$header-height-display: 3.5rem;
$footer-height-display: 1.5rem;



/**
 * breakpoints
 */

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$grid-gutter-width: 30px !default;
