{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
Potvrzení přihlášky: {{data.head.fullNameS}}
{{/data.reportTexts.emailSubject}}