{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
Výkupní lístek {{data.head.docNumber}}
{{/data.reportTexts.emailSubject}}