{{xmlMode}}<?xml version="1.0" encoding="utf-8"?>

<Invoice xmlns="http://isdoc.cz/namespace/2013" version="6.0.1">
	<DocumentType>{{data.ISDOC.documentType}}</DocumentType>
	<ID>{{data.head.docNumber}}</ID>
	<UUID>{{data.ISDOC.UUID}}</UUID>
	<EgovFlag>false</EgovFlag>
	<ISDS_ID></ISDS_ID>
	<FileReference></FileReference>
	<ReferenceNumber></ReferenceNumber>
	<EgovClassifiers>
		<EgovClassifier></EgovClassifier>
	</EgovClassifiers>
	<IssuingSystem>Shipard {{cfgItem.serverInfo.e10version}}.{{cfgItem.serverInfo.e10commit}}</IssuingSystem>
	<IssueDate>{{data.ISDOC.dateIssue}}</IssueDate>
	<TaxPointDate>{{data.ISDOC.dateTax}}</TaxPointDate>
	<VATApplicable>{{#data.head.taxPayer}}true{{/data.head.taxPayer}}{{^data.head.taxPayer}}false{{/data.head.taxPayer}}</VATApplicable>
	<ElectronicPossibilityAgreementReference></ElectronicPossibilityAgreementReference>
	<Note>{{data.head.title}}</Note>
	<LocalCurrencyCode>{{data.head.print.homeCurrency}}</LocalCurrencyCode>
	<ForeignCurrencyCode>{{data.head.print.currency}}</ForeignCurrencyCode>
	<CurrRate>{{data.head.exchangeRate}}</CurrRate>
	<RefCurrRate>1</RefCurrRate>

	<AccountingSupplierParty> <!--Dodavatel - účetní jednotka-->
		<Party>
			<PartyIdentification>
				<UserID>{{data.owner.id}}</UserID>
				<CatalogFirmIdentification></CatalogFirmIdentification>
				<ID>{{data.ISDOC.owner.ids.oid}}</ID>
			</PartyIdentification>
			<PartyName>
				<Name>{{data.owner.fullName}}</Name>
			</PartyName>
			<PostalAddress>
				<StreetName>{{data.ISDOC.owner.address.streetName}}</StreetName>
				<BuildingNumber>{{data.ISDOC.owner.address.buildingNumber}}</BuildingNumber>
				<CityName>{{data.owner.address.city}}</CityName>
				<PostalZone>{{data.owner.address.zipcode}}</PostalZone>
				<Country>
					<IdentificationCode>{{data.owner.address.countryNameSC2}}</IdentificationCode>
					<Name>{{data.owner.address.countryName}}</Name>
				</Country>
			</PostalAddress>
			<PartyTaxScheme>
				<CompanyID>{{data.ISDOC.owner.ids.taxid}}</CompanyID>
				<TaxScheme>VAT</TaxScheme>
			</PartyTaxScheme>
			<RegisterIdentification>
				<Preformatted>{{cfgItem.options.core.ownerLegalRegInfo}}</Preformatted>
			</RegisterIdentification>
			<Contact>
				<Name>{{data.ISDOC.owner.contacts.fullName}}</Name>
				<Telephone>{{data.ISDOC.owner.contacts.phone}}</Telephone>
				<ElectronicMail>{{data.ISDOC.owner.contacts.email}}</ElectronicMail>
			</Contact>
		</Party>
	</AccountingSupplierParty>

	<SellerSupplierParty> <!--Dodavatel - fakturační adresa-->
		<Party>
			<PartyIdentification>
				<UserID>{{data.owner.id}}</UserID>
				<CatalogFirmIdentification></CatalogFirmIdentification>
				<ID>{{data.ISDOC.owner.ids.oid}}</ID>
			</PartyIdentification>
			<PartyName>
				<Name>{{data.owner.fullName}}</Name>
			</PartyName>
			<PostalAddress>
				<StreetName>{{data.ISDOC.owner.address.streetName}}</StreetName>
				<BuildingNumber>{{data.ISDOC.owner.address.buildingNumber}}</BuildingNumber>
				<CityName>{{data.owner.address.city}}</CityName>
				<PostalZone>{{data.owner.address.zipcode}}</PostalZone>
				<Country>
					<IdentificationCode>{{data.owner.address.countryNameSC2}}</IdentificationCode>
					<Name>{{data.owner.address.countryName}}</Name>
				</Country>
			</PostalAddress>
			<PartyTaxScheme>
				<CompanyID>{{data.ISDOC.owner.ids.taxid}}</CompanyID>
				<TaxScheme>VAT</TaxScheme>
			</PartyTaxScheme>
			<Contact>
				<Name>{{data.ISDOC.owner.contacts.fullName}}</Name>
				<Telephone>{{data.ISDOC.owner.contacts.phone}}</Telephone>
				<ElectronicMail>{{data.ISDOC.owner.contacts.email}}</ElectronicMail>
			</Contact>
		</Party>
	</SellerSupplierParty>

	<AccountingCustomerParty> <!--Příjemce -->
		<Party>
			<PartyIdentification>
				<UserID>{{data.person.id}}</UserID>
				<CatalogFirmIdentification></CatalogFirmIdentification>
				<ID>{{data.ISDOC.person.ids.oid}}</ID>
			</PartyIdentification>
			<PartyName>
				<Name>{{data.person.fullName}}</Name>
			</PartyName>
			<PostalAddress>
				<StreetName>{{data.ISDOC.person.address.streetName}}</StreetName>
				<BuildingNumber>{{data.ISDOC.person.address.buildingNumber}}</BuildingNumber>
				<CityName>{{data.person.address.city}}</CityName>
				<PostalZone>{{data.person.address.zipcode}}</PostalZone>
				<Country>
					<IdentificationCode>{{data.person.address.countryNameSC2}}</IdentificationCode>
					<Name>{{data.person.address.countryName}}</Name>
				</Country>
			</PostalAddress>
			<PartyTaxScheme>
				<CompanyID>{{data.ISDOC.person.ids.taxid}}</CompanyID>
				<TaxScheme>VAT</TaxScheme>
			</PartyTaxScheme>
			<Contact>
				<Name>{{data.ISDOC.person.contacts.fullName}}</Name>
				<Telephone>{{data.ISDOC.person.contacts.phone}}</Telephone>
				<ElectronicMail>{{data.ISDOC.person.contacts.email}}</ElectronicMail>
			</Contact>
		</Party>
	</AccountingCustomerParty>

	<BuyerCustomerParty> <!--Odběratel, fakturační adresa-->
		<Party>
			<PartyIdentification>
				<UserID>{{data.person.id}}</UserID>
				<CatalogFirmIdentification></CatalogFirmIdentification>
				<ID>{{data.ISDOC.person.ids.oid}}</ID>
			</PartyIdentification>
			<PartyName>
				<Name>{{data.person.fullName}}</Name>
			</PartyName>
			<PostalAddress>
				<StreetName>{{data.ISDOC.person.address.streetName}}</StreetName>
				<BuildingNumber>{{data.ISDOC.person.address.buildingNumber}}</BuildingNumber>
				<CityName>{{data.person.address.city}}</CityName>
				<PostalZone>{{data.person.address.zipcode}}</PostalZone>
				<Country>
					<IdentificationCode>{{data.person.address.countryNameSC2}}</IdentificationCode>
					<Name>{{data.person.address.countryName}}</Name>
				</Country>
			</PostalAddress>
			<PartyTaxScheme>
				<CompanyID>{{data.ISDOC.person.ids.taxid}}</CompanyID>
				<TaxScheme>VAT</TaxScheme>
			</PartyTaxScheme>
			<Contact>
				<Name>{{data.ISDOC.person.contacts.fullName}}</Name>
				<Telephone>{{data.ISDOC.person.contacts.phone}}</Telephone>
				<ElectronicMail>{{data.ISDOC.person.contacts.email}}</ElectronicMail>
			</Contact>
		</Party>
	</BuyerCustomerParty>

	<InvoiceLines>
		{{#data.rows}}
			{{^isAdvance}}
				<InvoiceLine>
					<ID>{{rowNumberAll}}</ID>
					<InvoicedQuantity unitCode="{{print.unit}}">{{quantity}}</InvoicedQuantity>
					<LineExtensionAmountCurr>{{taxBase}}</LineExtensionAmountCurr>
					<LineExtensionAmount>{{taxBaseHc}}</LineExtensionAmount>
					<LineExtensionAmountTaxInclusiveCurr>{{priceTotal}}</LineExtensionAmountTaxInclusiveCurr>
					<LineExtensionAmountTaxInclusive>{{priceTotalHc}}</LineExtensionAmountTaxInclusive>
					<LineExtensionTaxAmount>{{taxHc}}</LineExtensionTaxAmount>
					<UnitPrice>{{priceItem}}</UnitPrice>
					<UnitPriceTaxInclusive>{{priceItem}}</UnitPriceTaxInclusive>
					<ClassifiedTaxCategory>
						<Percent>{{taxPercents}}</Percent>
						<VATCalculationMethod>{{data.ISDOC.vatCalculationMethod}}</VATCalculationMethod>
					</ClassifiedTaxCategory>
					<Item>
						<Description>{{text}}</Description>
						<SellersItemIdentification><ID>{{itemID}}</ID></SellersItemIdentification>
						<SecondarySellersItemIdentification><ID>{{item}}</ID></SecondarySellersItemIdentification>
						{{#itemManufacturerId}}<CatalogueItemIdentification><ID>{{itemManufacturerId}}</ID></CatalogueItemIdentification>
						{{/itemManufacturerId}}
					</Item>
				</InvoiceLine>
			{{/isAdvance}}
		{{/data.rows}}
	</InvoiceLines>

	{{#data.hasNonTaxAdvance}}
	<NonTaxedDeposits>
		{{#data.rows}}
			{{#isNonTaxAdvance}}
				<NonTaxedDeposit>
					<ID>{{symbol1}}</ID>
					<VariableSymbol>{{symbol1}}</VariableSymbol>
					<DepositAmountCurr>{{taxBase}}</DepositAmountCurr>
					<DepositAmount>{{taxBaseHc}}</DepositAmount>
				</NonTaxedDeposit>
			{{/isNonTaxAdvance}}
		{{/data.rows}}
	</NonTaxedDeposits>
	{{/data.hasNonTaxAdvance}}

	{{#data.hasTaxAdvance}}
	<TaxedDeposits>
		{{#data.rows}}
			{{#isTaxAdvance}}
				<TaxedDeposit>
					<ID>{{symbol1}}</ID>
					<VariableSymbol>{{symbol1}}</VariableSymbol>
					<TaxableDepositAmountCurr>{{taxBase}}</TaxableDepositAmountCurr>
					<TaxableDepositAmount>{{taxBaseHc}}</TaxableDepositAmount>
					<TaxInclusiveDepositAmountCurr>{{priceTotal}}</TaxInclusiveDepositAmountCurr>
					<TaxInclusiveDepositAmount>{{priceTotalHc}}</TaxInclusiveDepositAmount>
					<ClassifiedTaxCategory>
						<Percent>{{taxPercents}}</Percent>
						<VATCalculationMethod>{{data.ISDOC.vatCalculationMethod}}</VATCalculationMethod>
					</ClassifiedTaxCategory>
				</TaxedDeposit>
			{{/isTaxAdvance}}
		{{/data.rows}}
	</TaxedDeposits>
	{{/data.hasTaxAdvance}}

	<TaxTotal>
		{{#data.taxes}}
			<TaxSubTotal>
				<TaxableAmountCurr>{{sumBase}}</TaxableAmountCurr>
				<TaxableAmount>{{sumBase}}</TaxableAmount>
				<TaxAmountCurr>{{sumTax}}</TaxAmountCurr>
				<TaxAmount>{{sumTaxHc}}</TaxAmount>
				<TaxInclusiveAmountCurr>{{sumTotal}}</TaxInclusiveAmountCurr>
				<TaxInclusiveAmount>{{sumTotalHc}}</TaxInclusiveAmount>
				<AlreadyClaimedTaxableAmountCurr>0.0</AlreadyClaimedTaxableAmountCurr>
				<AlreadyClaimedTaxableAmount>0.0</AlreadyClaimedTaxableAmount>
				<AlreadyClaimedTaxAmountCurr>0.0</AlreadyClaimedTaxAmountCurr>
				<AlreadyClaimedTaxAmount>0.0</AlreadyClaimedTaxAmount>
				<AlreadyClaimedTaxInclusiveAmountCurr>0.0</AlreadyClaimedTaxInclusiveAmountCurr>
				<AlreadyClaimedTaxInclusiveAmount>0.0</AlreadyClaimedTaxInclusiveAmount>
				<DifferenceTaxableAmountCurr>0</DifferenceTaxableAmountCurr>
				<DifferenceTaxableAmount>0</DifferenceTaxableAmount>
				<DifferenceTaxAmountCurr>0</DifferenceTaxAmountCurr>
				<DifferenceTaxAmount>0</DifferenceTaxAmount>
				<DifferenceTaxInclusiveAmountCurr>0</DifferenceTaxInclusiveAmountCurr>
				<DifferenceTaxInclusiveAmount>0</DifferenceTaxInclusiveAmount>
				<TaxCategory>
					<Percent>{{taxPercents}}</Percent>
				</TaxCategory>
			</TaxSubTotal>
		{{/data.taxes}}

		<TaxAmountCurr>{{data.head.sumTax}}</TaxAmountCurr>
		<TaxAmount>{{data.head.sumTaxHc}}</TaxAmount>
	</TaxTotal>

	<LegalMonetaryTotal>
		<TaxExclusiveAmount>{{data.head.sumBaseHc}}</TaxExclusiveAmount>
		<TaxExclusiveAmountCurr>{{data.head.sumBase}}</TaxExclusiveAmountCurr>
		<TaxInclusiveAmount>{{data.head.sumTotalHc}}</TaxInclusiveAmount>
		<TaxInclusiveAmountCurr>{{data.head.sumTotal}}</TaxInclusiveAmountCurr>
		<AlreadyClaimedTaxExclusiveAmount>{{data.nonTaxAdvanceSumBaseHc}}</AlreadyClaimedTaxExclusiveAmount>
		<AlreadyClaimedTaxExclusiveAmountCurr>{{data.nonTaxAdvanceSumBase}}</AlreadyClaimedTaxExclusiveAmountCurr>
		<AlreadyClaimedTaxInclusiveAmount>{{data.nonTaxAdvanceSumTotal}}</AlreadyClaimedTaxInclusiveAmount>
		<AlreadyClaimedTaxInclusiveAmountCurr>{{data.nonTaxAdvanceSumTotalHc}}</AlreadyClaimedTaxInclusiveAmountCurr>

		<DifferenceTaxExclusiveAmount>{{data.taxBaseWithoutAdvances}}</DifferenceTaxExclusiveAmount>
		<DifferenceTaxExclusiveAmountCurr>{{data.taxBaseWithoutAdvancesHc}}</DifferenceTaxExclusiveAmountCurr>
		<DifferenceTaxInclusiveAmount>{{data.totalWithoutAdvances}}</DifferenceTaxInclusiveAmount>
		<DifferenceTaxInclusiveAmountCurr>{{data.totalWithoutAdvancesHc}}</DifferenceTaxInclusiveAmountCurr>

		<PayableRoundingAmount>{{data.head.roundingHc}}</PayableRoundingAmount>
		<PayableRoundingAmountCurr>{{data.head.rounding}}</PayableRoundingAmountCurr>
		<PaidDepositsAmount>0.00</PaidDepositsAmount>
		<PaidDepositsAmountCurr>0.00</PaidDepositsAmountCurr>
		<PayableAmount>{{data.head.toPayHc}}</PayableAmount>
		<PayableAmountCurr>{{data.head.toPay}}</PayableAmountCurr>
	</LegalMonetaryTotal>

	<PaymentMeans>
		<Payment>
			<PaidAmount>{{data.head.toPay}}</PaidAmount>
			<PaymentMeansCode>{{data.ISDOC.paymentMethod}}</PaymentMeansCode>
			<Details>
				<PaymentDueDate>{{data.ISDOC.dateDue}}</PaymentDueDate>
				<ID>{{data.ISDOC.bankID}}</ID>
				<BankCode>{{data.ISDOC.bankCode}}</BankCode>
				<Name>{{data.ISDOC.bankName}}</Name>
				<IBAN>{{data.ISDOC.bankIBAN}}</IBAN>
				<BIC>{{data.ISDOC.bankSWIFT}}</BIC>
				<VariableSymbol>{{data.head.symbol1}}</VariableSymbol>
				<ConstantSymbol>{{data.head.symbol3}}</ConstantSymbol>
				<SpecificSymbol>{{data.head.symbol2}}</SpecificSymbol>
			</Details>
		</Payment>
	</PaymentMeans>
</Invoice>
