<!DOCTYPE HTML>
<html lang="cs">
<head>
	<title>test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="file://{{fsRoot}}/e10-modules/wwwlibs/Font-Awesome42/less/font-awesome.css">
	<link rel="stylesheet" href="file://{{templateRoot}}style.css" type="text/css"/>
</head>
<body>

{{{@renderData;dataItem:data.head.bookTextSource}}}

</body>
</html>

