<h3>Struktura tabulky <span class="pull-right">{{data.table.id}}</span></h3>
<table class="table table-bordered table-condensed table-striped table-hovered">
	<thead>
	<tr>
		<th>id</th>
		<th>Název</th>
		<th>Typ</th>
	</tr>
	</thead>
	{{#data.table.columns}}
		<tr>
			<td>{{id}}</td>
			<td>{{name}}</td>
			<td>
				{{typeName}}
				{{#columnReference}} {{{@composeTextLine;dataItem:columnReference}}}{{/columnReference}}
				{{#columnEnum.0}}
					<ul class='e10-doc-model-table-enum'>
					{{#columnEnum}}
						<li><code>{{id}}</code> {{text}}</li>
					{{/columnEnum}}
					</ul>
				{{/columnEnum.0}}
			</td>
		</tr>
	{{/data.table.columns}}
</table>
