<!DOCTYPE HTML>
<html lang="cs">
<head>
    <title>test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="{{dsUrl}}www-root/templates/reports/default/style-default.css" type="text/css"/>

    <style>
        #rows {
            font-size: 9pt;
        }

        table.properties {
           font-size: 10pt;
           padding: 6pt;

        }

        table.properties tr td:nth-child(3) {padding-left: 22pt;}
    </style>

</head>
<body>

<div id='top'>
    <span class='documentName'>Inventura zásob - Rozdíly</span>
    <span class='documentNumber'>{{@dict;číslo}}: {{data.head.docNumber}}</span>
</div>


<table class="properties" style="width: 100%;">
    <tr>
        <td>Datum inventury:</td><td>{{data.head.dateCheck}}</td>
        <td>Sklad:</td><td>{{data.warehouse.fullName}}</td>
    </tr>
    <tr>
        <td>Rozdíly ke dni:</td><td>{{data.today}}</td>
        <td>Poznámka:</td><td>{{data.head.subject}}</td>
    </tr>
    <tr>
    </tr>
</table>


<table id='rows'>
    <thead>
    <tr>
        <th class='number'>{{@dict;ř.}}</th>
        <th class='number'>{{@dict;Položka}}</th>
        <th>{{@dict;Název}}</th>
        <th class='number'>{{@dict;Inventura}}</th>
        <th class='number'>{{@dict;Na skladě}}</th>
        <th class='number'>{{@dict;Rozdíl}}</th>
        <th>{{@dict;Jed.}}</th>
    </tr>
    </thead>
    {{#data.rowsAll}}
    <tr>
        <td class='number'>{{rownum}}.</td>
        <td class='number'>{{itemid}}</td>
        <td>{{itemFullName}}</td>
        <td class='number'>{{checkQuantity}}</td>
        <td class='number'>{{invQuantity}}</td>
        <td class='number'>{{diff}}</td>
        <td>{{@dict;dataItem:unit}}</td>
    </tr>
    {{/data.rowsAll}}
</table>



<div id='footer'></div>

</body>
</html>

