<body class="me-body-system">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="e10-sp-header" style="background-color: transparent;border-color: transparent;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class='e10-sp-title1' href="{{urlRoot}}"><img style="height: 3em;padding: .5em;" alt="shipard-demo.cz" src="https://shipard-demo.cz/att/2019/05/04/e10pro.hosting.server.portals/shipard-logo-header-demo-106n9ab.svg"></a><br>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-header-collapse">
            <ul class="nav navbar-nav pull-right">
							{{#systemLanguages}}
                  <li{{#active}} class="active"{{/active}}><a style="color:white;" href="{{@urlUser;type:setLanguage}}/{{id}}"><span>{{f}} {{sc}}{{#beta}}<sup style="padding:0 1px; margin-left: 2px;background-color: #c4c4c4;color: #111; border-radius: 2px;">beta</sup>{{/beta}}</span></a></li>
							{{/systemLanguages}}
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-12 col-lg-8 col-lg-offset-2">
			{{#page.url_user_login}}{{#data.hostingPortal.this.hasLoginUsers}}
				<h4 style="color: white; text-align: center; padding-top: 2rem;">{{@tr;id:e10.demo.DictDemo.diSelectLoginUser}}</h4>
				{{#data.hostingPortal.this.loginUsers}}
					<div class="media btn btn-default demo-user-btn" data-login="{{login}}" style="text-align: left!important; white-space: normal;">
						<div class="media-left">
							<a href="#">
								<img class="media-object" style="max-width: 64px;" src="{{urlRoot}}/imgs/-w128/att/{{img.fileName}}" >
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">{{fullName}}</h4>
							{{#properties.e10demo-user.e10demo-user-desc}}
								{{value}}
							{{/properties.e10demo-user.e10demo-user-desc}}
						</div>
					</div>
				{{/data.hostingPortal.this.loginUsers}}
			{{/data.hostingPortal.this.hasLoginUsers}}{{/page.url_user_login}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div style="text-align: center; padding-bottom: 1rem; padding-top: 1rem; margin-top: 2rem;">
				<img style="max-width: 20em;" class="me-logo" alt="Logo" src="{{urlRoot}}/att/{{data.hostingPortal.this.logoFooter.fileName}}">
			</div>
			<br>
			<div class="me-system-footer" style="text-align: center; padding-bottom: 1rem;">
				<span class='e10-sp-title2'><b>{{@tr;id:e10.base.system.DictSystem.diCore_TechnicalSupport}}:</b></span><br>
				<span class='e10-sp-title2'><i class="fa fa-phone"></i> {{data.hostingPortal.this.supportPhone}}</span> |
				<span class='e10-sp-title2'><i class="fa fa-envelope"></i> <a href="mailto:{{data.hostingPortal.this.supportEmail}}">{{data.hostingPortal.this.supportEmail}}</a></span><br>
				<span class='e10-sp-title2'><i class="fa fa-globe"></i> <a href="{{data.hostingPortal.this.supportWeb}}" target="new" title="{{data.hostingPortal.this.supportName}}">{{data.hostingPortal.this.supportWebTitle}}</a></span><br>
			</div>
		</div>
	</div>
</div>

<div style="display: none;">{{{pageText}}}</div>


<script src="//cdn.shipard.com/jquery/jquery-2.2.4.min.js"></script>

<script>
	$("body").on ('click', ".demo-user-btn", function(event) {
		selectUser ($(this), event);
	});

	function selectUser (e, event)
	{
		var login = e.attr ('data-login');
		$('#login').val (login);
		$('#password').val (b64DecodeUnicode ('dGFqbsOpIGhlc2xvIGNvIG5pa2RvIG5lem7DoQ=='));
		$('#e10-lf').submit();
	}

	function b64DecodeUnicode(str) {
		return decodeURIComponent(Array.prototype.map.call(atob(str), function(c) {
			return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
		}).join(''));
	}
</script>

</body>
</html>
