[Unit]
Description=e10 app cache
After=network.target auditd.service

[Service]
PIDFile=/var/run/e10-service-cache.pid
ExecStart=/var/www/e10-server/e10/server/etc/services/e10-service-cache.sh
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
