[Unit]
Description=Shipard hosting telemetry upload ver 0.1
After=network.target auditd.service

[Service]
User=shpd
Group=shpd
PIDFile=/var/lib/shipard/shpd/shpd-hosting-upload.pid
ExecStart=/usr/lib/shipard/etc/services/shpd-hosting-upload.sh
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
