<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{page.pageTitle}}</title>
	{{{headMetaTags}}}

	<link href="{{scRoot}}/bs/5.0/dist/css/bootstrap.min.css?v452" rel="stylesheet">
	{{{htmlCodeIcons}}}
	<link href="{{scRoot}}/libs/js/fancybox/3/jquery.fancybox.min.css" rel="stylesheet">
	<link href="{{dsRoot}}{{serverInfo.templateStylePath}}/{{serverInfo.look}}-app.css?v={{serverInfo.lookVersion.app}}" rel="stylesheet">
	<script src="{{scRoot}}/libs/js/jquery/jquery-3.5.1.min.js"></script>

	<style>

		html, body {
			width: 100%;
			height: 100%;
		}

		div.app {
			height: 100%;
			display: grid;
			grid-template-rows: auto 1fr auto;
			grid-template-columns: 100%;
		}

		main {
			overflow-y: auto;
		}
	</style>
</head>

<body{{page.bodyEditParams}} class="{{page.bodyClasses}}{{#serverInfo.templateParams.topMenuFixedTop}} top-menu-fixed-top{{/serverInfo.templateParams.topMenuFixedTop}}">

<div class="app">
<header>
	<nav class="navbar navbar-expand-{{serverInfo.templateParams.desktopMenuFrom}}{{#serverInfo.templateParams.topMenuFixedTop}} fixed-top{{/serverInfo.templateParams.topMenuFixedTop}} {{serverInfo.templateParams.topMenuStyle}}">
		<div class="container-fluid">
			<span class="navbar-brand">
				<a href="{{urlRoot}}/">
					{{#serverInfo.images.template.headerLogo}}<img src="{{dsRoot}}{{serverInfo.images.template.headerLogo}}"/>{{/serverInfo.images.template.headerLogo}}
					{{^userAuthenticated}}{{serverInfo.templateParams.headerTitle}}{{/userAuthenticated}}
				</a>
			</span>
			{{#userAuthenticated}}
				<span class="navbar-brand" style="font-size: 75%;">
							<div class="test655555"><i class="fa fa-user-circle-o"></i> {{userName}}</div>
							<div>{{serverInfo.templateParams.headerTitle}}</div>
				</span>
			{{/userAuthenticated}}

			{{#webModeTerminal}}
				<span class="flex-column" id="XXXX_navbarCollapse" style="flex-grow: 1; padding-right: 2rem;">
					<a class="btn btn-success pull-right" href="{{@urlUser;type:logout}}">Hotovo</a>
				</span>
			{{/webModeTerminal}}


			{{#menu.items.0}}
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			{{/menu.items.0}}


			{{#menu.items.0}}
				<div class="collapse navbar-collapse flex-column align-items-end ml-lg-0 ml-" id="navbarCollapse">
					{{#page.headerExt}}{{{page.headerExt}}}{{/page.headerExt}}
					<ul class="nav navbar-nav menu-top-main">
						{{#userAuthenticated}}
							{{#menu.items}}
								<li class='nav-item{{#active}} active{{/active}}'>
									<a class="nav-link" href="{{urlRoot}}{{url}}">{{title}}</a>
								</li>
							{{/menu.items}}
						{{/userAuthenticated}}
					</ul>
				</div>
			{{/menu.items.0}}
		</div>
	</nav>
</header>

<main class="e10w-top-element">
	<div class="container-fluid">
		{{#page.params.myLayout}}
			{{{pageText}}}
		{{/page.params.myLayout}}
		{{^page.params.myLayout}}
			<div class="row">
				{{#page.layoutSidebarNone}}
					<div class="col-sm-12 {{page.mainTextClass}}">
						{{{pageText}}}
					</div>
				{{/page.layoutSidebarNone}}
				{{#page.layoutSidebarLeft}}
					<div class="sidebar left col-md-3 col-lg-3 e10-text">{{{textLeftSidebar}}}</div>
					<div class="col-md-9 main-text col-lg-9 {{page.mainTextClass}}">{{{pageText}}}</div>
				{{/page.layoutSidebarLeft}}
				{{#page.layoutSidebarRight}}
					<div class="col-lg-9 main-text {{page.mainTextClass}}">{{{pageText}}}</div>
					<div class="sidebar right col-lg-3">{{{textRightSidebar}}}</div>
				{{/page.layoutSidebarRight}}
				{{#page.layoutSidebarBoth}}
					<div class="sidebar left col-lg-3">{{{textLeftSidebar}}}</div>
					<div class="col-lg-6 main-text {{page.mainTextClass}}">{{{pageText}}}</div>
					<div class="sidebar right col-lg-3">{{{textRightSidebar}}}</div>
				{{/page.layoutSidebarBoth}}
			</div>
		{{/page.params.myLayout}}
	</div>
	{{#page.footerExtension}}{{{page.footerExtension}}}{{/page.footerExtension}}
</main>

<footer id="pageFooter" class="page-footer ">
	<div class="container-fluid">
		{{#page.buttons.0}}
			<div class="row">
				<div class="col-md-12 text-lg-center mt-3 pb-1">
				{{#page.buttons}}
					<button class="e10-document-trigger btn btn-primary btn-xs"{{#attr}} data-{{k}}="{{v}}"{{/attr}} title="{{text}}">
						{{{@icon;dataItem:icon}}}"></i> {{text}}
					</button>
				{{/page.buttons}}
					<hr>
				</div>
			</div>
		{{/page.buttons.0}}

		{{#page.footerFull}}{{{page.footerFull}}}{{/page.footerFull}}
		{{^page.footerFull}}
			<div class="row">
				<div class="col-6 mt-2 pb-2" style="text-align: left;">
					{{#webSocketServers}}
						<span class="e10-wss-connect" id="wss-{{id}}" title="{{id}}/{{name}}">{{{@icon;dataItem:icon}}}</span>
					{{/webSocketServers}}

					{{#serverInfo.images.template.footerLogo}}<img src="{{dsRoot}}{{serverInfo.images.template.footerLogo}}" style="height: 1.4rem; "/><br>{{/serverInfo.images.template.footerLogo}}
				</div>
				<div class="col-6 mt-2 pb-2" style="text-align: right;">
					<img style="height: 1.4rem; opacity: .25;" src="{{scRoot}}/shipard/graphics/logo-white-web.svg">
				</div>
			</div>
		{{/page.footerFull}}
	</div>
</footer>

</div>

<script type="text/javascript">var httpApiRootPath = '{{urlRoot}}'; var httpServerRootPath = '{{urlServer}}';</script>
{{#serverInfo.secureWebPage}}<script src="{{dsRoot}}/e10-modules/e10/server/js/e10web.js?ver=22"></script>{{/serverInfo.secureWebPage}}
<script type="text/javascript" src="{{scRoot}}/libs/js/popperjs/popper.min.js"></script>
<script type="text/javascript" src="{{scRoot}}/bs/4.5/dist/js/bootstrap.min.js?v452"></script>
<script type="text/javascript" src="{{scRoot}}/libs/js/fancybox/3/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="{{dsRoot}}/e10-modules/e10templates/libs/utils/default.js?v=1"></script>
{{{jsLibs}}}
</body>
</html>
